[section="asset-detail"]{

}
.control-panel{
    display: inline-block;
    float: right;
}
[section="asset-detail"] > .asset-info{
    margin-top: 20px;
}
[section="asset-detail"] > .asset-info:after{
    clear: both;
    display: block;
    content: " ";
}
[section="asset-detail"] > .asset-info > .asset-img{
    width: 150px;
    height: 150px;
    float: left;
}
[section="asset-detail"] > .asset-info > .asset-img>img{
    width: 100%;
}
[section="asset-detail"] > .asset-info > .asset-detail{
    width: 80%;
    display: inline-block;
    margin-top: 20px;
}
[section="asset-detail"] > .asset-info > .asset-detail table tr:nth-child(n+3) td:nth-child(2n){
    padding-right: 50px;
}
[section="asset-detail"] > .asset-info > .asset-detail > .asset-name{
    font-weight: bold;
    font-size: 24px;
}
[section="asset-detail"] > .asset-info > .asset-detail > div{
    padding: 7px 10px;
}
[section="asset-detail"] > .asset-additional-info{
    margin-top: 30px;
}
[section="asset-detail"] .asset-configuration{
    width: 100%
}
[section="asset-detail"] .asset-configuration tr td{
    padding: 8px;
    border-bottom:  1px solid #ddd;
}
[section="asset-detail"] .asset-configuration tr td:first-child{
    background-color: #ddd;
    border-bottom:  1px solid #ccc;
}
[section="asset-detail"] .asset-configuration tr:last-child td{
    border-bottom: 0px;
}
[section="asset-detail"] .history-item{
    margin-bottom: 10px;
}
[section="asset-detail"] .history-item .title{
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
}
[section="asset-detail"] .history-item .title>i{
    color: #3f89ba;
}
[section="asset-detail"] .history-item .title:hover{
    background-color: #f8f8f8;
}
[section="asset-detail"] .history-item .detail{
    display: none;
    padding-left: 50px;
}
[section="asset-detail"] .history-date{
    float: right;
    font-size: 13px;
    color: #8c8c8c;
}
.btn-asset-order{
    width: 165px;
}
.btn-asset{
    width: 130px;
}
.Capture{
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
}
.Capture a{
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #428bca;
    margin: 10px 0;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.asset-child.category-view {
    margin: 0;
    padding: 0;
    list-style: none inside none;
    margin-top: 20px;
}

.asset-child.category-view li {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
}

.asset-child.category-view li div.imgVerFrame {
    height: 100px; /* equals max image height */
    width: 100px;
    white-space: nowrap;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    object-fit: contain;
}

.asset-child.category-view li div.imgVerFrame .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.asset-child.category-view li div.imgVerFrame img {
    vertical-align: middle;
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    width: 100%;
}

.asset-child.category-view li > span {
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
}
.review {
    position: relative;
    margin-bottom: 15px;
}
.owner {
    display: inline-block;
}
span.date {
    position: absolute;
    right: 0.5px;
}
.review .comment {
    padding-left: 20px;
    padding-top: 10px;

}