.attr-list{
    padding: 0;
    margin: 0;
    list-style: none inside none;
}
.attr-list li {
    margin-bottom: 5px;
}
.attr-list li>*:not(ul){
    height: 36px;
}
.attr-list li .component-combobox .wrapper{
    margin-top: 3px;
}
.attr-list ul{
    padding-left: 30px;
    margin: 5px 0 0 0;
    list-style: none inside none;
}