[section="no-item"] p {
    font-size: 25px;
    text-align: center;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    color: #919191;
    /* left: -3%; */
}

[section="no-item"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-panel{
    display: inline-block;
    float: left;
}
.control-panel button{
    display: block;
    width: 70%;
}
[component="paging"]{
    margin: 7px 50px;
}
.control-panel{
    display: inline-block;
    float: left;
}
.control-panel button{
    display: block;
    width: 70%;
}
.view-control{
    display: inline-block;
    float: right;
    margin: 7px 7px 7px 0;
}
.view-control{
    display: inline-block;
    float: right;
}
table.datatable th:last-child button{
    width: 180px;
    display: inline-block;
    font-size: 14px;
}
#menu_tool {
    padding-bottom: 15px;
}
.header-control .addon-control{
    border-width: 0 0 1px 0;
    border-radius: 0;
    margin-right: 10px;
}
.header-control .addon-control *{
    background-color: transparent;
}
.header-control .addon-control button{
    color: #7a7a7a;
    padding: 5px 7px;
}
.header-section .main-title{
    margin: 0px;
}
.request-list{
    margin-top: 0px;
}
[page="user"] .right-panel{
    padding: 0px !important;
    background-color: transparent !important;
    border: 0px !important;
    padding-right: 10px !important;
}
[page="user"] .header-section{
    background-color: #fff;
    padding: 20px;
}