.modal-body form {
    width:100%;
}
#adminmenu li.wp-menu-separator{
    border-bottom:1px solid #a5a5a5;
}
table form {
    display: inline-block;
}
.btn.btn-flat{
    border: 0;
    background-color: transparent;
    padding: 0;
    font-size: 25px;
}
.btn.btn-flat.danger{
    color: #e57575;
}
.btn.btn-flat.success {
    color: #5cd664;
}
.control-full {
    width: 100%;
}
.icon.addon {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    border-right: 1px solid #dddddd;
}
.has-addon.addon-left{
    padding-left: 35px;
}
.am-header{
    margin-bottom: 15px !important;
}
.yesno_option{
    width: 100%;
}
.yesno_option label {
    float: left;
    position: relative;
    min-width: 50px;
}
.yesno_option label input[type="radio"]{
    width:100%;
    margin: 0px;
    min-height: 30px;
    line-height: 30px;
    /* padding: 5px !important; */
    border-radius: 0px;
    position: absolute;
    text-align: center;
    -webkit-box-shadow:inset 0px 0px 7px 2px rgba(0,0,0,.5);
    box-shadow:inset 0px 0px 7px 2px rgba(0,0,0,.5);
}
.yesno_option label:first-child input[type="radio"]{
    border-radius: 8px 0 0 8px;
}
.yesno_option label:last-child input[type="radio"]{
    border-radius: 0 8px 8px 0;
}
.yesno_option label input[type="radio"]:checked{
    background-color: #4779cc;
}
.yesno_option label input[type="radio"]:focus {
    outline: 0;
}
.yesno_option label input[type="radio"]:before{
    font-family: 'arial';
    line-height: 5px;
    font-size: 15px;
    margin: 0;
    line-height: 30px;
    /* margin-top: 4px; */
    font-weight: bold;
    color: rgba(0, 0, 0,.5);
    /* text-align: center; */
    width: 100%;
    text-indent: 0;
    background-color: transparent;
}
.yesno_option label input[type="radio"]:checked:before{

    color: #fff;
}
.yesno_option label:first-child input[type="radio"]{
    border-right: 2px solid #9ea1a8;
    background-color: rgba(198, 69, 57,.1);
}
.yesno_option label:last-child input[type="radio"]{
    border-left: 2px solid #9ea1a8;
    background-color: rgba(61, 175, 69,.1);
}
.yesno_option label:first-child input[type="radio"]:checked{
    background-color: rgba(198, 69, 57,1);
}
.yesno_option label:last-child input[type="radio"]:checked{
    background-color: rgba(61, 175, 69,1);
}
.yesno_option label:first-child input[type="radio"]:before{
    content: 'Off';

}
.yesno_option label:last-child input[type="radio"]:before{
    content: 'On';
}
.tablenav-pages-navspan {
    padding: 7px 10px;
    height: auto;
}
.table-form-search{

}
.table-form-search input[type="text"]{
    width: 100px;
    font-size: 10px;
    margin: 0;
}
.table-form-search input[type="submit"]{
    width: 40px;
    font-size: 10px;
    margin: 0;
    float: right;
    padding: 0;
    border: 1px solid #d1d1d1;
    border-left: 0px;
    margin-top: 1px;
}
.section-assetCost .submenu-tab{
    margin: 0;
    padding: 0;
    list-style: none inside none;
    border: 1px solid #c1c1c1;
    width: 100%;
    margin-bottom: 20px;
}
.section-assetCost .submenu-tab .submenu-tab-item{
    display: inline-block;
    padding: 7px 10px;
    margin: 0;
    position: relative;
}
.section-assetCost .submenu-tab .submenu-tab-item a{
    color: #000;
    text-decoration: none;
}
.section-assetCost .submenu-tab .submenu-tab-item.active,
.section-assetCost .submenu-tab .submenu-tab-item:hover{
    background-color: #5a5b5e;
}
.section-assetCost .submenu-tab .submenu-tab-item:first-child.active{
    border-left: 1px solid #fff;
    margin-left: -1px;
}
.section-assetCost .submenu-tab .submenu-tab-item.active a,
.section-assetCost .submenu-tab .submenu-tab-item:hover a{
    color: #fff;
    font-weight: bold;
}
.section-assetCost .submenu-tab .submenu-tab-item.active::before,
.section-assetCost .submenu-tab .submenu-tab-item:hover::before{
    display: block;
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-width: 15px 5px 15px 5px;
    border-color: transparent transparent transparent #fff;
    left: 0;
    top: 50%;
    margin-top: -15px;
}
.section-assetCost .submenu-tab .submenu-tab-item.active::after,
.section-assetCost .submenu-tab .submenu-tab-item:hover::after{
    display: block;
    content: '';
    position: absolute;
    border: 10px solid #fff;
    border-width: 15px 5px 15px 5px;
    border-color: transparent #fff transparent transparent;
    right: 0;
    top: 50%;
    margin-top: -15px;

}

.section-assetCost .groupBox{
    position: relative;
    margin-top: 18px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    height: 300px;
    padding-top: 35px;
}
.section-assetCost .groupBox span {
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.section-assetCost #lisVariable{
    padding: 0;
    margin: 0;
    list-style: none inside none;

    height: 270px;

    overflow: hidden;
    overflow-y: auto;
}

.section-assetCost #lisVariable::-webkit-scrollbar {
    width: 5px;
}

.section-assetCost #lisVariable::-webkit-scrollbar-track {
}

.section-assetCost #lisVariable::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    outline: 1px solid slategrey;
    border-radius: 5px;
}
.section-assetCost .groupBox #lisVariable li{
    cursor: pointer;
}
.section-assetCost .formAction input[name="btnSave"],
.section-assetCost .formAction input[name="btnCancel"]{
    padding-left: 25px;
    padding-right: 25px;
}
.error-panel{
    margin-left: 15px;
    border: 1px solid #d38989;
    background-color: #ffafaf;
    color: #000;
    padding: 5px 7px;
}
.error-panel li{
    margin: 0;
}