@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('http://localhost:8000/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.eot');
    src: url('http://localhost:8000/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://localhost:8000/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://localhost:8000/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://localhost:8000/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'), url('http://localhost:8000/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.woff2') format('woff2');
}