﻿body{
	padding:0;
	margin:0;
	background-color: #f2f2f2;
}
input {
	outline: none;
	border: 1px solid #ddd;
}
input[type="checkbox"]{
	border-radius: 0;
}
button{
	outline: none;
}
.section-helpdeskconsole {

	position: absolute;

	top: 3%;

	left: 3%;

	right: 3%;

	bottom: 3%;

	border-radius: 4px;

	overflow: hidden;

	border: 1px solid #c4c4c4;

	-webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);

	box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);

	background-color: #fff;
}
.section-helpdeskconsole .header{

	position: absolute;

	top: 0;

	left: 0;

	right: 0;
}
.section-helpdeskconsole .header div {
	background-color: #1f94dd;
	height: 31px;
}
.section-helpdeskconsole .header div h1 {
	color: #fff;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin-right: 30px;
	float: left;
	font-size: 28px;
}
.section-helpdeskconsole .header div button{
	background-color: transparent;
	border: 1px solid #fff;
	padding: 7px 13px;
	cursor: pointer;
	color: #337ab7;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px 0 0px #337ab7, inset 0px 0px 0px 1px #337ab7;
	box-shadow: inset 1px 1px 0 0px #337ab7, inset 0px 0px 0px 1px #337ab7;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.section-helpdeskconsole .header div button:hover{
	background-color: #7cc3ef;
	border-color: #7cc3ef;
	color: #fff;
}
.section-helpdeskconsole .header div button:active{
	background-color: #357aa5;
	border: 1px solid #115a87;
}
.section-helpdeskconsole .header div {
	padding: 5px;
}
.section-helpdeskconsole .header input{
	width: 100%;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: -1px;
	padding: 7px 15px;
	border: 0px solid #ddd;
	font-size: 16px;
	background-color: rgba(31, 148, 221, 0.5);
	color: #fff;
	height: 50px;
	font-size: 30px;
	position: relative;
	border-bottom: 1px solid #1f94dd;
}
.section-helpdeskconsole .header input::placeholder{
	color: #efefef;
}
.section-helpdeskconsole .content {
	display: none;
	position: absolute;
	top: 91px;
	left: 0;
	right: 0;
	bottom: 0;
}
*[comtype="Popup"]{
	display: none;
}
*[comtype="TabContainer"]{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
*[comtype="TabContainer"] tabs{
	text-align: left;
	width: 20%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
*[comtype="TabContainer"] tabcontents{
	position: absolute;
	width: 80%;
	left: 20%;
	bottom: 0;
	-webkit-box-shadow: -2px 0 3px 0 rgba(0,0,0,0.5);
	box-shadow: -2px 0 3px 0 rgba(0,0,0,0.5);
	overflow: hidden;
	overflow-y: auto;
	top: 0;
	right: 0;
}
*[comtype="TabContainer"] tabs a:first-child{

}
*[comtype="TabContainer"] tabs a{
	display: block;
	padding: 10px 5px 5px 15px;
	margin: 0;
	cursor: pointer;
	border-bottom: 1px solid #f2f2f2;
	color: #777777;
}
*[comtype="TabContainer"] tabs a:last-child{
	border-bottom: 0px solid #f2f2f2;
}
*[comtype="TabContainer"] tabs a:hover{
	background-color: #72b0e5;
	color: #000;
}
*[comtype="TabContainer"] tabs a.active{
	background-color: #337ab7;
	border-bottom: 0px solid #000;
	color: #fff;
	font-weight: bold;
	position: relative;
}
*[comtype="TabContainer"] tabs a.active::after{
	content: "";
	display: block;
	position:absolute;
	right: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent #fff transparent transparent;
	top: 50%;
	margin-top: -10px;
	z-index: 99;
}
*[comtype="TabContainer"] tabcontents>div{
	padding: 20px;
	background-color: #fff;
}
.form{
	width: 100%;
}
.form .form-line{
	width: 100%;
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	overflow: auto;
}
.form .form-line *{
	display: inline-block;
}
.form .form-line::after{
	content: "";
	clear: both;
}
.form .form-line .form-label{
	width: 20%;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	padding-right: 10px;
	float: left;
}
.form .form-line .form-label:after{
	content: "";
}
.form .form-line .form-field{
	width: 70%;
	float: left;
}
.pull-right{
	text-align: right;
}
.form .form-line .form-field label{
	width: 77%;
}
.form .form-line .form-field input[type="text"]{
	width: 100%;
	padding: 6px 5px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,.4);
}
.form .form-line .form-field input[type="text"][disabled],
.form .form-line .form-field input[type="text"][disabled]:hover{
	border-bottom: 1px solid rgba(0,0,0,.4);
}
.form .form-line .form-field .checkbox{
}
.form .form-line .form-field .checkbox input{
	width: auto;
}
.form .form-line .form-field.field-addon{
	display: inline-table;
	vertical-align: middle;
	border-collapse: separate;
}
.form .form-line .form-field.field-addon input[type="text"]{
	border-bottom: 1px solid rgba(0,0,0,.4);
}
.form .form-line .form-field.field-addon input[type="text"]:hover,
.form .form-line .form-field.field-addon input[type="text"]:active,
.form .form-line .form-field input[type="text"]:hover,
.form .form-line .form-field input[type="text"]:active{
	border-bottom: 1px solid rgba(0,0,0,1);
}
.form .form-line .form-field input[type="text"]:focus,
.form .form-line .form-field.field-addon input[type="text"]:focus{
	border-bottom: 1px solid #6e95b7;
}
.form .form-line .form-field.field-addon *{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #FFF;
	border-width: 1px 1px 1px 0;
}

.form .form-line .form-field.field-addon *:first-child{
	border-left-width:1px;
}
.form .form-line .form-field.field-addon .addon{
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #006cc2;
	color: #fff;
	padding: 3px 15px;
}
.button{
	cursor: pointer;
	border: 1px solid #006cc2;
	background-color: #006cc2;
	color: fff;
	padding: 3px 15px
}
.blank{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.popup{
	display: none;
	position: absolute;
	z-index: 2;
	top: 10%;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	background-color: #fff;
}
.popup .header{
	display: inline-table;
	width: 100%;
	background-color: #006cc2;
}
.popup .header *{
}
.popup .header h3{
	background-color: #006cc2;
	border: 0;
	color: #fff;
	padding: 7px 10px;
	margin: 0;
	display: inline-block;
}
.popup .header a{
	padding: 3px 9px;
	border: 1px solid #fff;
	color: #fff;
	width: auto;
	cursor: pointer;
	vertical-align: middle;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
.popup .header a:hover{
	background-color: #4fafea;
}
.popup .header a:active{
	background-color: #357aa5;
}
.popup .content{
	display: block;
	padding: 20px;
	position: relative;
}
.popup .footer{
	display: inline-table;
	width: 100%;
}
.popup .footer a{
	display: table-cell;
	width: 50%;
	height: 40px;
	vertical-align: middle;
	text-align: center;
	background-color: #337ab7;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}
#txbGroupName {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 7px 15px;
	border: 0px solid #ddd;
	font-size: 16px;
	background-color: rgba(31, 148, 221, 0.5);
	color: #fff;
}
#txbGroupName::placeholder{
	color: #dddddd;
}
.popGroupManager-content{
	margin-top: 20px;
	display: none;
}
.popGroupManager-list{
	margin-top: 20px;
	display: none;
}

[type="checkbox"]{
	-webkit-appearance: none;
	content: ' ';
	padding: 3px 10px;
	border: 1px solid rgba(0,0,0,.4);
	background: #fff;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	margin: 0;
	cursor: pointer;
}
[type="checkbox"]:checked:after {
	color: #66a864;
	content: '✔ True';
}
[type="checkbox"]:not(:checked):after {
	color: #c65757;
	content: '✘ False';
}
[type="checkbox"].nolabel{
	-webkit-appearance: none;
	content: ' ';
	padding: 3px 7px;
	border: 1px solid rgba(0,0,0,.4);
	background: #fff;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	margin: 0;
	cursor: pointer;
}
[type="checkbox"].nolabel:checked:after {
	color: #66a864;
	content: '✔';
}
[type="checkbox"].nolabel:not(:checked):after {
	color: #c65757;
	content: '✘';
}
.alert{
	display: none;
	position: fixed;
	top: 10%;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	padding: 10px 20px;
	z-index: 3;
}
.alert.info{
	background-color: #bcdeff;
	border-top: 2px solid #60a1e0;
}
.alert.error{
	background-color: #ffbfbf;
	border-top: 2px solid #d16464;
}
.alert.success{
	background-color: #c1ffc4;
	border-top: 2px solid #53bc58
}
.loadding{
	z-index: 3;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	background-repeat: no-repeat;
	background-image: url(/wp-content/themes/IT%20Portal/img/loading.gif);
	background-position: center;
}
.line-item{
	display: block !important;
	padding: 3px 5px;
}
ul[comboboxitem] {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none inside none;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.5);
	background-color: #fff;
	z-index: 20;
	position: fixed;
	height: 30%;
	overflow: hidden;
	overflow-y: auto;
}

ul[comboboxitem] li{
	padding: 5px 5px 5px 10px;
	cursor: pointer;
}
ul[comboboxitem] li:hover{
	background-color: #bababa;
}