* {
    font-family: "Roboto", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    position: absolute;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,255.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(67, 84, 112,.3);
    outline: none;
    border-radius: 7px;
}
.xdebug-var-dump{
    /*position: relative;*/
    /*z-index: 9999;*/
    /*background-color: rgba(255, 255, 255,.5);*/
    /*white-space: normal;*/
}

.text-right{
    text-align: right;
}
a {
    text-decoration: none;
    color: #f2884b;
}
table{
    border-collapse: collapse;
}
h3{
    margin-bottom: 0;
    padding: 0;
}
.clear{
    clear: both;
    float: none;
    height: 1px;
    width: 100%;
    display: block;
    margin: 10px;
}
strong{
    color: #d08c64;
}