/**
****************
Component Typing
****************
 */

/* Image Component */
input[type="file"][comp="wf-com"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label[comp="wf-com"][for]{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}
label[comp="wf-com"][for]:hover{
    background-color: red;
}
/* End Image Component */
