span.add-new {
    padding: 10px 20px;
    width: 300px;
    display: block;
    text-align: center;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    user-select: none;
    color: #aeaeaf;
    cursor: pointer;
}
span.add-new:hover{
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.4);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.4);
}
span.add-new:active{
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
}

[sub="true"]{
    padding-left: 40px;
}
[sub="true"]>span{
    width: 260px;
}
ul.mapping-item,
ul.mapping-item-child {
    list-style: none inside none;
    margin:0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
ul.mapping-item-child{
    padding-left:40px;
}

ul.mapping-item>li{
    width: 100%;
    display: block;
}
ul.mapping-item>li>label{
    display: 100%;
    background-color: #bad7ef;
    display: block;
    padding: 5px 7px;
}
ul.mapping-item-child>li{
    display: inline-block;
    width: 19.7369111%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
[name="popMapping"] .popup-content button:last-child{
    display:flex;
    margin: auto;
    text-align: center;
}
.save-panel{
    text-align: right; margin-top: 30px;
}
form-content .form-line {
    float: left;
    display: inline-block;
    padding: 0 2%;
}
.popup-bottom {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}