[section="home"]>.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
[section="notfound"]{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:  0;
}
[section="notfound"] img{
    position:absolute;

}
[section="notfound"] img{
    width: 33.333333%;
    top: 50%;
    margin-top: -30.211394%;
    left: 50%;
    margin-left: -17.666667%;
}
[section="notfound"] p{
    font-size: 1em;
    left: 0;
    position: absolute;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    color: #919191;
    top: 64.7480315%;
    display: block;
    text-align: center;
    width: 100%;
}