.content{
    margin-top: 10px !important;
}
[section="detail"]{
    color: #333
}
span.isStandard[standard="1"] {
    width: 50px;
    height: 50px;
}
span.needApproval {
    font-size: 18px;
}
span.outStock {
    top: 50%;
}
.price {
    color: #d65c5c;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.product-gallery {
    float: left;
    width: 50%;
    height: 600px;
    padding: 20px;
    border-right: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    position: relative;
}
.product-gallery .selected-photo {
    height: 500px;
    text-align: center;
}
.product-gallery .selected-photo span.preview{
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.product-gallery .all-photo{
    height: 80px;
    text-align: center;
    padding: 0px 40px;
    overflow: hidden;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: auto;
    cursor: pointer;
}
.product-gallery .all-photo img{
    border: 1px solid #ddd;
    width: 70px;
    height: 70px;
    object-fit: contain;
    -webkit-user-drag: none;
    margin-right: 12px;
}
.product-short-description {
    float: left;
    width: 50%;
    height: 600px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
}
.orther-info{
    padding: 10px;
}
.product-short-description > h1{
    padding: 10px;
}
.product-short-description > .cost,
.product-short-description > .information,
.product-short-description > .quantityInHand{
    padding: 10px 0;
    margin:0 10px;
}
.product-short-description > h1{
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    font-weight: normal;
}
.product-short-description > h1 > span{
    color: #7b7b7b;
}
.product-short-description > .cost{
    color: #d65c5c;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 1px solid #ddd;
}
.product-short-description > .quantityInHand{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
.product-short-description > .other-info{
    padding: 10px;
}
.product-information {
    clear: both;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;

}
.review-list .main-title{
    margin-bottom: 20px;
}
.review{
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
}
.review:last-child{
    border-bottom: 0
}
.review .owner .name{
    font-weight: bold;
    font-size: 18px;
}
.review .owner .date{
    font-size: 13px;
    color: #afafaf;
}
.review .comment{
    padding-left: 40px;
}
.cart-control{
    padding: 20px 10px 10px 10px;
}
.cart-control > .com-wapper-number:before{
    content: "Số lượng:";
    position: absolute;
    top: -18px;
    font-size: 15px;
    color:#7b7b7b;
}
.cart-control > .com-wapper-number{
    width: 90px;
    height: 30px
}
.cart-control > .com-wapper-number > *{
    width: 30% !important;
    font-size: 13px;
}
.cart-control >.com-wapper-number [component="number"]{
    left: 30%;
    text-indent: unset;
}
.cart-control > .com-wapper-number > .up{
    left: 60%;
}
.cart-control > .com-wapper-number > .up,
.cart-control > .com-wapper-number > .down
{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #7b7b7b;
    height: 30px;
    line-height: 30px;
}
.cart-control >.com-wapper-number [component="number"]{
    border: 1px solid #ddd;
    border-width: 1px 0 1px 0;
    border-radius: 0;
    color:#7b7b7b;
}
.product-relation {

}
.product-relation .posts__tabs li{
    display: none;
}
.product-relation .product-slide{
    margin-top: 0px;
}