body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ececec;
}
.Chatbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
}
.ChatInput{
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0%;
}
.ChatInput input{
    position: absolute;
    top: 0;
    left: 0;
    right: 10%;
    bottom: 0;
    width: 90%;
}
.ChatInput button{
    position: absolute;
    top: 0;
    left: 90%;
    right: 0%;
    bottom: 0;
    width: 10%;
}
.ChatItem {
    width:  80%;
    margin-top: 10px;
}
.ChatItem:after{
    content: "";
    clear: both;
    display:block;
}
.ChatItem span{
    display: inline-block;
}
.ChatItem span:first-child{
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 20px;
    background-color: #95c5dc;
    color: #fff;
}
.ChatItem span:last-child{
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 5px;
    position: relative;
    top: -10px
}
.ChatItem span:last-child:before{
    display: block;
    position: absolute;
    border: 5px solid #fff;
    left:-3px;
    top: 80%;
    content: "";
    border-color: #fff transparent transparent #fff;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}
.ChatItem.Me{
    margin-left: 20%
}
.ChatItem.Me span{
    float: right;
}
.ChatItem.Me span:last-child{
    margin-right: 5px;
    margin-left: unset;
    background-color: #3d80d4;
}
.ChatItem.Me span:last-child:before{
    right:-3px;
    left: unset;
    -moz-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
    border-color: #3d80d4 #3d80d4 transparent transparent ;
}