[section="home"]>.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
[section="notfound"]{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 218px;
    top:  121px;
}
[section="notfound"] img{
    position:absolute;
}
[section="notfound"] img:nth-child(3){
    width: 15.625%;
    top: 15.7480315%;
    left: 42.1875%;
}
[section="notfound"] img:nth-child(2){
    width: 6.770833333%;
    left: 39.0625%;
    top: 12.5984252%;
}
[section="notfound"] img:nth-child(4){
    width: 13.02083333%;
    left: 54.6875%;
    top: 12.5984252%;
}
[section="notfound"] img:nth-child(1){
    width: 2.604166667%;
    left: 41.66666667%;
    top: 13.38582677%;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*[section="notfound"] img:nth-child(5){
    width: 100px;
    left: 694px;
    top: 271px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
[section="notfound"] img:nth-child(5){
    width: 3.645833333%;
    left: 57.29166667%;
    top: 33.38582677%;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
[section="notfound"] p{
    font-size: 2.604166667em;
    left: 0;
    position: absolute;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    color: #919191;
    top: 64.7480315%;
    display: block;
    text-align: center;
    width: 100%;
}