.popup-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000007d;
}

.popup-box{
    left: 50%;
    top: 30%;
    padding: 30px;
    transform: translate(-47%, -30%);
    background: white;
    position: absolute;
    max-width: 96%;
    max-height: 95%;
    overflow: auto;
}

.panel-heading.popup-base-bottom{
    margin-top: 28px;
    text-align: right;
}

font{
    font-size: small;
}

font td{
    padding-left: 7px;
    padding-right: 7px;
}