input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

select {
    border-radius: 4px;
    border: 1px solid #5c9cd8;
    height: 25px;
    outline: none;
    text-indent: 10px;
}

.main-title {
    z-index: unset;
}

.search-name {
    text-align: center;
    font-size: xx-large;
    width: 100%;
    border: none;
    padding: 22px;
}

.group-label {
    padding: 15px 30px;
}

.con {
    padding: 18px 30px 7px 30px;
    display: inline-block;
}

.dim-able {
    position: relative;
}

.dim-able .dim-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.dim-able .active {
    z-index: 2;
    position: relative;
    border-radius: 5px 5px 0 0;
    background: white;
}

.btn-times > button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.filters {
    border-top: 3px solid silver;
    padding-top: 15px;
}

.edit-able {
    position: relative;
}

.edit-able > .task, .edit-able > .attr {
    position: absolute;
    /* width: 100%; */
}

.edit-able > .task {
    top: 0;
    height: 0;
    left: 0;
    right: 3px;
}

.edit-able > .task > .fa {
    display: none;
    float: right;
    margin-left: 7px;
}

.edit-able:hover > .task > .on-hover {
    display: block;
}

.edit-able.active > .task > .on-hover {
    display: none;
}

.edit-able.active > .task > .on-active {
    display: block;
}

.edit-able > .task > .fa-plus:first-child {
    float: left;
    margin-left: 0;
}

.edit-able > .attr {
    top: 100%;
    left: 0;
    right: 0;
    padding: 5px 30px;
    background: #fafaff;
    border-top: 1px solid #e0e0e0;
    border-radius: 0 0 5px 5px;
    min-width: 200px;
    width: auto;
    display: none;
}

.edit-able.active > .attr {
    display: block;
}

.edit-able > .attr > table {
    width: 100%;
}

.edit-able > .attr td > * {
    width: 100%
}

.edit-able > .fa:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.edit-able > .task > .fa-pencil {
    color: #edc43d;
}

.edit-able > .task > .fa-times {
    color: #d16b47;
}

.edit-able > .task > .fa-check, .fa-plus {
    color: #659655;
}

.edit-able > .name {
    min-width: 50px;
    display: inline-block;
}

.edit-able > .name:empty:before {
    content: attr(placeholder);
    float: left;
    color: gray;
}

#column-editor > .title {
    font-size: x-large;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#column-editor > div {
    margin-bottom: 10px;
}

#column-editor > .table-form {
    width: auto;
    max-width: 350px;
}

#column-editor > .table-form input, #column-editor > .table-form select {
    width: 100%;
}
#column-editor > .src input, #column-editor > .src select {
    width: 100%;
    min-width: 4px;
}
#column-editor > .cf > tbody > tr:last-child > td {
    padding-top: 20px;
}

#column-editor > .src {
    max-width: 100%;
}

#column-editor td{
    padding-left:10px;
    white-space: nowrap;
}

#column-editor > .src > tbody > tr > td:first-child {
    padding-left: 40px;
    padding-right: 10px;
    width: 1px;
}

.sys-alert.show.column-editor-popup {
    width: auto;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    overflow: scroll;
    max-height: 95%;
}

#column-editor .auto-another{
    padding: 4px 9px;
    font-size: smaller;
    border-radius: 4px;
}


#column-editor .wf-unselected > td, #column-editor .wf-unselected > td > *{
    background: #ededed;
    color: #a6a6a6;
    font-weight: normal;
}
#column-editor .wf-unselected > td > select, #column-editor .wf-unselected > td > button{
    cursor: not-allowed;

}

.datatable.workflows > tbody > tr> td> input{
    width: 13px;
    height: 14px;
}

.datatable.workflows > tbody > tr> td{
    width: 20px;
}

.datatable.workflows{
    margin-bottom:40px
}














