#add_to_cart_bt {
    width: 190px;
}
[section="product"]{
    position: relative;
    margin-top: 10px;
    min-height: 500px;
}
[section="product"] .left-side{
    float: left;
    width: 20%;
}
[section="product"] .right-side{
    margin-left: 20%;
}
[section="product"] .select-product{

}
[section="product"] [component="popup"] .popup-bottom button{
    width: 200px;
}
[section="product"] .select-product h2{
    text-transform: uppercase;
}
section[product]{
    margin-left: 10px;
}
[section="product"] [component="paging"]{
    text-align: right;
}
[section="product"] .product-container{
    height: 0;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    background-color: #fff;
}
[section="product"] .left-side .filter-panel{
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    padding-bottom: 10px;
    margin-top: 2px;
}
[section="product"] .left-side .filter-panel h2{
    color: #727272;
    padding: 10px 10px 0 15px;
    font-size: 16px;
    margin-top: 1px;
}
[section="product"] .left-side .filter-panel ul{
    list-style: none inside none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}

[section="product"] .left-side .filter-panel ul li{
    height: 35px;
}
[section="product"] .right-side .filter-group label,
[section="product"] .left-side .filter-panel ul li label{
    padding-left: 10px;
    display: block;
    height: 35px;
}
[section="product"] .right-side .filter-group{
    display: inline-block;
    padding-right: 20px;
    position:relative;
}
[section="product"] .right-side .filter-group:last-child:after{
    height: 0px;
}
[section="product"] .right-side .filter-group:after{
    position: absolute;
    content: " ";
    border-right: 1px solid #ddd;
    height: 20px;
    right: 0;
    top: 7.5px;
}
[section="product"] .right-side .filter-group label{
    display: table-cell;
    vertical-align: middle;
}
[section="product"] .head-filter{
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
    height: 35px;
    display: block !important;
}
