[section="document"]{
    position: relative;
    margin-top: 10px;
    min-height: 500px;
    overflow: hidden;
    padding-bottom: 10px;
}
[section="document"] .left-side{
    float: left;
    width: 20%;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
}
[section="document"] .right-side
{
    margin-left: 20.5%;
    padding: 3px 20px 20px 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
}
[section="document"] .right-side h2.document-title{
    padding: 5px;
    margin: 0;
}
[section="document"] .right-side h3.sys-selectpost{
    color: #ddd;
    text-align: center;
}
[section="document"] .right-side h3.sys-overview{
    text-align: left;
}
[section="document"] .left-side h2{
    width: auto;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #2881cd;
    border-bottom: solid 1px #e0e0e0;

}
[section="document"] .right-side ul.document-tree,
[section="document"] .left-side ul{
    list-style: none inside none;
    padding: 5px 0 5px 20px;

}
[section="document"] .right-side>ul.document-tree,
[section="document"] .left-side>ul{
    margin: 0;
    padding: 20px;
}
[section="document"] .right-side ul.document-tree li a,
[section="document"] .left-side>ul li a{
    font-size: 16px;
    line-height: 30px;
    color: #727272;
    text-decoration: none;
    width: 100%;
}
[section="document"] .left-side>ul li a:hover{
    color: #f2884b;
}
[section="document"] .left-side>ul li a.folder{

}

[section="document"] .right-side ul.document-tree li .fa-folder,
[section="document"] .left-side>ul li .fa-folder{
    color: #e2c73f;
}
[section="document"] .left-side>ul li .fa-file-o{
    font-size: 13px;
    line-height: 13px;
    top: -2px;
    position: relative;
}
[section="document"] .left-side>ul li .icon {
    position: relative;
    top: 2px;
    left: -5px;
}
[section="document"] .right-side > p{
    line-height: 20px;
}
[section="document"] .right-side div{
    line-height: 26px;
}
[section="document"] .right-side h1:first-child{
    margin-bottom: 0px;
}
[section="document"] .right-side{
    color: #444444;
}
[section="document"] .right-side strong{
    color: #444444;
}
[section="document"] .right-side hr{
    border-width: 1px 0 0px 0;
    width: 40%;
    margin-left: 0;
    border-color: #ffffff;
    background-color: transparent;
    opacity: .7;
}