input,
input[type="text"] {
    border-radius: 0px;
}

[section="cart"] {
    min-height: 300px;
    position: relative;
    color: #757575;
}

[section="cart"]:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
    float: none;
}

[section="cart"] .left-side {
    width: 70%;
    float: left;
    background-color: white;
}

[section="cart"] .left-side h2,
.right-side h2 {
    margin: 0px;
}

[section="cart"] .left-side h2 a {
    font-size: 16px;
    background-color: #f2884b;
    float: right;
    display: block;
    height: 100%;
    position: relative;
    padding: 7px;
    color: #fff;
    line-height: 21px;
    z-index: 9;
    cursor: pointer;
    border-radius: 0 5px 0 0;
}

[section="cart"] .left-side h2 a:before {
    display: block;
    content: "";
    height: 24.5px;
    width: 24.5px;
    float: left;
    position: absolute;
    left: -13px;
    top: 5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #f2884b;
    z-index: -1;
}

[section="cart"] .left-side table {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}

[section="cart"] .left-side table thead tr {
    border-bottom: 1px solid #d8d8d8;
}

[section="cart"] .left-side table thead tr th {
    padding: 20px 0;
    text-align: left;
}

[section="cart"] .left-side table tbody tr:hover {
    background-color: rgba(245, 245, 245, 0.5);
}

[section="cart"] .left-side table tbody tr td:last-child a {
    font-size: 25px;
    /* color: #bc544b; */
    color: #757575;
    display: block;
    width: 100%;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

[section="cart"] .left-side table tbody tr td:last-child a:hover {
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

[section="cart"] .left-side table tbody tr td:last-child a:active {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[section="cart"] .left-side table tbody tr td:first-child * {
    user-select: none;
}

/* cpnguyen */

[section="cart"] .left-side table.table-step1 {
    border: none;
}

[section="cart"] .right-side {
    width: 29.25%;
    height: 135%;
    float: right;
    top: 0;
    right: 0;
    left: 70%;
    bottom: 0;
    font-size: 14px;
}

[section="cart"] .right-side .item-line {
    background-color: #fff;
    /* padding: 5px 10px; */
}

[section="cart"] input {
    width: 100%;
    border: .0625rem solid rgba(0, 0, 0, .14);
    box-shadow: inset 0 0.125rem 0 0 rgba(0, 0, 0, .02);
    border-radius: .125rem;
}

[section="cart"] .right-side .item-line button {
    position: relative;
}

[section="cart"] .right-side .item-line .addon-control {
    width: 100%;
    display: block;
    text-align: right;
    border: 1px solid #d0cfcf;
    border-collapse: separate;
}

[section="cart"] .right-side .item-line>div {
    padding: 5px 10px;
}

.item-line .block-item {
    display: flex;
    justify-content: space-between;
    line-height: 16px;
}

.item-line:nth-child(3) .edit-tranform {
    border-top: 1px solid #eff0f5;
}

.item-line:nth-child(3) .edit-tranform .color-edit {
    font-weight: 500;
    color: #212121;
    font-size: 18px;
}

[section="no-item"] p {
    font-size: 25px;
    text-align: center;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    color: #919191;
    /* left: -3%; */
}

.search_control {
    float: right;
    width: 255px;
    position: relative;
    border: 1px solid #5c9cd8;
    border-width: 0 0 1px 0;
}

button.full {
    border-radius: 3px 3px 3px 3px;
}

[section="no-item"] img {
    width: 200px;
    /* margin-left: 35%; */
}

[section="no-item"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quantity_product {
    position: absolute;
    font-size: 15px;
    width: 25px;
    height: 25px;
    background-color: #2881cd;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    border: 1px solid #ddd;
    display: inline-block;
    top: 50%;
    right: 20px;
    margin-top: -12.5px;
}

#p_seat {
    width: 100%;
    height: 37px;
    margin: 0;
    border: 1px solid #d0cfcf;
    border-collapse: separate;
}

#search_user_text_box {
    width: 83%;
    padding: 0.5rem;
}

#note_new_text_area {
    width: 100%;
}

#note_edit_text_area {
    width: 100%;
}

#notification-text {
    font-size: 0.9rem;
    font-style: italic;
    color: red;
}

/* cpnguyen */

#notification-row {
    height: 100%;
}

#title_select_product {
    margin-top: 10px;
}

#box_thumbnail {
    display: flex;
    align-items: center;
}

#thumbnail {
    cursor: pointer;
    height: 110px;
    width: 110px;
    object-fit: contain;
    /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

#search_asset_bt {
    border: none;
    color: #2c76b7;
    margin: 0px;
    background-color: transparent;
    float: right;
    margin: 7px 0px 0px 0px;
}

#search_user_bt {
    background-color: transparent;
    color: #757575;
}

#txb_SearchAsset {
    width: 200px;
    border: none;
    margin: 7px 0px 0px 0px;
}

#search_no_item {
    position: initial;
}

[name="popReturnAsset"] h2 .close {
    position: absolute;
    top: -7px;
}

[name="popReturnAsset"] .datatable thead,
[name="popReturnAsset"] .datatable tbody {
    float: left;
    width: 100%;
}

[name="popReturnAsset"] .datatable thead th:first-child,
[name="popReturnAsset"] .datatable tbody td:first-child {
    width: 10%;
    padding-left: 0;
}

[name="popReturnAsset"] .datatable thead th,
[name="popReturnAsset"] .datatable tbody td {
    width: 22.5%;
}

[name="popReturnAsset"] .datatable thead tr,
[name="popReturnAsset"] .datatable tbody tr {
    display: table;
    width: 100%;
}

[name="popReturnAsset"] .datatable tbody {
    max-height: 405px;
    overflow: hidden;
    overflow-y: auto;
}

[name="popReturnAsset"] .popup-bottom {
    text-align: center;
    background-color: #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

[name="popReturnAsset"] button {
    width: auto;
    height: 35px;
    margin: 7px 0px;
}

[name="popReturnAsset"] .left-step2 .table-step1 tr td:last-child {
    text-align: left;
}

[name="popReturnConfirmname"] {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

[name="popReturnConfirmname"] .title {
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
}

.information-step-top-bar .block-input {
    width: 300px;
    border-radius: 2px;
    border: none;
}

.information-step-top-bar .block-input input {
    width: 100%;
    height: 44px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

[name="popReturnConfirmname"] figure img {
    max-width: 150px;
}

[name="popReturnConfirmname"] .sub-title {
    position: absolute;
    bottom: 1rem;
}

[name="popReturnConfirmname"] .block-rev {
    position: relative;
}

.left-side-popup {
    height: auto;
    width: 100%;
    float: left;
    /* padding: 0 20px; */
}

.right-side-popup {
    width: 30%;
    height: auto;
    position: relative;
    float: right;
    margin: 10px 30px 10px 10px;
    display: block;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.com-wapper-number {
    width: 120px;
    height: 35px;
}

.com-wapper-number>* {
    width: 30% !important;
    font-size: 13px;
}

.com-wapper-number [component="number"] {
    left: 30%;
    text-indent: unset;
    height: 35px;
}

.com-wapper-number>.up {
    left: 60%;
}

.com-wapper-number>.up,
.com-wapper-number>.down {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #7b7b7b;
}

.com-wapper-number [component="number"] {
    border: 1px solid #ddd;
    border-width: 1px 0 1px 0;
    border-radius: 0;
    color: #7b7b7b;
}

/* table td:nth-child(1) {
    text-align: center;
} */

.d-none {
    display: none;
}

.button-next-cart {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.table-no-item {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    color: #b8a3a3;
}

.block-step {
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 1.5rem;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.one-step {
    position: relative;
    width: fit-content;
    color: #b8a3a3;
    transition: all ease 0.25s;
}

.one-step:first-child .horizontal {
    display: none;
}

.one-step.active {
    color: #757575;
    font-weight: 700;
}

.horizontal {
    background-color: #ebebeb;
    height: 5px;
    width: 300px;
    transition: all ease 0.4s;
}

.one-step.active .horizontal {
    background-color: #2880cc;
    min-width: 300px;
    transition: background-color 1000ms linear;
}

.title-step {
    position: absolute;
    top: -23px;
    width: 250px;
    text-align: center;
    right: -120px;
}

.number-step {
    border-radius: 50%;
    border: 1px solid #ebebeb;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
}

.one-step.active .number-step {
    background-color: #2880cc;
    transition: background-color 1000ms linear;
    color: white;
}

.content-step {
    display: flex;
    align-items: center;
}

[section="cart"] .block-who-use {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.block-who-use .title {
    flex: 1;
    font-weight: 500;
}

.block-who-use .addon-control {
    flex: 6;
}

.block-step-2 {
    display: flex;
}

.block-center-step2 {
    background-color: #F4F4F4;
    height: 10px
}

.left-step2 {
    padding: 0 10px;
    width: 100%;
    margin-bottom: 10px;
}

.left-step2 .table-step1 tr {
    height: 40px;
}

.left-step2 .table-step1 tr td:last-child {
    text-align: right;
}

.left-step2 .note-inblock {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    border-top: 1.5px dotted gray;
    padding-top: 10px;
}

.left-step2 .collapse-list-item {
    color: #f2884b;
    cursor: pointer;
}

.left-step2 .note-inblock>div:first-child {
    flex: 1;
    color: #212121;
    font-weight: 700;
    min-width: 70px;
}

.left-step2 .note-inblock>div:last-child {
    flex: 10;
}

/* cpnguyen */

.left-step2 .title {
    font-size: 20px;
    font-weight: bold;
    color: #212121;
    padding: 15px 0px 10px 0px;
    width: fit-content;
    border-bottom: 2px solid #212121;
}

/* cpnguyen */

.sub-title {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.right-side .sub-title {
    padding-left: 10px;
}

.block-left-step2 .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title.block-right {
    margin-bottom: 0.25rem;
    display: inline-block;
    font-weight: 600;
}

.right-side .header {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: #212121;
    position: relative !important;
    top: 5px;
}

.item-line:nth-child(2) .header,
.item-line:nth-child(3) .header {
    border-top: 1px solid #eff0f5;
}

/* .item-line .horizal {
  margin: 10px;
} */

.right-side .edit-tranform {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.right-side .edit-tranform .edit,
.back-step1 {
    text-transform: uppercase;
    color: #f2884b;
    cursor: pointer;
    text-align: right;
    font-size: 14px;
}

.color-edit {
    color: #757575;
    flex: 1;
}

.color-content {
    color: #212121;
    flex: 1;
    text-align: right;
}

.right-side .note-new-item {
    font-size: 0.8rem;
}

.right-step2 {
    background-color: white;
    padding: 10px;
}

.left-step2 .list-item-manage {
    margin: 1rem 0;
}

.left-step2 .list-item-manage .icon-action i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    padding: 0 0.5rem;
}

.left-step2 .list-item-manage .icon-action:hover i {
    transform: scale(1.25);
}

.list-item-manage .icon-action {
    transition: background-color 0.25s ease-in-out;
}

.text-empty-cart {
    font-size: 1.25rem;
    text-align: center;
    color: #3790de;
}

/* cpnguyen */
.label {
    color: white;
    padding: 6px 12px;
    text-align: center;
    border-radius: 100px;
}

/* .table-step1 tbody tr {
    height: 130px;
} */

#information-row {
    height: 130px;
}

.return-item {
    background-color: #f2884b;
}

.miss-item {
    background-color: #d87272;
}

.fix-item {
    background-color: #3790de;
}

.new-item {
    background-color: #2888aa;
}

.active-tr-retrieve {
    transition: background-color 250ms linear;
    transform: scale(1.25);
}

.active-background {
    background-color: #dddddd;
}

.btn-orange {
    color: #f2884b;
}

.btn-red {
    color: #d87272;
}

.btn-blue {
    color: #2c76b7;
}

.left-step3 .block-btn-change-table {
    display: flex;
    justify-content: center;
}

.left-step3 .block-table {
    padding: 1rem;
}

thead {
    text-align: left;
}

thead tr th:last-child {
    text-align: right;
}

.btn-item {
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    color: #212121;
    cursor: pointer;
    transition: 0.25s all ease;
}

.btn-item:hover,
.btn-item.active {
    background-color: #3790de;
    color: white;
}

.table-step1 {
    width: 100%;
}

#information-row td:last-child {
    text-align: right;
}

/* cpnguyen */

.left-step3 {
    background-color: white;
    float: left;
    width: 100%;
}

.left-step3 .title {
    font-size: 19px;
    font-weight: bold;
    color: #212121;
}

.left-step3 .sub-title {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}

.block-left-step3 .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.left-step3 .list-item-manage .icon-action i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    padding: 0 0.5rem;
}

.left-step3 .list-item-manage .icon-action:hover i {
    transform: scale(1.25);
}

.page-title {
    margin-top: 10px;
}

.asset-popup-bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.information-step-top-bar {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* cpnguyen */

.label {
    color: white;
    padding: 6px 12px;
    text-align: center;
    border-radius: 100px;
}

/* .table-step1 tbody tr {
    height: 130px;
} */

.return-item {
    background-color: #f2884b;
    margin-left: 5px;
}

.miss-item {
    background-color: #d87272;
    margin-left: 5px;
}

.fix-item {
    background-color: #3790de;
    margin-left: 5px;
}

.new-item {
    background-color: #2888aa;
    margin-left: 5px;
}

.information-step-top-bar .chips-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#txbSearchItems {
    width: 200px;
    font-size: 16px;
    border: none;
    margin: 7px 0px 0px 0px;
}

#searchBtn {
    border: none;
    color: #2c76b7;
    background-color: transparent;
    float: right;
    margin: 7px 0px 0px 0px;
}

table td:nth-child(3) {
    width: 320px;
}