h2 .main-title{
    cursor: pointer;
    margin-bottom: 0;
    z-index: 0;
}

.panel-default{
    margin-bottom: 40px;
}

.panel-default>.asset-sub-heading{
    margin-bottom: 5px;
}

.fa{
    cursor: pointer;
}
button[disabled], button[disabled] > .fa{
    background-color:#ddd;
    cursor:default;
}
button[disabled]:active{
    box-shadow: none;
}

h2.under {
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #f4faff;
}

.field-item .properties{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background: #fafaff;
    border-top: 1px solid #e0e0e0;
    border-radius: 0 0 5px 5px;
    min-width: 200px;
    width: auto;
    margin: 0;
}

.field-item .properties td{
    padding-bottom: 5px;
    padding-top: 5px;
}

.field-item .properties .btn-task{
    text-align: center
}

.field-item .properties .btn-task > .btn{
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.field-item .config > .properties{
    padding: 5px;
}

.field-item .properties>table>tbody>tr>td{
    width: 110px;
}

.field-item .properties>table{
    width: 100%;
}

.field-item .config{
    position: relative;
}


.foldable{
    position: relative;
    height: max-content;
    margin-bottom: 30px;
}

.table-form{
    width: 100%;
}

.table-form input, .table-form textarea, .table-form select{
    width: 100%;
    margin-left: -3px;
}

.table-form td:first-child, .table-form .title{
    font-weight: bold;
}

.table-form td, .table-form td.content{
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: normal;
}

.workflow-step > .step-item>.bottom {
    color: #4e4e4e;
}

.workflow-step > .step-item>.top {
    text-align: right;
    color: #d16b47;
    width: 100%;
    display: none;
}

.workflow-step > .selected>.top, .workflow-step>.step-item:hover>.top{
    display: block;
}

.fa-pencil {
    color: #edc43d;
}
.fa-trash {
    color: #d16b47;
}
.fa-check {
    color: #659655;
}
.fa-plus-circle{
    color: #659655;
}
.field-container{
    margin-right: 10px;
}
.table-border{
    border-radius: 4px;
    border: 1px solid #5c9cd8;
}
.step-action td:first-child{
    padding-left: 5px;
}
.step-action td:last-child{
    padding-right: 5px;
}

.step-action .add-action{
    background: silver;
    text-align: right;
}
.step-action .add-action>.dropdown{
    max-width: 250px;
    width: 100%;
    padding-right: 10px;
}
.step-action .add-action>.dropdown>.fa{
    font-size: x-large;
}
.step-action .add-action>.dropdown:hover>ul{
    visibility: visible;
}
.step-action .add-action>.dropdown > ul{
    visibility: hidden;
    list-style-type: none;
    position: absolute;
    background: silver;
    border-radius: 5px;
    margin: 0;
    right: 3px;
    padding: 5px 0;
}
.step-action .add-action>.dropdown > ul > li{
    padding: 7px 20px;
}
.step-action .add-action>.dropdown > ul > li:hover{
    background: #ececec;
}

.step-action .input-lable, .step-action .mention{
    height: unset;
    padding: 5px 5px;
    margin: -5px 0;
    width: 100%;
}
.step-action .input-lable:focus{
    border: none;
    border-radius: 4px;
    outline: 5px auto rgb(77, 144, 254);
}
.step-action .action-title{
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bolder;
    cursor: pointer;
}
.step-action .action-title > .fa{
    float: right;
    margin-right: -11px;
    margin-top: -12px;
    padding: 8px 10px 5px 11px;
}
.step-action .notifi-content{
    min-height: 80px;
    max-height: 700px;
}
.step-action .action-info input,.step-action .action-info select{
    border: none;
    height: unset;
}
.step-action .action-info .title{
    text-align: right;
    padding-right: 15px;

}
.step-action .event-select{
    width: 1px;
}
.step-action .event-select>select{
    width: fit-content;
    padding-left: 35px;
    padding-right: 35px;
}
.step-action .action-head{
    padding-top: 0;
    background: #f4faff;;
}
.step-action .table-form td:first-child, .step-action .table-form td.title{
    width: 140px;
}

.step-action .action-conf tr:first-child > td{
    border-top: none;
}
.step-action .action-conf td{
    border-top: 1px solid #e4ded8;
}


.step-action .to-asset-state {
    display: block;
    float: right;
    margin-top: 15px;
}
.step-action .to-asset-state > .search-box {
    width: 250px;
    float: none;
    display: inline-block;
}
.step-action .colllapse{
    padding: 10px;
    cursor: pointer;
    text-align:left;
}
.step-action .colllapse> div{
    font-weight:normal;
    font-style: italic;
    font-size: smaller

}

.request-info{
    padding-left: 40px;
}
.step-index{
    width: 142px;
}
.step-duration{
    width: 142px;
    padding-left: 40px;
    padding-right: 40px;
}
.step-duration .in-range{
    display: inline-block;
    width: 60px;
}
.field-item.add{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.field-item.add > .fa{
    font-size: 20px;
    display:inherit;
    background: #659655;
    color: #fff;
    margin: auto;
    width: 120px;
    padding: 7px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}

.component-combobox{
    width: 100%;
}

.tree>.tree{
    padding-left: 20px;
}


.mapping{
    background: silver;
    transition: .4s;
    cursor: pointer;
}

.mapping:hover{
    background: inherit;
}
.mapping:after{
    float:none;
    content: "";
    clear:both;
    width: 100%;
    display: block;
}

.mapping.detail{
    background: #fff;
}

.mapping > .des, .mapping > .src{
    width: 35%;
    display: inline-block;
}

.mapping > .des{
}

.mapping > .src{
    float: right;
}

.src>div>.fa {
    width: 16px;
}
.step-info-block td{
    vertical-align: top;
}
.step-permission-field {
    height: 98px;
}
.display-block{
    display: block;
}
.time-input{
    width: auto !important;
}

.save-panel{
    text-align: right; margin-top: 30px;
}

.wf-info td{
    text-align: left;
}
.wf-info th > textarea{
    height: 100%;
}

.wf-info th{
    text-align: left;
    width: 70%;
    padding-right: 40px;
    padding-left: 10px;
}

.noti-channels > input {
    width: unset;
    height: unset;
    margin-left: 10px;
}

.noti-channels > span{
    margin-right: 30px;
}







