body {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
[section="admin"]{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
[section="admin"] > .header{
    height: 60px;
    background-color: #3690de;
    position: relative;
}
[section="admin"] > .header >a.logo{
    display: block;
    height: 100%;
    padding-left: 10px;
    position: absolute;
}
[section="admin"] > .header >a.logo > img{
    height: 100%;
}
[section="admin"] > .header > .userInfo{
    display: inline-block;
    float: right;
    height: 100%;
}
[section="admin"] > .header > .userInfo .info{
    display: inline-block;
    float: left;
    height: 100%;
    text-align: right;
}
[section="admin"] > .header > .userInfo .info span{
    display: block;
}
[section="admin"] > .header > .userInfo .info .fullname{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
[section="admin"] > .header > .userInfo .info .title{
    color: #fff;
}
[section="admin"] > .header > .userInfo .image{
    display: inline-block;
    float: right;
    height: 100%;
    width: 60px;
}
[section="admin"] > .content{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
}
[section="admin"] > .content > .left-panel{
    position: absolute;
    top: 0;
    left: 0;
    right: 85%;
    bottom: 0;
    background-color: #3690de;
}
[section="admin"] > .content > .left-panel ul{
    margin: 0;
    padding: 0;
    list-style: none inside none;
    width: 100%;
}
[section="admin"] > .content > .left-panel ul li{
    display: block;
    background: #2c76b7;
    -moz-box-shadow: 0 1px 0 #3b7aaf inset, 0 -1px 0 #1c588c inset;
    -webkit-box-shadow: 0 1px 0 #3b7aaf inset, 0 -1px 0 #1c588c inset;
    box-shadow: 0 1px 0 #3b7aaf inset, 0 -1px 0 #1c588c inset;
    position: relative;
}
[section="admin"] > .content > .left-panel ul li a{
    display: block;
    padding: 10px 0px 10px 15px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
[section="admin"] > .content > .left-panel ul li.sub{
    padding-left: 20px;
    background: #73b5ef;
    -moz-box-shadow: 0 1px 0 #75aedd inset, 0 -1px 0 #408bc9 inset;
    -webkit-box-shadow: 0 1px 0 #75aedd inset, 0 -1px 0 #408bc9 inset;
    box-shadow: 0 1px 0 #75aedd inset, 0 -1px 0 #408bc9 inset;
}
[section="admin"] > .content > .left-panel ul li.sub a{
    color: #184166;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
}
[section="admin"] > .content > .left-panel ul li.parent::before{
    position: absolute;
    display: block;
    left: 15px;
    top: 100%;
    content: '';
    border: 10px solid #2c76b7;
    border-color: #2c76b7 transparent transparent transparent;
    z-index: 3;
    margin-top:-1px
}
[section="admin"] > .content > .left-panel ul li.active::after{
    position: absolute;
    display: block;
    right: -5px;
    content: '';
    border: 15px solid #fff;
    border-color: transparent #fff transparent transparent;
    z-index: 1;
    top: 50%;
    margin-top:-15px
}
[section="admin"] > .content > .left-panel ul li:not(.parent):hover{
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
    z-index: 2;
}
[section="admin"] > .content > .right-panel{
    position: absolute;
    top: 0;
    left: 15%;
    right: 0;
    bottom: 0;
    padding: 30px;
}