
.workflow-step {
    max-width: 100%;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
.workflow-step.sub-step{
    width: fit-content;
    max-width: unset;
    margin-left: 50%;
}
.workflow-step::-webkit-scrollbar {
    display: none;
}
.workflow-step > li {
    display: inline-block;
    /* width: 65px; */
    /* height: 65px; */
    position: relative;
    text-align: center;
    /* margin: 40px 60px; */
}
.workflow-step > .add-step-item {
    border: none;
    background: transparent;
    margin-left: 0;
}
.workflow-step > .add-step-item > .fa {
    margin-top: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 44px;
    color: #00ae9e;
    cursor: pointer;
}
.step-item:first-child:before{
    width: 50%;
    left: 50%;
}
.step-item:before {
    content: "";
    border: 2px solid #acacac;
    top: 42px;
    /* transform: translateY(-50%); */
    /* left: 50%; */
    width: 100%;
    z-index: 0;
    display:flex;
    position: relative;
}
.sub-step .step-item div{
    margin-left: 30px;
}
.sub-step .step-item:first-child:before{
    top: 20px;
}
.step-item:last-child:before{
    width: 50%;
    left: 0%;
}
.step-item > div {
    text-align: center;
    /* position: absolute; */
    margin: 0 30px;
}
.step-item > .top {
    /* top: -10px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-size: larger;
}
.step-item > .bottom {
    /* top: 57px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-size: 14px;
}
.sub-step .step-item > li .center {
    margin-left: 30px;
}
.step-item > .center {
    text-align: center;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    white-space: initial;
    color: white;
    font-size: xx-large;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    background: #c4c4c4;
    height: 38px;
    width: 38px;
    margin: auto;
    position: relative;
}
.step-item.selected > .center {
    background: #037531;
    height: 42px;
    width: 42px;
}
.step-item.error > .center {
    background: #e60000;
}
.step-item.selected:before {
    margin-top: 5px;
}
.step-item.selected > .bottom {
    font-weight: bolder;
}
.step-item>.center{
    font: normal normal normal 30px/1 FontAwesome;
    z-index: 1;
}
.step-item>.center:before{
    line-height: 38px;
}
.step-item.approved>.top,
.step-item.approved>.bottom{
    color: #686868;
}
.step-item.inprocess>.top,
.step-item.inprocess>.bottom{
    color: #000;
}
.step-item.reject>.top,
.step-item.reject>.bottom{
    color: #cc8080;
}
.step-item>.top,
.step-item>.bottom{
    color: #c4c4c4;
}
.step-item.approved>.center:before{
    content: "\f00c";
}
.step-item.inprocess>.center:before{
    content: "\f253";
    font-size: 30px;
    animation-name: waitingprogress;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes waitingprogress {
    0%{
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    25%{
        content: "\f251";
    }
    50%{
        content: "\f252";
    }
    75%{
        content: "\f253";
    }
    100%{
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes waitingprogress {
    0%{
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    25%{
        content: "\f251";
    }
    50%{
        content: "\f252";
    }
    75%{
        content: "\f253";
    }
    100%{
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
.step-item.approved>.center{background: #73ce88;}
.step-item.approved:after, .step-item.inprocess:after{ border-color: #037531; }
.step-item.reject>.center{ background: #e60000; }
.step-item.reject:after{ border-color: #e60000;  }
.step-item.inprocess>.center{background: #e2d478;}
