.popup-wrap {
    position: fixed;
    background: #00000061;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup-wrap>.popup-box {
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    transform: translate(-50%, -30%);
    top: 30%;
    left: 50%;
    background: white;
}

.popup-wrap>.popup-box>.popup-base-title{
    font-weight: bold;
    padding: 10px;
    background: aliceblue;
}
.popup-wrap>.popup-box>.popup-base-content{
    padding: 10px;
}
.popup-wrap>.popup-box>.popup-base-bottom{
    text-align: right;
    background: #f2f8fd;
    padding: 10px;
}