[section="home"]:not(.toggle)>.nav-wrapper>#main-nav .main-nav--inner .select-product{
    max-height: 400px;
    width: auto !important;
    height: auto !important;
}
[section="home"]:not(.toggle)>.nav-wrapper>#main-nav .main-nav--inner .select-product ul{
    position: static !important;
}
[section="home"]:not(.toggle)>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li{
    position: relative;
}
[section="home"]:not(.toggle)>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover .select-product .list-product{
    top: 0;
}
[section="home"]:not(.toggle)>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover .select-product h2{
    display: none;
}
[section="home"]:not(.toggle)>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li{
    width: auto !important;
    padding-right: 15px;
}
[section="home"]:not(.toggle)>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.not-have{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0px solid #ddd;
    font-size: 20px;
    color: #8c8c8c;
    margin-top: 40px;
}
[page="user"] .right-panel{
    padding: 0 10px 10px 0 !important;
    background-color: transparent !important;
    border: 0px !important;
}
[page="user"] .right-panel .page-content{
    background-color: #fff;
    padding: 20px;
}
[page="user"] .right-panel .main-title{
    margin-bottom: 10px !important;
}