
a {
    cursor: pointer;
}

/* ----------------- base popup ---------------------------*/
.popup-base .popup-box {
    border-radius: 4px;
}

.popup-base .panel-heading:first-child {
    font-size: larger;
}

.popup-base .popup-base-bottom {
    float: right;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.popup-base .popup-base-button {
    width: 80px;
    margin: 0 5px;
}

.popup-base .popup-base-content {
    background: white;
    color: black;
}

.popup-base .panel-heading:first-child {
    font-size: larger;
}

.popup-base-button:focus {
    background: #dfdfdf;
}

.popup-base-type-info .popup-box {
    background: darkgreen;
    color: white;
}

.popup-base-type-warning .popup-box {
    background: #da9700;
    color: white;
}

.popup-base-type-error .popup-box {
    background: #c40000;
    color: white;
}

.popup-base .popup-base-bottom>.btn{
    float: left;
}

.popup-base .popup-base-title{
    font-weight: bold;
}

/* ----------------- popup ---------------------------*/
.popup-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    transition: .1s;
    background: rgba(0, 0, 0, 0.6);
}

.popup-box {
    position: absolute;
    background: white;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
    transition: .1s;
}

.popup-box > .panel-body{
    max-height: 500px;
    overflow-y: auto;
}

.popup-box-md {
    max-width: 1200px;
    min-width: 700px;
}

.popup-box-sl {
    top: 33%;
    max-width: 750px;
    min-width: 300px;
    max-height: 90%;
    overflow-y: auto;
}

.popup-box-full-height {
    position: absolute;
    top: 3%;
    bottom: 3%;
    overflow-y: auto;
    transform: unset;
}

.popup-input {
    padding: 40px 40px 10px 40px;
}

.popup-input input {
    margin: 10px 0 12px;
}

.popup-input-button {
    margin: 10px;
    width: 90px;
}

@media only screen and (max-width: 768px) {
    .popup-box {
        min-width: 90%;
    }

    .popup-box-sl {
        min-width: 60%;
    }
}

/* ----------------- link ---------------------------*/
.link {
    cursor: pointer;
}

/* ----------------- search ---------------------------*/
.search-box {
    padding: 0 !important;
    position: relative;
}

.search-box ul {
    position: absolute;
    list-style-type: none;
    margin-top: 0;
    background-color: #FFF;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out 1s;
    float: none;
    z-index: 3000;
    border: 1px #002a80 groove;
    cursor: pointer;
    width: 100%;
    display: none;
    padding-left: 0;
    left:0;
    top:100%;
}

.search-box li {
    padding: 3px 6px;
    margin-bottom: 0;
}

.search-box .search-item-selected {
    background: #ebf2f9;
}

.search-component input {
    witdth: 100%;
}

.search-box > button.search-component, .search-box > button.search-component:focus {
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: larger;
    border: none;
    background: transparent;
    color: black;
    outline: none;
}

/* ----------------- popup ---------------------------*/
#confirm-popup-container {
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: visible;

}

.asset-confirm-box {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    background: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: #000 3px;
    position: fixed;
    /* bring your own prefixes */
}

/* ----------------- itam3 ---------------------------*/

.histoy-driff-head {
    display: none;
}

.histoy-driff {
    background-color: honeydew;
    display: none;
}

.histoy-driff-head > th {
    text-align: center;

}

.histoy-driff-head > th:first-child, .histoy-driff > th:first-child {
    border-right: solid 5px #8d96d8;
}

/* ----------------- asset portal ---------------------------*/

body {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: visible;
}

.asset_header_background {
    background-color: lavender;
}

.delegate_sub_info {
    font-size: small;
    font-style: italic;
    font-weight: bold;
}

.refresh_button {
    float: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

.refresh_button:hover {
    color: orange;
}

.asset-font-min-2 {
    font-size: 16px;
}

.asset-td-header {
    font-weight: bold;
    width: 30%;
}

.asset-td-content {
    width: 70%;
}

.asset-table-detail {
    width: 100%;
}

.asset-table-detail td {
    padding: 4px;
}

.asset_no_padding {
    padding: 0px !important;
}

.asset-state-info {
    background-color: #F5F5F5;
}

.asset-state-detail-item-header {
    background-color: gainsboro;
    border-radius: 3px;
    padding: 8px;
}

.asset-action-row {
    cursor: pointer;
}

.asset-active {
    background-color: deepskyblue;
}

.asset-action-row {
    background-color: azure;
}

.asset-action-row:hover {
    background-color: deepskyblue;
    color: #FFF;
    border-radius: 3px;
}

.text-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.force_uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.asset-panel-margin-top {
    margin-top: 5px;
}

table.borderless td, table.borderless th {
    border: none !important;
}

.asset-header-bg {
    background-color: #3399FF !important;
    color: #FFF !important;
    padding: 6px 4px !important;

}

.table thead td {
    font-weight: bold;
    padding-left: 3px;
}

.asset-transparent {
    background-color: transparent !important;
}

.glyphicon:hover {
    cursor: pointer;

}

.asset-del-text {
/ / background-color: orangered;
    display: none;
}

.asset-ins-text {
    background-color: #ff0;
/ / padding-left: 3 px;
}

.asset-no-border {
    border: none !important;
}

.asset-no-border-radius {
    border-radius: 0 !important;
}

.asset-table-no-margin {
    margin: 0;
}

.asset-vertical-middle {
    vertical-align: middle;
}

.asset_center_text {
    text-align: center;
}

.asset-close-auto-warning {
    top: 0px;
    position: absolute;
    right: 0px;
    padding: 4px;
}

.asset-text-align-right {
    text-align: right;
}

.asset-auto-warning-popup {
    position: absolute;
    background-color: lawngreen;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out 1s;
    float: none;
    z-index: 10000;
    border: 0.5px;
    border-radius: 3px;
    padding: 20px 8px 8px 8px;

}

.asset-auto-hide {
    font-family: monospace;
    font-size: 13px;
    padding: 0px;
    font-style: italic;
    float: right;
    position: relative;
}

#asset_search_popup {
    position: absolute;
    background-color: #FFF;
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out 1s;*/
    float: none;
    z-index: 3000;
    border: 1px #002a80 groove;

}

.asset_list {
    list-style-type: none;
    padding-right: 6px;
    padding-left: 6px;
}

.asset_list li {
    margin-bottom: 4px;
}

#asset_search_popup ul {
    list-style-type: none;
    padding-right: 6px;
    padding-left: 6px;
    width: 100%;

}

#asset_search_popup ul li {
    margin-top: 5px;
    cursor: pointer;
    padding: 0px 6px 0px 6px;
    z-index: 10000;
}

#asset_search_popup ul li input:hover {
    /*text-decoration:underline;*/
    background-color: #F05A22;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-weight: bold;
}

.asset-table-center tbody tr td {
    vertical-align: middle;
}

.asset-table-center tr td {
    vertical-align: middle !important;
}

.asset-remove-border {
    border-color: #fff !important;
    background-color: #fff !important;
    -webkit-box-shadow: none !important;
    cursor: inherit !important;

}

.asset-add-new-title {

}

.asset-step-focus {
    font-weight: bold;
}

.asset-font-bold {
    font-weight: bold;
}

.asset-sub-heading {
    border-radius: 0px !important;
    font-size: 16px !important;
    padding: 5px !important;
    background-color: #e7eef9 !important;
    color: #151515 !important;
    border: none !important;
    margin-bottom: 15px;
}

.asset-view-detail {
    padding-left: 10px;
}

.asset-page-heading {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
}

.asset-panel-body {
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 0px;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.asset-delegate-role {
    font-style: italic;
}

#asset-button-create-new-form {
    margin-bottom: 15px;
    text-align: left;
}

.asset-modal-body {
    position: relative;
    padding: 10px;
}

.asset-display-table {
    display: table !important;
}

.asset-vng-footer {
    background-color: #F5F5F5;
    height: 100px;
}

#popup-image-container {
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000;
    overflow: visible;

}

.asset-full-screen {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;

}

.asset-confirm-box {

    padding: 8px;
    border-radius: 4px;
    box-shadow: #000 3px;
    position: fixed;
    top: 0px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -0%);
}

.asset-center_screen {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.asset-sub-function {
    background: transparent;
    position: absolute;
    opacity: 0.7;
    padding: 0px;
    float: bottom;

}

.asset-sub-item {
    margin-left: 2px;
    margin-right: 2px;

}

.asset-color-red {
    color: red;
}

.asset-color-blue {
    color: blue;
}

#id-asset-image-review-info-panel {
    background-color: #F5F5F5 !important;
}

#asset-view-pr-id {
    width: 100%;
    height: 350px;
    overflow: hidden !important;
    position: relative;
}

.asset-paging-button {
    padding: 0 6px 0 6px;
    margin: 3px;
    border: none;
    background-color: #FFF;
    color: #000;
    font-family: cursive;
}

.asset-paging-button:hover {
    color: #3399FF;
}

.asset-paging-selected-button {
    text-decoration: underline;
    color: #F05A22;
}

.asset-move-button {
    font-size: 16px;
    vertical-align: sub;
    margin: 0px 10px 0 10px;
}

.asset-move-button:hover {
    color: #F05A22;
}

.asset-advance-fillter {
    position: absolute;
    float: left;
}

.asset-table-advance-container {
    text-align: right;
    padding: 5px;
}

.tab_header {
    font-family: sans-serif;
    font-weight: bold;
}

.asset_html_editor {
    overflow: scroll;
    height: 300px;
    max-height: 500px
}

.asset_font_size_10 {
    font-size: 14px;
    padding: 3px;
}

.asset_padding_6 {
    padding: 6px !important;
}

.auto_margin {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#asset-image-review-id {
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: #F5F5F5 solid 3px;
    border-radius: 3px;
    box-shadow: #FFF 3px;
    padding: 4px;
}

.asset_unsave_image {
    border: red solid thin;
}

.asset_saved_image {
    border: green solid thin;
}

.asset_detail_main_detail_header {
    padding: 4px;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}

.asset_detail_td_container {
    width: 50%;
    vertical-align: top !important;
    padding-left: 5px;
}

.asset_detail_td_container_children {
    border: lavender solid 2px;
    font-family: monospace;
}

.asset_children_detail_header {
    font-weight: bold;
    text-decoration: underline;
}

.asset_table_word_wrap tbody tr td {
    word-break: break-word !important;
    vertical-align: middle !important;
}

#tabs .active a {
    border: cornflowerblue solid 1px;
    border-radius: 4px;
}

.asset_control_input input {
    border: none;
    box-shadow: none;
}

.asset_control_input .asset_control_invisible {
    display: none;
}

.asset_right_text {
    text-align: right;
    padding: 8px;
}

.asset_notification_container {
    width: 360px;
    max-height: 400px;
    position: absolute;
    right: 0px;
    z-index: 5000;
    overflow: auto;
    text-align: left;
    border-radius: 3px;
}

.asset_notification_icon {
    font-size: 18px;
}

.round-button-circle {
/ / width: 22 px;
/ / height: 22 px;
    border-radius: 50%;
    border: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.searchInputItem {
    width: 100%;
    border: none;
    cursor: pointer;
}

/*       itam3                */

.asset-panel .table {
    background: #fafafa;
}

.dropdown-hover:hover > .dropdown-menu {
    display: block;
    top: 96%;
}

.dropdown-right {
    right: -10px;
    left: auto;
}

.search-form nav {

    display: block;
    float: right;
    margin: 0;
    background: transparent;
    border: none;
    min-height: 30px;
}

.search-form .nav > * {
    display: inline-block;
    margin: 0;
}

.search-form .nav {
    margin: 15px 40px 0 40px;
}

.search-form .navbar-default .navbar-nav > li > a:focus,
.search-form .navbar-default .navbar-nav > li > a:hover {
    color: #616161;
    background-color: #f2f2f2;
    cursor: default;
}

.search-form .navbar-default .navbar-nav > .active > a {
    color: #000;
    background-color: #dfdfdf;
}

.search-form .navbar-default .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
}

.search-form {
    background: #fafafa;
    padding: 0 0 0 10%;
    width: 98%;
    margin: 0;
    border-left: none;
    position: relative;
}

.search-form > .background {
    position: absolute;
    left: -10%;
    right: -3%;
    background: #fafafa;
    top: -2%;
    bottom: -2px;
    border: 2px solid #dddddd;
    z-index: -1;
}

.panel-heading {
    min-height: 54px;
}

.panel-heading > .btn {
    float: right;
}

.table-form-action {
    text-align: center;
}

/* ---- workflow ---- */

.field-container > .field-item{
    display: block;
    float: left;
    position: relative;
    background: white;
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.field-container > .field-item strong{
    color: #000;
}
.field-container > .field-item *{
    font-size: 16px;
}

.field-container > .field-item table{

}
.field-container > .field-item table thead tr th,
.field-container > .field-item table tbody tr td{
    padding: 7px 10px !important;
    border: 0px;
    word-break: break-word;
    min-width: 100px;
}
.field-container > .field-item *:disabled,
.field-container > .field-item table tbody tr td *:disabled{
    border:0px;
    background-color: transparent;
    cursor: default;
}

.field-item > *{
    width: 100%;
}

.field-item div{
    margin: 7px 0;
}
.field-item table div{
    margin: 0;
}

.field-item> input{
    height: 35px;
}

.field-item input:disabled{
    cursor:inherit;
}

.field-item > textarea{
    text-indent: unset;
    height: unset;
    min-height: unset;
}

.field-item > textarea[rows="3"]{
    /* min-height: 92px; */
}


.field-item th> input{
    background: inherit;
    border: none;
    box-shadow: none;
}

.field-item .name{
    border: none;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    display: block;
}

.field-item tr>.config > input {
    font-weight: normal;
}

.field-item .config > i{
    position: absolute;
    right: 0px;
    top: 3px;
    margin-right: 27px;
}

.field-item .fa{
    /* display: inherit; */
    display: none;
    font-size: large;
    cursor: pointer;
}

.field-item:hover .fa{
    display: inherit;
}
.field-item .config .fa-check.btn{
    margin-right: 3px;
}
.field-item .config > .fa-times{
    right: -21px;
    color: #d16b47;
}

.field-item th.config{
    min-width: 50px;
}

.field-item .table{
    border: solid 1px #dddddd;
    border-radius: 4px;
    padding: 6px 12px;
    border-collapse: separate;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
}

.wftable td.field-item > .remove{
    position: absolute;
    left: 100%;
    display: inherit;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5px;
    width: 25px;
    color: #d16b47;
}
.wftable td.field-item > .remove:hover{
    transform: translateY(-50%) scaleY(1.3);
}


.field-container:after{
    float:none;
    content: "";
    clear:both;
    width: 100%;
    display: block;
}

.dim-able{
    position: relative;
}
.dim-able .dim-background{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dim-able .active{
    z-index: 2;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.prevent-select-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.workflow-step {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.workflow-step > ul::-webkit-scrollbar {
    display: none;
    cursor: -webkit-grabbing;
}
.workflow-step > ul{
    display: table-row;
    overflow-x:scroll;
    overflow: -moz-scrollbars-none;
    cursor: -webkit-grab;
}
.workflow-step > ul > li{
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    padding-top: 25px;
    position: relative;
}
.workflow-step > ul > .add-step-item {
    border: none;
    background: transparent;
    margin-left: 0;
}
.workflow-step > ul > .add-step-item > .fa {
    margin-top: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 44px;
    color: #00ae9e;
    cursor: pointer;
}

.step-item> .status:after {
    content: "";
    position: absolute;
    border-top: 3px solid #acacac;
    top: 50%;
    margin-top:  1.5px;
    width: 90%;
    transform: translateX(-112%);
    z-index: 0;
}

.sub>ul>.step-item:first-child> .status:after {
    content: "";
    position: absolute;
    border-top: 4px solid #3c8d58;
    top: 41%;
    transform: translateY(-50%);
    right: 50%;
    width: 72%;
    z-index: 0;
}
.step-item:first-child>.status:after, .step-item:first-child>.status>span:after{
    content: unset;
}
.sub>ul>.step-item:first-child:before{
    content: "";
    border-left: 4px solid #3c8f5a;
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
}

.sub>ul:last-child>.step-item:first-child:before{
    content: "";
    border-left: 4px solid #3c8e59;
    position: absolute;
    top: 1px;
    left: 0;
    height: 50%;
}

.sub>ul>.step-item:first-child>.status{
    position: relative;
}

.step-item.sub>ul:only-child>.step-item:before {
    content: unset;
}
.step-item.sub>ul:only-child>.step-item>.workflowName {
    width:inherit;
    margin: inherit;
}
.step-item.sub{
    padding-top: 1px
}

.step-item > .stack{
    text-align: center;
    height: 35px;
    min-width: 300px;
}
.workflow-step.sub{
    font-size: inherit;
}
.step-item > .owner {
    font-size: 14px;
    height: 55px;
}
.step-item > .status >span {
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #c4c4c4;
}
.step-item:first-child > .status >span {
}
.step-item.selected > .status  >span {
    background: #037531;
}
.step-item.error > .status  >span {
    background: #e60000;
}
.step-item.selected:before {
    margin-top: 5px;
}
.step-item.selected > .owner {
    font-weight: bolder;
    color: #000;
}
.step-item>.status{
    font: normal normal normal 30px/1 FontAwesome;
    z-index: 1;
}
.step-item.approved>.name,
.step-item.approved>.owner{
    color: #686868;
}
.step-item.inprocess>.name,
.step-item.inprocess>.owner{
    color: #000;
}
.step-item.reject>.name,
.step-item.reject>.owner{
    color: #cc8080;
}
.step-item>.name,
.step-item>.owner{
    color: #c4c4c4;
    padding-top: 3px;
}
.step-item>.status>span:before{
    content: "\f00c";
    color:transparent;
    font-family: FontAwesome;
    font-size: 20px;
    position: relative;
}
.step-item.approved>.status>span:before{
    content: "\f00c";
    color: white;
}
.step-item.inprocess>.status>span:before{
    content: "\f253";
    animation-name: waitingprogress;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: white;
    font-size: 15px;
    top: -4px;
}

.step-item.approved> .status>span:after, .step-item.inprocess> .status>span:after{
    color: #377533;
}

@-webkit-keyframes waitingprogress {
    0%{
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    25%{
        content: "\f251";
    }
    50%{
        content: "\f252";
    }
    75%{
        content: "\f253";
    }
    100%{
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes waitingprogress {
    0%{
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    25%{
        content: "\f251";
    }
    50%{
        content: "\f252";
    }
    75%{
        content: "\f253";
    }
    100%{
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
.step-item.approved>.status>span{background: #73ce88;}
.step-item.approved>.status:after, .step-item.inprocess>.status:after, .step-item.approved>.status:before, .step-item.inprocess>.status:before{ border-color: #037531; }
.step-item.reject>.status>span{ background: #e60000; }
.step-item.reject>.status:after{ border-color: #e60000;  }
.step-item.inprocess>.status>span{
    background: #e2d478;
    padding: 3px 11px 6px 11px;
}

.step-item.sub{
    overflow-x:visible;
}

.step-item.sub:after {
    content: "";
    position: absolute;
    border-top: 4px solid #3c8e59;
    top: 49.8%;
    transform: translateY(-50%);
    left: -103px;
    width: 104px;
}

input.no-arrow::-webkit-inner-spin-button, input.no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.step-action .dropdown-menu {
    left: inherit;
    right: 0;
}

.step-action .dropdown {
    display: block;
    float: right;
}

.mention {
    height: initial;
}

.mention>.refer,.mention .component{
    display: inline-block;
    font-style: normal;
}

.mention .refer{
    background: #cfb9ff1f !important;
    position: relative !important;
    padding: 0 3px !important;
    border-radius: 3px !important;
    font-weight: bold !important;
    color: #0a00ff !important;
}

.mention .refer>a{
    color: #0a00ff !important;
}

.mention> .refer:hover{
    cursor: inherit;
}

.mention>.search-box {
    width: 150px;
}

.mention[placeholder]:empty:before {
    content: attr(placeholder);
    float: left;
    margin-left: 5px;
    color: gray;
}


.table-form-np-border td{
    border: none !important;
}

.colllapse{
    background: #f5f5f5;
}


.mention > .refer>.search-box>ul {
    min-width: 150px;
    left: -30px;
    font-weight: initial;
    color: black;
    position: absolute;
}

.input-lable, .input-lable:focus{
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.input-lable:focus{
    outline: none;
}

.btn-item-del{
    color: #d9534f;
    font-size: x-large;
    float: right;
    margin-top: -5px;
}


.table-scroll-container{
    overflow-y:auto;
}

.table.table-scroll-head{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.table-scroll-body{
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    box-shadow: none;
}

.table-scroll-body>.table, .wftable .form-control{
    box-shadow: none;
}

.wftable>tbody>tr>td{
    border-top:none;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #dcdcdd;
}

.wftable>tbody>tr>td:last-child{
    border-right: none;
}
.workflow{
    margin-bottom: 20px;
}
.workflow:before {
    content: "";
    display: block;
    clear: both;
    float: none;
}

@keyframes collapse {

}
@keyframes expand {
    from {background-color: red;}
    to {background-color: yellow;}
}

.stack.status.workflowName>span {
    border-radius: 4px;
    font-size: medium;
    display: block;
    width: fit-content;
    padding: 7px;
    width: 100%;
}

.stack.status.workflowName {
    margin-left: 50px;
    width: 222px;
    text-align: center;
}
.workflowName>span>a {
    background: white;
    padding: 0 10px;
}
