/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	position: relative;
	outline:none;
	overflow: hidden;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}
.jspArrowUp {
	width:18px;
	height:18px;
	padding:0;
}
.jspArrowDown {
	width:18px;
	height:18px;
	padding:0;
}
.jspHorizontalBar .jspCap
{
	float: left;
}


.jspTrack
{
	position: relative;
	background: #f4f9fd;
}

.jspDrag
{
	position: relative;
	top: 0;
	left: 1px;
	cursor: pointer;
	background-color: #bde1ff;
	overflow: hidden;
	width: 8px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	/*background: #80808d;*/
}

.jspVerticalBar .jspArrow
{
	height: 0px;
}

.jspHorizontalBar .jspArrow
{
	width: 18px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}