.gcsc-branding, .gsc-resultsHeader {
    display: none !important;
}
.gsc-selected-option-container {
    width: 150px !important;
}
.post table td {
    border: none;
}
.gsc-control-cse {
    border-color: #fdf9ec ;
    background-color: transparent ;
    padding: 0;
}
.gsc-control-cse,
.gsc-control-cse .gsc-table-result {
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
}
.gsc-control-cse,
.gsc-control-cse .gsc-table-result .gs-title,.gsc-control-cse,
.gsc-control-cse .gsc-table-result .gs-title:visited {
    color: #ec570f!important;
    font-weight: bold!important;
    text-decoration: none;
}
.gs-webResult.gs-result a.gs-title b,.gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited b {
    background: #ffeba4!important;
}
.gs-webResult .gs-snippet b {
     background: #ffeba4!important;
}
.gsc-tabHeader.gsc-tabhInactive {
    border-color: #ece6d2;
    background-color: #fdf9ec ;
}
.gsc-tabHeader.gsc-tabhActive {
    border-color: #ece6d2;
    background-color: #fdf9ec ;
    border-bottom-color: #ece6d2
}
.gsc-tabsArea {
    border-color: #ece6d2;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    border: none!important;
    border-bottom: 1px solid #bfc5ce!important;
    background-color: transparent;

}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
    border-color: #ece6d2 ;
    background-color: #fdf9ec ;
    color: #f98e1d;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: #000000;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #000000;
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
    color: #f98e1d!important;
    text-decoration: underline;
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
    color: #000000;
}
.gsc-cursor-page {
    color: #000000;
}
a.gsc-trailing-more-results:link {
    color: #000000;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: #333333;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: #666666;
}
.gs-webResult div.gs-visibleUrl-short {
    color: #009933;
}
.gs-webResult div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long {
    display: block;
}
.gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-promotion div.gs-visibleUrl-long {
    display: block;
}
.gsc-cursor-box {
    border-color: #fdf9ec ;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #CCCCCC;
    background-color: #fdf9ec ;
    color: #000000;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #CCCCCC;
    background-color: #fdf9ec ;
    color: #000000;
}
.gsc-webResult.gsc-result.gsc-promotion {
    border-color: #F6F6F6;
    background-color: #F6F6F6;
}
.gsc-completion-title {
    color: #000000;
    font-family: tahoma !important;
}
.gsc-completion-snippet {
    color: #333333;
}
.gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link *, .gs-promotion .gs-snippet a:link {
    color: #000000;
}
.gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited *, .gs-promotion .gs-snippet a:visited {
    color: #000000;
}
.gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover *, .gs-promotion .gs-snippet a:hover {
    color: #000000;
}
.gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active *, .gs-promotion .gs-snippet a:active {
    color: #000000;
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #333333;
}
.gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl-short {
    color: #009933;
}
.gs-title,
.gsc-url-top,
.gsc-thumbnail-inside {
    padding: 0 !important;
}
.gsc-result-info {
    padding-left: 0 !important;
    color: #666666;
}
.gsc-selected-option {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

.gsc-results .gsc-cursor {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    font-size: 14px;
    display: block;
    float: left;
    background: none;
    padding: 8px 0;
    min-width: 60px;
    text-align: center;
    border-radius: 0px;
    font-weight: normal;
    color: #aa4d00;
    outline: none;
    margin-right: 0;
    line-height: 20px;
    border: 1px solid #ff6d6b;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.gsc-results .gsc-cursor-box .gsc-cursor-current-page:hover {
    background: transparent;
    color: #333333;
    font-weight: bold;
    border-color: #bfc5ce ;

}
.gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
    text-decoration: none;
    background: #fbeede;
    color: #f98e1d;
}
.gsc-result .gs-title {
    height: auto !important;
}


.gsc-above-wrapper-area{
    border-bottom:1px dashed #ff6d6b !important;
}

.gsc-adBlock {
    display: none !important;
}
