span.add-new {
    padding: 10px 20px;
    width: 300px;
    display: block;
    text-align: center;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    user-select: none;
    color: #aeaeaf;
    cursor: pointer;
}
span.add-new:hover{
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.4);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.4);
}
span.add-new:active{
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
}
.menu-container {
    margin-bottom: 7px;
}

.menu-item {
    margin-bottom: 3px;
    border-bottom: 1px solid transparent;
    width: fit-content;
}
.menu-item *{
    display: inline-flex;
}
.menu-item:hover{
    border-bottom: 1px solid #c1c1c1;
}

.menu-item>span {
    width: 300px;
    padding: 10px 20px;
    display: inline-block;
    padding-left: 0;
}
.menu-item>input{
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    text-indent: 1px;
    height: 35px;
}
.menu-item>img{
    width: 35px;
    height: 35px;
    padding: 6.5px 5px;
    float: left;
    cursor: pointer;
}
[sub="true"]{
    padding-left: 40px;
}
[sub="true"]>span{
    width: 260px;
}
ul.mapping-item,
ul.mapping-item-child {
    list-style: none inside none;
    margin:0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
ul.mapping-item-child{
    padding-left:40px;
}

ul.mapping-item>li{
    width: 100%;
    display: block;
}
ul.mapping-item>li>label{
    display: 100%;
    background-color: #bad7ef;
    display: block;
    padding: 5px 7px;
}
ul.mapping-item-child>li{
    display: inline-block;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
[name="popMapping"] .popup-content button:last-child{
    display:flex;
    margin: auto;
    text-align: center;
}