[component="paging"] {
    margin: 7px 50px;
    display: inline-block;
    float: right;
  }
  
  [name="asset-table"] {
  
  }
  
  [name="asset-table"] thead tr:first-child th:first-child .left-side {
    display: inline-block;
    padding-top: 7px;
    float: left;
  }
  
  #quantity_product_noti {
    font-weight: normal;
  }
  
  [name="asset-table"] thead tr:first-child th:first-child .left-side [type="checkbox"] {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  
  #select {
    position: relative;
  }
  
  p {
    padding: 0px 20px;
  }
  
  .form-control-panel {
    margin-right: 20px;
    margin-top: 0px !important;
  }
  
  #select_all_bt {
    width: 140px;
    height: 35px;
  }
  
  #remove_all_bt {
    width: 140px;
    height: 35px;
  }
  
  .control-panel {
    display: inline-block;
    float: left;
  }
  
  .control-panel button {
    display: block;
    width: 70%;
  }
  
  [name="asset-table"] thead tr:first-child th:first-child button.gray.option {
    float: left;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 15px !important;
    margin: 7px 0;
    width: 120px;
  }
  
  [name="asset-table"] thead tr:first-child th:first-child button.gray.option:before {
    line-height: 25px;
  }
  
  .chk-showAll {
    display: flex;
    align-items: center;
    height: 35px;
    margin: 7px 0;
    margin-left: 7px;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
  
  }
  
  .chk-showAll input {
    margin-right: 5px;
  }
  
  .helpdesk-control {
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .helpdesk-control .addon-control {
    display: block;
    width: 100%;
    text-align: right;
  }
  
  .helpdesk-control .addon-control input {
    width: 92%;
  }
  
  .helpdesk-control .addon-control button {
  }
  
  table.datatable td:last-child button, table.datatable th:last-child button {
    width: 100px;
    display: inline-block;
    font-size: 14px;
  }
  
  table.datatable tfoot tr td {
    padding-top: 10px !important;
  }
  
  /* Chu P.Nguyên */
  table.datatable thead tr.table-header th {
    text-align: center;
  }
  
  table.datatable tbody tr td {
    text-align: center;
    height: 70px;
  }
  
  table.datatable tbody tr td.product_picture img {
    vertical-align: middle;
    max-height: 120px;
    max-width: 120px;
    margin: auto;
  }
  
  table.datatable tbody tr {
    height: 140px;
  }
  
  table.datatable tbody tr td.product_info div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  table.datatable tbody tr td.product_paper div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  div.top-bar {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div.bottom-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  #txtSearchAsset {
    width: 300px;
    font-size: 15px;
  }
  
  .top-bar .search .search-bar {
    position: relative;
  }
  
  .top-bar .search .search-bar input {
    width: 250px
  }
  
  .top-bar .search {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .top-bar .search .number-of-product {
    margin-right: 10px;
  }
  
  .chip {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #eee;
    height: 36px;
    margin-left: 5px;
    min-width: max-content;
  }
  
  .chip:hover {
    background: #f2884b;
    color: white;
    cursor: pointer;
  }
  
  .selected-chip {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background:  #f2884b;
    color: white;
    height: 36px;
    margin-left: 5px;
    min-width: max-content;
  }
  
  .chip img {
    margin-right: 10px;
  }
  
  .chip-container {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-left: -25px;
  }
  
  .chip-row-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  
  .chip-container i {
    color: #ccc;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 0px 3px 0px 10px;
  }
  
  .chip-container i:hover {
    color: black;
    cursor: pointer;
  }
  
  .scrollable-chip-row {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }
  /* 
  #search-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%,-50%);
    color: #aaa;
  } */
  
  button:disabled {
    background: #eee;
    color:#aaa;
    cursor: not-allowed;
  }
  
  #searchBtn {
    border: none;
    color: #2c76b7;
    background-color: transparent;
    float: right;
    margin: 7px 0px 0px 0px;
  }
  
  #txbSearchAsset {
    width: 200px;
    font-size: 16px;
    border: none;
    margin: 7px 0px 0px 0px;
  }
  
  .search_control {
    float: right;
    width: 255px;
    position: relative;
    border: 1px solid #5c9cd8;
    border-width: 0 0 1px 0;
    margin-bottom: 7px;
  }