.import{
    border:1px solid #d1d1d1;
    height:30px;
    line-height: 30px;
    padding: 0px 5px;
    display: inline-block;
    color: #000;
    margin-bottom: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color: #f8f8f8;
    cursor: pointer;
    user-select: none;
}
.import:hover{
    background-color: #e9e9e9;
}
.import.csv::before{
    display: inline-block;
    text-align: left;
    content: " ";
    width: 30px;
    height: 30px;
    background-image: url("../../../../img/icon/csvicon.png");
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
    float: left;
}
select[multiple] {
    height: 200px;
}
td input {
    width: 18%;
}
.not-have {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0px solid #ddd;
    font-size: 20px;
    color: #8c8c8c;
    margin-top: 40px;
}