span.add-new {
    padding: 10px 20px;
    width: 300px;
    display: block;
    text-align: center;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    user-select: none;
    color: #aeaeaf;
    cursor: pointer;
    margin-top: 20px;
}
span.add-new:hover{
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.4);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.4);
}
span.add-new:active{
    -webkit-box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
    box-shadow:inset 0 0 50px -8px rgba(0,0,0,.3);
}
.menu-container{
    margin-top: 20px;
}
.item{
    margin-bottom: 10px;
}