[name="tableDetails"] thead tr:first-child th{
    text-align: right;
}
img[name="Thubmails"]{
    background-color: #e5e5e5;
    padding: 7px;
    border: 1px solid #b2b2b2;
    cursor: pointer;
}
select[multiple]{
    min-height: 70px !important;
    height: 70px;
}
select[multiple] option{
    width: auto;

}