.fa {
    font-size: 25px;
    padding-right: 10px;
}
#more_button {
    padding-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.fa:hover {
    cursor: pointer;
}
[section="no-item"] p {
    font-size: 25px;
    text-align: center;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    color: #d5d5d5;
    /* left: -3%; */
}

[section="no-item"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;
    margin-top: -3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#btnHelpdeskCheckAccount {
    background-color: grey;
    margin-right: 55px;
    padding: 0px 10px;
    font-size: 20px;
}

#more {
    margin-right: 55px !important;
}

.component-combobox .wrapper .trigger:after {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.component-combobox {
    background: #727272;
}

.all-noti-table {
    width: 100%;
    margin-top: 25px;
}

.all-noti > tr > td {
    background: #f6fcff;
}

.all-noti > .read > td {
    background: #fff;
}

.all-noti > tr > .img,
.all-noti > tr > .img > img {
    width: 50px;
    height: 50px;
    margin: 10px
}

.all-noti > tr > td > a:hover {
    text-decoration: underline;
}

.all-noti > tr > .time {
    width: 170px;
}

.all-noti > tr > .img > img {
    width: 50px;
    height: 50px;
    margin: 10px
}

.all-noti > tr > .title > a, .all-noti > tr > .mark > a {
    color: #000;
}

.all-noti > tr > .title > a span:first-child {
    display: block;
}

.all-noti > tr > .title > a span:last-child {
    font-size: 11px;
}

.all-noti > tr > .mark {
    width: 40px;
    color: #007ff0;
    font-size: 20px;
}

.all-noti > tr > td > a:hover {
    text-decoration: underline;
}