@charset "utf-8";
/* CSS Document */
div.Theme_GP_Wrapper {
	width: 142px;
	height: 49px;
	margin: 0;
	padding: 0;
	background: url('../../images/select.png') 0 0 no-repeat;
}
div.Theme_GP_List {
	margin:0;
	padding:0;
	border:none;
	border-top: none;
	min-width: 142px;
	width: 142px;
	overflow: visible!important;
}
div.Theme_GP_Wrapper p {
	width: 142px;
	min-height: 20px;
    color: #403e33;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px 14px 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
div.Theme_GP_List ul#selectUI_month {
	height: 325px !important;
}
div.Theme_GP_List ul.Theme_GP {
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
	background:#f4f9fd;
	-webkit-box-shadow: 5px 0px 4px rgba(0,0,0,0.05);
	-moz-box-shadow: 5px 0px 4px rgba(0,0,0,0.05);
	-o-box-shadow: 5px 0px 4px rgba(0,0,0,0.05);
	box-shadow: 5px 0px 4px rgba(0,0,0,0.05);
}
div.Theme_GP_List ul.Theme_GP li {
	width:100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 1.1em;
	float: left;
}
div.Theme_GP_List ul.Theme_GP li.First {
	border-top: none!important;
}
div.Theme_GP_List ul.Theme_GP li span {
	font-size: 1em;
	font-weight: bolder;
	font-style: italic;
	display: block;
	padding: 4px 0;
	cursor: default;
	padding: 3px 0 3px 4px;
}
div.Theme_GP_List ul.Theme_GP li a:link, div.Theme_GP_List ul.Theme_GP li a:visited {
	display: block;
	width: 100%;
	font-size: 14px;
	color: #403e33;
	padding: 8px 0 8px 5px;
	overflow: hidden;
	text-decoration:none;
}
div.Theme_GP_List ul.Theme_GP li.Active a:link, div.Theme_GP_List ul.Theme_GP li.Active a:visited {
	text-decoration:none;
	color:#3690de;
}
div.Theme_GP_List ul.Theme_GP li.Hover a:link, div.Theme_GP_List ul.Theme_GP li.Hover a:visited {
	text-decoration:none;
	color:#403e33;
	background:#bde1ff;
}
div.Theme_GP_List ul.Theme_GP li ul {
	border:none;
}
div.Theme_GP_List ul.Theme_GP li ul li {
	font-size:1em;
}
div.Theme_GP_List ul.Theme_GP li ul li a:link, div.Theme_GP_List ul.Theme_GP li ul li a:visited {
	width:147px;
	padding:5px 0 5px 5px;
	font-weight:normal;
}
div.Theme_GP_Modified_Wrapper {
	float:left;
	margin:0;
}
.GPFormItem {
	display:block;
	overflow:hidden;
	width:105px;
	float:left;
	margin:0 0 0 8px;
	display:inline;
}
.GPFormItem label {
	display:block;
	font-size:12px;
	font-weight:bold;
}

/*--Select Calendar--*/
.BgSelectDate div.Theme_GP_Wrapper {
    width: 80px;
    height: 20px;
	margin: 10px 0px 0 10px; 
    padding: 0 3px 0 0;
    background: url(../images/calendar-select.jpg) no-repeat 0 0;
	float: left;
	display: inline;
}
    .BgSelectDate div.Theme_GP_List {
		margin: 0;
		padding: 9px 0 0 0;
        width: 102px;
		background: url(../images/calendar-bg-select-top.gif) left top no-repeat;
		float: left;
    }
        .BgSelectDate div.Theme_GP_Wrapper p {
            width: 55px;
            height: 18px;
			line-height: 18px;
            color: #55abc3;
            font-size: 12px;
            cursor: pointer;
            overflow: hidden;
			padding-left: 5px;

        }

    .BgSelectDate div.Theme_GP_List ul.Theme_GP {
        width: 102px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background: url(../images/calendar-bg-select-bottom.gif) left bottom no-repeat;
    }
        .BgSelectDate div.Theme_GP_List ul.Theme_GP li {
            width: 100px;
            padding: 0;
            margin: 0 auto;
            overflow: hidden;
        }
        .BgSelectDate div.Theme_GP_List ul.Theme_GP li.First {
			background: url(../images/calendar-bg-select-top.gif) left top no-repeat;
			padding-top: 8px;
        }
        .BgSelectDate div.Theme_GP_List ul.Theme_GP li span {
            font-size: 11px;
            font-weight: bolder;
            font-style: italic;
            display: block;
            padding: 4px 0;
            cursor: default;
            padding: 3px 0 3px 4px;
        }
            .BgSelectDate div.Theme_GP_List ul.Theme_GP li a:link,
            .BgSelectDate div.Theme_GP_List ul.Theme_GP li a:visited {
                display: block;
                font-size: 11px;
				line-height: 18px;
                color: #181818;
                padding: 3px 0px 4px 10px;
                overflow: hidden;
                text-decoration: none;
             }
            .BgSelectDate div.Theme_GP_List ul.Theme_GP li.Active a:link,
            .BgSelectDate div.Theme_GP_List ul.Theme_GP li.Active a:visited {
                text-decoration: none;
                color: #50a941;
            }
            .BgSelectDate div.Theme_GP_List ul.Theme_GP li.Hover a:link,
            .BgSelectDate div.Theme_GP_List ul.Theme_GP li.Hover a:visited {
                text-decoration: none;
                color: #50a941;
            }

            .BgSelectDate div.Theme_GP_List ul.Theme_GP li ul {
                border: none;
            }
                .BgSelectDate div.Theme_GP_List ul.Theme_GP li ul li {
                    font-size: 1em;
                }
                    .BgSelectDate div.Theme_GP_List ul.Theme_GP li ul li a:link,
                    .BgSelectDate div.Theme_GP_List ul.Theme_GP li ul li a:visited {
                        padding: 5px 0px 5px 5px;
                        font-weight: normal;
                    }

.BgSelectDate .Theme_GP_Modified {
	float: left;
}
		ul.Theme_Human {
			height: 325px !important;
		}