body{
    margin:0;
    padding:0;
    background-color: #f4f4f4 !important;
}
*{
    outline: none;
}
#backToTop_bt {
    position: fixed;
    top: 82%;
    left: 95%;
    background-color: rgba(242,136,75, 0.35);
    border-radius: 3px 3px 3px 3px;
}
[section="home"]{
    /* width: 1270px; */
    /* max-width: 1270px; */
    /* margin: auto; */
    /* position: relative; */
    padding-top: 80px;
}
[section="home"]>.header{
    background-color: #2881cd;
    -webkit-box-shadow: inset 0 -20px 30px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -20px 30px 0 rgba(0,0,0,.1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
}
[section="home"]>.header .header-wrapper{
    margin: auto;
    position: relative;
    height: 80px;
}
[section="home"]>.header .logo,
[section="home"]>.header .site-search,
[section="home"]>.header .app-function{
    height: 100%;
}
[section="home"]>.header .logo
{
    position: absolute;
    left: .3em;
    width: 12.1259842519685%;
    background: url('../../img/logo.png') center center no-repeat;
    background-size: contain;
}
[section="home"]>.header .logo>img{
    position: relative;
    top: 14.76190476190476%;
    width:100%;
}
[section="home"]>.header .site-search{
    position: absolute;
    left: 12.1259842519685%;
    right: 31.49606299212598%;
    top: 20%;
    height: 60%;
}
[section="home"]>.header .site-search>.form{
    position: absolute;
    height: 100%;
    left: 3%;
    right: 3%;
    border-radius: 3px;
    border-top: 1px solid rgba(204, 204, 204,.5);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}
[section="home"]>.header .site-search>.form fieldset *,
[section="home"]>.header .site-search>.form *{
    outline: none;
    border: 0;
}
[section="home"]>.header .site-search fieldset{
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
}
[section="home"]>.header .site-search .select{
    position: absolute;
    left: 0;
    right: 82%;
}
[section="home"]>.header .site-search .select .rankingLabel,
[section="home"]>.header .site-search .select .component-combobox
{
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
}
[section="home"]>.header .site-search .select .component-combobox{
    background-color: #fff;
}
[section="home"]>.header .site-search .select .component-combobox .trigger{
    color: #727272;
    line-height: 50px;
    text-align: center;
    height: 100%;
}
[section="home"]>.header .site-search .select .component-combobox .trigger:after{
    border-color: #727272;
}
[section="home"]>.header .site-search .select::after{
    content: '';
    position: absolute;
    border-right: solid 1px #d8d8d8;
    display: block;
    left: 100%;
    z-index: 100;
    height: 70%;
    top: 15%;
}
[section="home"]>.header .site-search .search{
    position: absolute;
    left: 17.39%;
    right: 0;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
}
[section="home"]>.header .site-search .search input{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 1.782817207751689%;
    right: 9.99940003599784%;
    display: inline-block;
    width: 88.21778275625047%;
    outline: none;
    font-size: 1em;
    border: 0;
    height: 100%;
}
[section="home"]>.header .site-search .search input::placeholder{
    color: #d8d8d8;
}
[section="home"]>.header .site-search .search button{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    left: 90.00059996400216%;
    width: 9.99940003599784%;
    display: inline-block;
    outline: none;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    border: 0;
    height: 100%;
    background-color: #f2884b;
    border-radius: 0 4px 4px 0;
    top: 0;
}
[section="home"]>.header .app-function{
    position: absolute;
    width: 31.49606299212598%;
    right: 0;
    height: 100%;
}
[section="home"]>.header .app-function>ul{
    margin: 0;
    padding: 0;
    list-style: none inside none;
    height: 100%;
    width: 100%;
    position: relative;
}
[section="home"]>.header .app-function>ul>li{
    float: left;
    height: 60%;
    position: relative;
    top: 20%;
    width: 30%;
    margin-right: 3%;
}

[section="home"]>.header .app-function>ul>li>a{
    padding-left: 34%;
    display: inline-block;
    position: absolute;
    color: #fff;
    top: 14.25%;
    text-decoration: none;
    width: 100%;
    -webkit-background-size: 31px !important;
    background-size: 31px !important;
    font-size: 0.8em;
}
[section="home"]>.header .app-function>ul>li.my-request a{
    background: url('../../themes/dndTheme/images/ico/theo_doi_hov.png') left center no-repeat;
}
[section="home"]>.header .app-function>ul>li.noti>a{
    background: url('../../themes/dndTheme/images/ico/phe_duyet_hov.png') left center no-repeat;
    background-position-x: 4px;
    background-size: 28px !important;
}
[section="home"]>.header .app-function>ul>li.approval-request a{
    background: url('../../themes/dndTheme/images/ico/phe_duyet_hov.png') left center no-repeat;
    background-position-x: 4px;
    background-size: 28px !important;
}
[section="home"]>.header .app-function>ul>li.cart{
    position: relative;
    background: url('../../themes/dndTheme/images/ico/gio-hang-hov.png') 5px center no-repeat #f2884b;
    background-size: 20%;
    border-radius: 4px;
    /*background-color: ;*/
}
[section="home"]>.header .app-function>ul>li.cart>a{
    height: 100%;
    line-height: 48px;
    color: #fff;
    margin-left: 0;
    padding-left: 35%;
    right: 0;
    left:  0;
    top: 0;
    bottom: 0;
    width: 100%;
}
[section="home"]>.header .app-function>ul>li.cart>span{
    position: absolute;
    font-size: 0.9em;
    width: 20px;
    height: 20px;
    background-color: #2881cd;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    font-weight: bold;
    left: 15px;
    top: 5px;
    border: 1px solid #ddd;
}
[section="home"]>.footer{
    padding: 20px 0px;
    /*background: #2881cd;*/
    margin-top: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0055aa+0,2465a5+14,438ecc+100 */
    background: rgb(0,85,170); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(0,85,170,1) 0%, rgba(36,101,165,1) 14%, rgba(67,142,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,85,170,1) 0%,rgba(36,101,165,1) 14%,rgba(67,142,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0,85,170,1) 0%,rgba(36,101,165,1) 14%,rgba(67,142,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055aa', endColorstr='#438ecc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
[section="home"]>.footer .wapper{
    max-width: 1260px;
    margin: auto;
}
[section="home"]>.footer .wapper .left-side{

}
[section="home"]>.footer>.wapper p{
    height: 60px;
    line-height: 60px;
    padding:0;
    display: block;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin: 0;
}
[section="home"]>.footer .wapper .left-side .span-column:first-child{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
}
[section="home"]>.footer .wapper .left-side .span-column{
    text-align: left;
    width: 25%;
    float: left;
    padding: 10px 0;
}
[section="home"]>.footer .wapper .left-side .span-column.icon-column{
    border-left: 1px solid #5992d2;
}
[section="home"]>.footer .wapper .left-side .span-column.icon-column>a>* {
    display: block;
    text-align: center;
    margin: auto;
    color: #70acef;
    font-weight:normal;
    font-size: 0.9em;
}
[section="home"]>.footer .wapper .left-side .span-column.icon-column>a>span:nth-child(2){
    font-weight: bold;
    color: #f2884b;
    font-size: 1em;
    line-height: 0.7em;
    margin-bottom: 5px;
}
[section="home"]>.footer .wapper .left-side .span-column.icon-column>a>img{
    width: 30px;
    height: 30px;
    margin-bottom: 9px;
}

[section="home"]>.footer .wapper .left-side .span-column h3:first-child{
    margin-bottom: 0;
}
[section="home"]>.footer .wapper .left-side .span-column h3:nth-child(2){
    color: #f2884b;
}
[section="home"]>.footer .wapper .left-side .span-column h3{
    margin: 0 0 13px 0;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
}
[section="home"]>.footer .wapper .left-side .span-column ul{
    list-style: none inside none;
}
[section="home"]>.footer>.wapper .span-column{
    display: block;
}
[section="home"]>.footer>.wapper .span-column> a{
    line-height: 26px;
    display: block;
    text-decoration: none;
}
[section="home"]>.footer>.wapper .span-column> a .fa{
    color: #a2b9d3;
}
[section="home"]>.footer>.wapper .span-column> a span {
    display: block;
    color: #000;
}
[section="home"]>.footer>.wapper .span-column> a span.info {
    display: inline-block;
    color: #fff;
    padding-left: 24px;
    -webkit-background-size: 18px auto;
    background-size: 18px auto;
    background-repeat: no-repeat;
}
[section="home"]>.footer .wapper .left-side span.info.envelope{
    background-image: url("../../img/icon/envelope 128 grey.png");
}
[section="home"]>.footer .wapper .left-side span.info.headphones{
    background-image: url("../../img/icon/headphones 128 grey.png");
}
[section="home"]>.footer .wapper .left-side span.info.phone{
    background-image: url("../../img/icon/smartphone-call 128 grey.png");
}
[section="home"]>.footer .wapper .left-side span.info.yammer{
    background-image: url("../../img/icon/yammer.png");
}
[section="home"]>.footer>.wapper .span-column> a span i{
    color: #a2b9d3;
    font-size: 18px;
}
[section="home"]>.footer>.wapper .span-column> a.mailto{
    background: url(../../themes/dndTheme/images/ico/email.png) left center no-repeat;
}
[section="home"]>.footer>.wapper .span-column> a.callto {
    background: url(../../themes/dndTheme/images/ico/call.png) left center no-repeat;
}
[section="home"]>.footer>.wapper .span-column> ul{
    list-style: none inside disc;
    width: 100%;
    margin: 0;
    padding: 0;
}
[section="home"]>.footer>.wapper .span-column> ul li a{
    line-height: 25px;
    color: #70acef;
}
[section="home"]>.footer::after{
    content: "";
    display: block;
    clear: both;
}
[section="home"]>.footer>.wapper>.copyright{
    background: transparent;
    text-align: center;
    color: #cecece;
    font-size: 16px;
    line-height: 48px;
    margin: 0;
    clear: both;
}
[section="home"]>.nav-wrapper{
    background: #1a5384;
    border-top: 1px solid #14426b;
}
[section="home"]>.nav-wrapper>#main-nav{
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    padding: 0;
    width: 1270px;
    max-width: 1270px;
    margin: auto;
}
[section="home"]>.nav-wrapper>#main-nav::after{
    content: "";
    display: block;
    clear: both;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner {
    position: relative;
    z-index: 1000;
    width: 1260px;
    max-width: 1260px;
    margin: 0 auto;
    height: inherit;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list{
    width: 83%;
    height: inherit;
    float: left;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li{
    float: left;
    height: 100%;
    /* position: relative; */
}

[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active::before,
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover::before,
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.activeMenu::before{
    background-color: #f2884b;
    width: 90%;
    content:'';
    position:relative;
    height: 5px;
    display: block;
    float: left;
    top: 40px;
    left: 5%;
    margin-top: -5px;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover,
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active,
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.activeMenu{
    background-color: white;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active a{
    color: #000;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover a,
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.activeMenu a{
    color: #000;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active .select-product,
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover .select-product{
    display: block;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>h2{
    width: auto;
    text-transform: none;
    font-size: 17px;
    line-height: 47px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #2881cd;
    border-bottom: solid 1px #e0e0e0;
    padding: 0 10px 0 15px;
    /*background: url(../../themes/dndTheme/images/ico/title-check.png) 10px center no-repeat;*/
    margin: 0;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product{
    margin: 0;
    padding: 10px 0;
    list-style: none inside none;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li{
    display: block;
    clear: both;
    /* padding: 0 10px 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    width: 268px;
    color: #d8d8d8;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover{
    background-color: #f2884b;

}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover a{
    color: #fff;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li>a{
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
    color: #727272;
    text-decoration: none;
    width: 100%;
    display: block;
    height: 100%;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li>a img{
    position: relative;
    top: 2px;
    left: -5px
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product .product-view-all{
    display: none;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a{
    display: block;
    padding: 0 1.5em;
    font-weight: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    float: left;
    height: 40px;
    line-height: 40px;
    color: #f7fcff;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li::after{
    content: '';
    position: relative;
    height: 60%;
    border-right: 1px solid #cccccc;
    top: 20%;
    float: right;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li> a i{
    padding: 0px 10px;
    display: block;
    font-size: 30px;
    margin-top: 6px;
}
[section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child > a span{
    display: none;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .select-product{
    display: none;
    width: 268px;
    height: 400px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 40px;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    border-radius: 0 0 0 3px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner #main-nav__list > li > a > .fa-chevron-down{
    display: none;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right{
    height: inherit;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2{
    float: left;
    width: 30px;
    height: inherit;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2 a.btn-more-menu{
    width: 30px;
    height: 100%;
    background: url(../../themes/dndTheme/images/ico/mor-menu.png) center center no-repeat;
    left: inherit;
    text-decoration: none;
    display: block;
    position: absolute;
    text-indent: -9999px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2 #main-nav2__list{
    display: none;
    visibility: visible;
    min-width: 180px;
    background: #3690de;
    position: absolute;
    top: 70px;
    left: -15px;
    -webkit-box-shadow: 5px 2px 4px #dadada;
    -moz-box-shadow: 5px 2px 4px #dadada;
    -o-box-shadow: 5px 2px 4px #dadada;
    box-shadow: 5px 2px 4px #dadada;
    margin:0;
    padding:0;
    list-style: none inside none;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2 #main-nav2__lis>li{
    display: block;
    width: 100%;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2 #main-nav2__lis>li>a{
    display: block;
    padding: 0 1.5em;
    font-weight: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 66px;
    line-height: 66px;
    color: #f7fcff;
    border: solid 1px #f4f4f4;
    border-width: 0 0 1px 0;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info{
    height: inherit;
    float: right;
    position: relative;
    cursor: pointer;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info:hover .user-info__list{
    display: block;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info a.user-icon{
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    float: left;
    left: 0;
    border-radius: 22px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    top: 2.25px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-name{
    color: #f7fcff;
    font-weight: bold;
    float: left;
    height: 100%;
    line-height: 40px;
    margin: 0;
    padding: 0;
    padding-left: 6px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-info__list{
    display: none;
    min-width: 220px;
    background: #2881cd;
    position: absolute;
    top: 40px;
    right: 0px;
    -webkit-box-shadow: 5px 2px 4px #dadada;
    -moz-box-shadow: 5px 2px 4px #dadada;
    -o-box-shadow: 5px 2px 4px #dadada;
    box-shadow: 5px 2px 4px #dadada;
    margin:0;
    padding: 0;
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    padding-bottom: 5px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-info__list:before{
    content: ' ';
    position: absolute;
    border: 10px solid #2881cd;
    border-color: transparent transparent #2881cd transparent;
    top: -20px;
    right: 5px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-info__list>li{
    display: block;
    width: 100%;
    padding: 0 10px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-info__list>li.sub a{
    padding-left: 20px;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-info__list>li>a{
    display: block;
    padding: 7px 10px;
    font-weight: normal;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 20px;
    color: #f7fcff;
    border-bottom: 3px solid transparent;
}
[section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-info__list>li>a:hover{
    border-color: #fff;
}
[section="home"]>.content{
    min-height: 717px;
    width: 1260px;
    max-width: 1260px;
    margin:auto;
}
[section="home"]>.content:after{
    display: block;
    clear: both;
    float: none;
    width: 100%;
    height:1px;
}
[section="home"]>.content>.head-slide{
    margin-left:21.26984126984127%;
    z-index: 99;
    -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,.3), 0px 2px 5px 0 rgba(0,0,0,.3);
    box-shadow: -2px 0 2px 0 rgba(0,0,0,.3), 0px 2px 5px 0 rgba(0,0,0,.3);
    position: relative;
    height: 400px;
    margin-top: 0px;
    border-radius: 0 0 3px 0;
}
.product-slide>article{
    height:100%;
    overflow: hidden;
}
.product-slide{
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    border-radius: 3px;
    overflow: hidden;
}
.product-slide>article>ul{
    margin: 0;
    padding: 0;
    list-style: none inside none;
    background-color: #f0f0f0;
    text-align: right;
    border-bottom: 1px solid #e0e0e0;
    height: 48px;
}
.product-slide>article>ul>li{
    display: inline-block;
    text-align: center;
    color: #403e33;
    height: 100%;
}
.product-slide>article>ul>li>a{
    text-decoration: none;
    font: normal 17px/17px "Roboto", sans-serif;
    color: #403e33;
    line-height: 47px;
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
}
.product-slide>article>ul>li.active a{
    color: #2881cd;
    font-weight: bold;
    height: 100%;
    display: block;
    border-bottom: 3px solid #2881cd;
}
.product-slide>article>.tab-details{
    display:none;
    height: 352px;
}
.product-slide>article>.tab-details>.swiper-container {
    height: 100%;
    overflow: unset;
}
.product-slide>article>.tab-details>.swiper-container>ul {
    margin: 0;
    padding: 0;
    list-style: none inside none;
}
.product-slide>article>.tab-details>.swiper-container>ul li{
    width: 25%;
    padding: 30px 1.6666665%;
}
.product-slide.head-slide>article>.tab-details>.swiper-container>ul li{
    width: 33.333%;
}
.product-slide>article>.tab-details>.swiper-container>ul li button{
    position: absolute;
    left:0;
    bottom:0;
    display: none;
    border-radius: 0;
}
.product-slide>article>.tab-details>.swiper-container>ul li:hover{
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
}
.product-slide>article>.tab-details>.swiper-container>ul li:hover button{
    display: block;
}
.product-slide>article>.tab-details>.swiper-container>ul li:hover a{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.product-slide>article>.tab-details>.swiper-container>ul li a{
    display: block;
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.product-slide>article>.tab-details>.swiper-container>ul li a:hover{

}
.product-slide>article>.tab-details>.swiper-container>ul li a>span{
    display: block;
    width: 100%;
    text-align: center;
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.imgstyle{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 90%;
    min-height: 200px;
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.imgstyle img{
    height: 100%;
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.info-text{
    color: #727272;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    height: 50px;
    padding: 0px 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.info-text span{
    display: block
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.info-text .short-description{
    font-weight: normal;
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.price {
    color: #d65c5c;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.product-slide>article>.tab-details>.swiper-container>ul li a>span.rating {
    text-indent: -9999px;
    margin: 0px auto;
    height: 28px;
    background: url(../../themes/dndTheme/images/ico/rating.png) left center repeat-x;
}
.product-slide>h2 {
    position: absolute;
    left: 0;
    top: 0;
    background-position: 0 0;
    height: 48px;
    width: 324px;
    /*background-image: url(../../themes/dndTheme/images/sprites-s03e337eee1.png);
    background-repeat: no-repeat;*/
    height: 48px !important;
    padding: 0 20px 0 45px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    line-height: 48px;
}
.product-slide>h2:before{
    width: 34px;
    height: 34px;
    right: -18px;
    top: 7px;
}
.blank{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.btn-login{
    line-height: 40px;
    display: block;
    color: #fff;
    text-align: right;
}