[section="home"].toggle>.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 888;
    width: 100% !important;
    margin: 0;
    background-color: #2881cd;

}
[section="home"].mobile>.header .logo,
[section="home"].toggle>.header .logo{
    left: 50px;
    width: 9%;
}
[section="home"].toggle>.header .header-wrapper{
    height: 50px;
    animation-name: toggleHeader;
    animation-duration: 1s;
}
@keyframes toggleHeader {
    from {
        height: 80px;
    }
    to {
        height: 50px;
    }
}
[section="home"].toggle>.header .menuToggle{
    display: block;
}
[section="home"].toggle>.header .site-search{
    top:10%;
    height: 80%;
}
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner>.group-right{
    display: none;
}
[section="home"].toggle>.header .site-search>form{
    border: 0;
    border-radius: 0;
}
[section="home"].toggle>.header .site-search .select .component-combobox .trigger{
    line-height: 39px;
}
[section="home"].toggle>.header .app-function{
    width: 30%
}
[section="home"].toggle>.header .app-function>ul{
    height: 100%;
}
[section="home"].toggle>.header .app-function>ul>li{
    height: 80%;
    top: 10%;
}
[section="home"].toggle>.header .app-function>ul>li a{
    color: #fff;
    line-height: 16px;
}
[section="home"].toggle>.header .app-function>ul>li.cart>a {
    line-height: 41px;
    padding-left: 37%;
}
[section="home"].toggle>.header .app-function>ul>li.cart{
    border-color: #fff;
}
[section="home"].toggle{
    padding-top: 105px;
}
[section="home"].toggle>.header .app-function>ul>li.cart{
    background-image: url(../../themes/dndTheme/images/ico/gio-hang-hov.png);
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../../themes/dndTheme/images/ico/mor-menu.png) center no-repeat;
    z-index:999;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list{
    display: block;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list::before,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list::before{
    content: '';
    display: block;
    border: 10px solid #fff;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 9px;
    top:-20px;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list{
    display: none;
    position: fixed;
    top: 50px;
    background-color: #fff;
    height: auto;
    left: 10px;
    width: auto;
    -webkit-box-shadow: 0px 0px 5px 0 rgba(0,0,0,.4);
    box-shadow: 0px 0px 5px 0 rgba(0,0,0,.4);
    border-radius: 0 0 3px 3px;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li{
    float: none;
    clear: both;
    height: 30px;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li::after,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li::after{
    height: 0;
}
[section="home"].mobile>.nav-wrapper>#main-nav .main-nav--inner .select-product,
[section="home"].toggle>.nav-wrapper>#main-nav .main-nav--inner .select-product{
    width: 450%;
    top: 0;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    bottom: 0;
    height: 100%;
    border-left: 1px solid #c1c1c1;
    display: none;
    border-radius: 0 0 3px 0;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a{
    color: #727272;
    display: block;
    line-height:30px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 7px 20px;
    height: auto;
    white-space: nowrap;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active::before,
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover::before,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active::before,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover::before{
    height: 0;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active .select-product,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active .select-product{
    display: none;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active:hover .select-product,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active:hover .select-product{
    display: block;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child >a>span,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child >a>span{
    display: block;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child >a>i,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child >a>i{
    display: none;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li::after,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li::after{
    height: 0;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active,
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active>a,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li.active>a{
    background-color: transparent;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover,
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover>a,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:hover>a{
    background-color: #f2884b;
    color: #fff;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>h2,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>h2{
    display: none;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product{
    padding: 0;
    top: 0;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li{
    float: left;
    clear: none;
    padding: 0;
    position: relative;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li>a,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li>a{
    padding: 7px 20px;
    height: auto;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover,
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover a,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover a{
    background-color: transparent;
    color: #727272;
    font-weight: bold;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover::after,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover::after{
    height: 3px;
    width: 50%;
    content: '';
    display: block;
    background-color: #f2884b;
    position: absolute;
    bottom: 0;
    left: 20px;
}
[section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child:hover:before,
[section="home"].toggle>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child:hover:before{
    content: '';
    display: block;
    border: 10px solid #f2884b;
    border-color: transparent transparent #f2884b transparent;
    position: absolute;
    left: 9px;
    top: -15px;
    width: 0;
    background-color: transparent;
}