@media screen and (max-width: 768px){
    [section="home"]>.header .header-wrapper{
        background-color: #2881cd;
    }
    [section="home"]>.header .app-function{
        width: 40%;
    }
    [section="home"]>.header .app-function>ul{
        float: right;
        width: 100%;
    }
    [section="home"]>.header .app-function>ul>li{
        width: 30%;
        background-position: center center !important;
    }
    [section="home"]>.header .app-function>ul>li>a{
        display: none;
    }
    [section="home"]>.header .app-function>ul>li.cart{
        background-size: 55% !important;
        background-position: 5px center !important;
        border-color:#fff;
        background-image: url('../../themes/dndTheme/images/ico/gio-hang-hov.png');
    }
    [section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a{
        padding: 0 5px;
    }
    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2 a.btn-more-menu{
        background-size: 70% !important;
    }
    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-name{
        display: none;
    }
    [section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li> a i{
        font-size: 30px;
        margin-top: 10px;
    }
    .product-slide:not(.head-slide)>article>.tab-details>.swiper-container>ul li a>span.imgstyle{
        height: 150px !important;
    }
    .product-slide>article>.tab-details>.swiper-container>ul li a>span.imgstyle img{
        height: 100%
    }
    .product-slide.head-slide>article>.tab-details>.swiper-container>ul li,
    .product-slide>article>.tab-details>.swiper-container>ul li{
        width: 100% !important;
    }
    [section="home"]>.content>.head-slide{
        margin-left: 0px !important;
    }
    [section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product{
        width: 100%;
        position: static;
        border-radius: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0px !important;
        height: fit-content;
        border: 0px;
    }
    [section="home"]>.header .site-search{
        top: 60px !important;
        width: 100%;
        left: 0 !important;
        padding: 0;
        border-radius: 0;
        height: 40px !important;
        border-radius: 0px;
        -webkit-box-shadow: 0px 1px 0px 0 rgba(0,0,0,.2);
        box-shadow: 0px 1px 0px 0 rgba(0,0,0,.2);
    }
    [section="home"]>.header .site-search>form{
        left: 0;
        right: 0;
        border-radius: 0;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 40px;
    }
    [section="home"]>.content{
        margin-top: 40px;
    }
    [section="home"]>.header .site-search .search button{
        line-height: 40px;
        font-size: 18px;
        border-radius: 0;
    }
    [section="home"]>.header .logo{
        width: 40% !important;
        height: 70%;
        top: 15%;
        background-image: url('../../themes/dndTheme/images/app-icon-m.png');
    }
    .product-slide>h2{
        position: relative;
        display: block;
    }
    .product-slide>article>ul{

    }
    [section="home"]>.header .site-search .select .component-combobox .trigger{
        font-size: 13px;
        padding: 0px 15px 0px 5px;
        line-height: 40px;
    }
    [section="home"]>.header .site-search .select .component-combobox .trigger:after{
        right: 5px;
        width: 7px;
        height: 7px;
    }
    [section="home"]>.header .site-search .select .component-combobox{
        border-radius: 0;
    }
    [section="home"]>.header .app-function>ul>li.cart>span{
        top: 7px !important;
        left: 20px !important;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list{
        right: 0;
        bottom: 0;
        overflow-y: auto;
        height: auto;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li{
        float:none;
        clear: both;
        width: 100%;
        position: relative;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product{
        padding-left: 20px;
        background-color: #4f4f4f;
        -webkit-box-shadow: inset 0px 0px 2px 0 rgba(0,0,0,.4), inset 0px 45px 0px 0 rgba(0,0,0,.4);
        box-shadow: inset 0px -1px 0px 0 rgba(0,0,0,.4), inset 0px 45px 0px 0 rgba(0,0,0,.4);
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li{
        clear: both;
        floar: none;
        height: auto;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li>a{
        color: #f2f2f2;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover a{
        color: #fff;
        position: relative;

    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li .select-product>.list-product>li:hover::after{

    }
    .product-slide>article>.tab-details>.swiper-container>ul li a>span.imgstyle{
        height: 150px !important;
    }
}
