@media screen and (min-width: 768px) and (max-width: 1000px) {
    [section="home"]>.header .logo{
        height: 95%;
        top: 2.5%;
        width: 20% !important;
    }
    [section="home"]>.header .app-function>ul>li{
        background-position: left center !important;
    }
    [section="home"]>.header .app-function>ul>li>a{
        display: block;
        font-size: 14px !important;
        margin-left: 35px !important;
    }
    [section="home"]>.header .app-function {
        width: 50%;
    }
    [section="home"]>.header .app-function>ul>li.cart{
        background-size: 25% !important;
    }
    [section="home"]>.header .app-function>ul>li.cart>a{
        margin-left: 45px !important;
    }
    .product-slide.head-slide>article>.tab-details>.swiper-container>ul li,
    .product-slide>article>.tab-details>.swiper-container>ul li{
        width: 46.666667% !important;
    }

    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .select-product{
        top: 50px;
        width: 245.750px;
    }
    [section="home"]>.content>.head-slide{
        z-index: 90;
    }
    [section="home"]>.header{
        z-index: 91;
    }
    [section="home"]>.header .app-function{
        width: 30%;
    }
    [section="home"]>.header .app-function>ul{
        float: right;
        width: 100%;
    }
    [section="home"]>.header .app-function>ul>li{
        width: 30%;
        background-position: center center !important;
    }
    [section="home"]>.header .app-function>ul>li>a{
        display: none;
    }
    [section="home"]>.header .app-function>ul>li.cart{
        background-size: 30% !important;
        background-position: center center !important;
        border-color:#fff;
    }
    [section="home"]>.header .app-function>ul>li.cart>span{
        left: 60% !important;
    }
}