@media screen and (max-width: 1270px){
    [section="home"]{
        padding-top:60px;
    }
    [section="home"]>.nav-wrapper>#main-nav{
        width: 90%;
    }
    [section="home"]>.header .header-wrapper{
        height: 60px;
        width: 100%;
        max-width: 100%;
    }
    [section="home"]>.header .site-search{
        position: absolute;
        top: 15%;
        height: 70%;
        left: 30%;
        right: 32.49606299212598%;
    }
    [section="home"]>.header .site-search .select::after{
        height: 70%;
        top: 15%;
    }
    [section="home"]>.nav-wrapper>#main-nav>.main-nav--inner{
        width:100%;
    }
    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info{
        float: right;
        width: auto;
        margin-right: 20px;
    }
    [section="home"]>.header .app-function>ul>li{
        float: left;
        height: 70%;
        position: relative;
        top: 15%;
        width: 30%;
        margin-right: 3%;
    }
    [section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a{
        font-size: 13px;
        line-height: 40px;
        height: 40px;
    }
    [section="home"]>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li> a i{
        margin-top: 5px;
    }
    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .main-nav2 a.btn-more-menu{
        height: 50px;
        background-position: center center;
        top: 0;
    }
    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info a.user-icon{
        top: 3px;
    }
    [section="home"]>.nav-wrapper>#main-nav .main-nav--inner .group-right .user-info .user-name{
        line-height: 50px;
    }
    [section="home"]>.content>.head-slide{
        margin-left: 0;
    }
    .product-slide.head-slide>article>.tab-details>.swiper-container>ul li{
        width: 21.666667%;
        padding: 30px 1.6666665%;
    }

    [section="home"]>.content{
        min-height:717px;
        width: 100%;
        max-width: 100%;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle{
        height: 60px;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list{
        top: 60px;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a>span,
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li>a{
        font-size: 16px;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner>.main-nav-toggle:hover #main-nav__list::before{
        left: 15px;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list>li:first-child:hover:before{
        left: 15px;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav>.main-nav--inner #main-nav__list{
        left:0;
    }
    [section="home"].mobile>.nav-wrapper>#main-nav .main-nav--inner .select-product{
        min-height: 200%;
        max-width: 200%;
        border-radius: 0 4px 4px 4px;
    }
    [section="home"]>.header .site-search .select{
        right: 80%;
    }
    [section="home"]>.header .site-search .search{
        left: 20%;
    }
    [section="home"]>.header .app-function>ul>li>a{
        margin-left: 33px;
        font-size: 12px;
    }
    [section="home"]>.header .app-function>ul>li.cart>a{
        font-size: 14px;
        line-height: 42px;
        top: 0;
    }
    [section="home"]>.header .app-function>ul>li.cart>span{
        left:13px;
        top: 5px;
    }
}
