@media screen and (min-width: 1400px) {
    [section="home"]>.header>.header-wrapper{
        width: 100%;
    }
    [section="home"].mobile>.header .logo, [section="home"].toggle>.header .logo{
        width: 9%;
    }
    [section="home"]>.header .logo{
        width: 20%;
    }
    [section="home"].toggle>.header .site-search,
    [section="home"]>.header .site-search{
        left: 20%;
        right: 20%;
    }
    [section="home"].toggle>.header .app-function,
    [section="home"]>.header .app-function{
        width: 20%;
    }
}