.notis{
    background: white;
    position: absolute;
    top: 100%;
    right: -97px;
    padding-left: 0;
    width: 400px;
    z-index: 9999;
}

.notis > div>div{
    list-style: none;
    border: 1px solid #989898;
    padding: 10px;
}










