#zalo_icon {
    width: 18px;
    padding-top: 4px;
    position: absolute;
}

#tracking_orders {
    cursor: pointer;
}

.noti {
    cursor: pointer;
}

.noti > .item-number {
    position: absolute;
    font-size: 15px;
    width: 20px;
    height: 20px;
    background-color: #f2884b;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    font-weight: bold;
    left: 18px;
    top: 8px;
}

.notis {
    background: white;
    position: absolute;
    top: 100%;
    right: -97px;
    padding-left: 0;
    width: 400px;
    z-index: 9999;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
}

.notis > .item {
    list-style: none;
    border-bottom: 1px solid #989898;
}

.notis > .item {
    border-bottom: 1px solid #989898;
    height: 70px;
    position: relative;
    background: rgb(246, 252, 255);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.notis > .item.read {
    background-color: #ffffff;
}

.notis > .item:hover {
    background-color: rgba(218, 228, 232, 0.6);
}

.notis > .item > .img {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 70px;
    background: url(../../img/notification/invoice.png) no-repeat center;
    background-size: contain;
}

.notis > .item > .title {
    padding-left: 65px;
    padding-bottom: 8px;
    right: 0;
    max-height: 34px;
    font-size: 14px;
    overflow-y: hidden;
}

.notis > .item > .IDNoti {
    padding-left: 65px;
    padding-bottom: 8px;
    right: 0;
    max-height: 34px;
    font-size: 14px;
    overflow-y: hidden;
}

.notis > .item > .time {
    padding-top: 2px;
    padding-left: 65px;
    font-size: smaller;
    color: #676767;
}

.notis > .noti-loading {
    background: url(../../img/loading.gif) no-repeat center;
    background-size: contain;
}

.notis > .no-item, .notis > .to-all {
    text-align: center;
    height: 35px;
}

.notis > .to-all {
    color: #0022ff;
    background: white;
}

.notis > .to-all:hover {
    text-decoration: underline;
}