[section="home"].mobile>.content>.head-slide{
    z-index: 90;
}
[section="home"].mobile>.header{
    z-index: 91;
}
[section="home"].mobile>.nav-wrapper{
    height: 0 !important;
}

[section="home"].mobile>.nav-wrapper .group-right{
    height: 0 !important;
    overflow: hidden;
    border: 0;
}