.request-list > li{
    padding-left: 50px;
}

.request-checkbox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.request-list > .checked{
    background: #faebd7a1;
}

/*.user-info{*/
    /*text-align: right;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.user-info>.search-box{*/
    /*max-width: 500px;*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*text-align: left;*/
    /*font-size: smaller;*/
/*}*/

/*.user-info>.search-box>input{*/
    /*width: 100%;*/
/*}*/

/*.user-info>.search-box>button{*/
    /*display: none;*/
/*}*/

#btnDelegate{
    float:right;
}

.form-content > .role:after{
    content: ' ';
    display: block;
    float: none;
    clear: both;
}

.form-content .select-all{
    padding: 10px 10px 5px;
}