.search-results{
    max-height: 1000px;
    overflow-y: scroll;
}

.search-results>.item{
    margin-bottom: 30px;
    position: relative;
    max-width: 600px;
}
.search-results>.item>.title{
    color:#1a0dab;
    position: absolute;
    left: 100px;
    top: 0;
    cursor: pointer;
}

.search-results>.item>.title:hover{
    text-decoration: underline;
}

.search-results>.item>.description{
    color: #545454;
    font-size: smaller;
    position: absolute;
    left: 100px;
    top: 27px;
}

.search-results>.item>img{
    width: 87px;
    height: 87px;
    cursor: pointer;
}
.product-container {
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.4);
    background-color: #fff;
}
.product-container li {
    width: 21.666%;
}
.head-filter {
    margin-top: 10px;
    padding: 0 10px;
    display: inline-block;
}
.head-filter a{
    display: inline-block;
    padding: 7px 15px;
    border-bottom: 4px solid transparent;
}
.head-filter a.active{
    font-weight: bold;
    border-bottom-color: #f2884b;
}
.result-total{
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding-top:  10px;
    font-size:  11pt;
    color: #777777;
}

.post-content{
    padding: 10px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
[page="user"] .right-panel{
    background-color: transparent;
}
[section="list-order"] .header-section{
    background-color: #fff;
}