

// .subpage {
//     .wrapper__post-gallery {
//         background: transparent;
//         @include bp(widescreen) {
//             min-height: 700px;
//         }

//         .wrapper {
//             background: none;
//         }
//         .posts__tabs {

//             margin-top: 0;
//             border-bottom: solid 1px $sub-tabs-border-color;

//             > li {
//                 color: $sub-tabs-color;
//                 padding: 10px 0;
//                 border-bottom: 4px solid transparent;

//                 a {
//                     color: $sub-tabs-color;                     
//                     font-size: $sub-tabs-font - 4px;
//                     @include bp(widescreen) {
//                         font-size: $sub-tabs-font;
//                     }                               
//                 }
//                 &.active,
//                 &:hover {                               
//                     border-bottom: 4px solid $sub-tabs-border-active-color;
//                     > a,
//                     > a:hover {                         
                    
//                         color: $sub-tabs-active-color;
//                     }
//                 }
//                 &:hover {
//                     color: $sub-tabs-active-color;
                    
//                 }

//             }
//         }

//         .list__image-more{
//             @include span-columns(12);
//             margin-right: 0;
//             text-align: center;
//             padding: 10px 0;
//             color: #ff4700;
//             // background: url('../images/bg-xemthem.png') repeat;
//             background: transparent;
//             font-size:16px;
//             border: solid 2px #ff4700;
//             border-radius: 5px;
//             display: block;
//             &:hover {
//                 // background: url('../images/bg-xemthem-hv.png') repeat;
//                 background: transparent;
//                 color: #6f6009;
//                 border: solid 2px #6f6009;

//             }

//             > .fa {
//                 font-weight: bold;

//                 // background: url('../images/ico/ico-more.png') no-repeat;
//             }
//         }


//     }

// }
