@mixin bp($point) { /* breakpoint: smartphone | desktop; */
    @if $point == smartphone {
        @media (max-width: 666px) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: 667px) { @content; }
    }
    @else if $point == widescreen {
        @media (min-width: 1025px) { @content; }
    }
    @else if $point == hybrid { /* between desktop ~ smartphone */
        @media (max-width: 1024px) { @content; }
    }
    @else if $point == d1024 {
        @media (min-width: 1024px) and (max-width: 1024px) { @content; }
    }
}

@mixin opacity($alpha) {
    opacity: $alpha;
    -moz-opacity: $alpha;
    -webkit-opacity: $alpha;
    filter: alpha(opacity=$alpha*100);
}

@mixin off-canvas-translate3d() {
    @include transition(transform 0.25s ease-out);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

@mixin off-canvas-sliding($offset) {
    @include transform( translate3d($offset, 0, 0) );
}

@mixin css-sliding($x, $y, $z) {
    @include transform( translate3d($x, $y, $z) );
}

@mixin border-radius($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
    @include border-left-radius($radius);
    @include border-right-radius($radius);
}

@mixin common-button() {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
   // @include border-radius(3px);
    background: $theme-color;
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    // border-style: dashed !important;
    border-radius: 10px !important;

    @include bp(smartphone) {
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        margin-top: -10px;
    }
    @include bp(desktop) {
        padding: 0 40px;
        height: $top-bar-height;
        line-height: $top-bar-height;
        font-size: 22px;
        font-weight: bold;
        margin-top: -12px;
    }

    &:hover {
        @include opacity(0.8);
    }
}

@mixin link-button() {
    padding: 10px 20px;
    display: block;
    background: #402814;
    border: 1px solid #484848;
    color: #ffce26;
}
@mixin image-link($width, $height) {
    width: $width;
    height: 0;
    padding: $height 0 0;
    text-indent: -1000em;
    overflow: hidden;
    display: block;
}

@mixin section-title() {
    background: $title-section-bg-color;
    color: $title-section-color;
    font-size: $title-section-font;
    text-transform: uppercase;
    text-align: left;
    padding: 0px 0 20px ;
    font-weight: bold;

    @include bp(hybrid) {
        color: #ffffff;
    }
   
}

@mixin common-img() {
    display: block;
    margin: 0;
    padding: 0;   
}

@mixin hr() {
    width: 100%;
    height: 0;
    border: none;
    border-bottom: 1px solid $primary-border-color;
}


@mixin fb-placeholder {
    width: 120px;
    height: 30px;
    position: absolute;
    text-align: center;
    background: none;
    @include border-radius(3px);
    @include bp(smartphone) {
        left: 86px;
        top: 60px;
    }
    @include bp(desktop) {
        left: 120px;
        top: 90px;
    }
    @include bp(widescreen) {
        top: 34px;
        left: 270px;
    }

    > .fb-like {
        float: left;
        display: inline-block;
        // @include bp(smartphone) {
        //     margin: 18px 0 0;
        // }
    }

    iframe {
        z-index: 2;
    }

}

@mixin post-cate() {
    background: $posts-bg;
    color: invert($posts-bg);
}

@mixin common-tab() {

    display: block;
    border-bottom: 1px solid $posts-tabs-border-color;
    @include display(flex);
    @include flex-direction(row);                   
    @include align-items(center);
    padding: 0 10px;
    height: $posts-tab-height;
    @include box-sizing(border-box);

    
    > li {
        padding: 0px 20px;
        text-align: center;
        font:$posts-tabs-font;
        color: $posts-tabs-color;
        display: block;
        height: $posts-tab-height + 2px;
        line-height: $posts-tab-height;
        @include bp(hybrid) {
            padding: 0px 14px;
        }

        &.active,
        &:hover.active {
            color: $posts-tabs-active-color;                 
            border-bottom: 2px solid $posts-tabs-border-active-color;
            > a,
            > a:hover {
                color: $posts-tabs-active-color;
                
            }
        }

        &:last-child {
            border-right: none;                         
        }

        a {
            font:$posts-tabs-font;
            color: $posts-tabs-color;
            @include bp(smartphone) {
                font: $m-posts-tabs-font;

            }
            &:hover {
                color: $posts-tabs-active-color;
            }
        }
    }
               
}


%btn-style {
    display: block;
    position: absolute;
    text-indent: -9999px;
}

