
@mixin centerabs($width, $height) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	margin-left: unquote(-($width / 2px) + 'px');
	margin-top: unquote(-($height / 2px) + 'px');
}

@mixin setsz($width, $height) {
	width: $width;
	height: $height;
}

@mixin topabs-center-imgref($url) {
	top: 50%;
	margin-top: unquote(-(image-height($url) / 2px) + 'px');
}

@mixin setsz-byimg($url) {
	width: image-width($url);
	height: image-height($url);
}

@mixin imgbg($url) {
	background: transparent url($url) 0 0 no-repeat;
}

@mixin imgbg-center($url) {
	background: transparent url($url) 50% 50% no-repeat;
	background-size: cover;
}

@mixin imgbg-tl($url) {
	background: transparent url($url) 0 0 no-repeat;
}

@mixin noimgbg() {
	background-image: none;
}

@mixin imgbg-wdimension($url) {
	background: transparent url($url) 50% 50% no-repeat;
	width: image-width($url);
	height: image-height($url);
}

@mixin imgref-centerabs($url) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: image-width($url);
	height: image-height($url);
	margin-left: unquote(-(image-width($url) / 2px) + 'px');
	margin-top: unquote(-(image-height($url) / 2px) + 'px');
}

@mixin imgbg-centerabs($url) {
	position: absolute;
	background: transparent url($url) 50% 50% no-repeat;
	top: 50%;
	left: 50%;
	width: image-width($url);
	height: image-height($url);
	margin-left: unquote(-(image-width($url) / 2px) + 'px');
	margin-top: unquote(-(image-height($url) / 2px) + 'px');
}

@mixin bg-norepeat($url) {
	background: transparent url($url) 0 0 no-repeat;
	height: image-height($url);
	width: image-width($url);
}

@mixin bg-norepeat($url) {
	background: transparent url($url) 0 0 no-repeat;
	height: image-height($url);
	width: image-width($url);
}

@mixin layer-animation($duration /* ms */, $keyframe) {
	@include animation(unquote($keyframe + " " + unquote($duration + 'ms') + " " + 1 + " " + forwards));
}

@mixin imgdim($url) {
	height: image-height($url);
	width: image-width($url);
}

@mixin nolist() {
	list-style: none;
	display: block;
}

@mixin transition-me($property, $duration /* ms */) {
	@include transition-property($property);
	@include transition-duration(unquote($duration/1000 + "s"));
	@include transition-timing-function(linear);
}

%button-type {
	display: block;
	text-indent: -9999px;
}
