/* misc styles */
$page-bg: #f4f9fd;
$font-face: 'Roboto', sans-serif;
$font-size-base: 16px;
$section-background: #181818;
$function-bar-height: 105px;
$m-function-bar-height: 76px;
$m-function-bar-height-extra: 0px;
$search-field-height: 47px;
$menu-bar-height: 66px;
$offset-canvas: 100%;
$desktop-max-width: 100%;//1024px;
$desktop-content-width: 1280px;
$sub-bgcolor: #fffbf6;
/* =========== */

/* border styles */
$primary-border-color: #e0e0e0;
$secondary-border-color: #454545;
/* =========== */

/* off-canvas menu */
$off-canvas-menu-bg: #292525;
$off-canvas-menu-divider: #3b3535;
$off-canvas-menu-tap-highlight: #333333;
$off-canvas-menu-text: #ebebeb;
/* =========== */

/* color styles */
$theme-color: #2881cd;
$primary-text-color: #665d29;
$secondary-text-color: #8d8d8d;
$hover-color: #ffd820;
$hover-secondary-color: #337ab7;
$active-color: #fadb62;
$disabled-color: rgba(188, 178, 164, 1);
$placeholder-color: #bbb7b7;

$title-section-bg-color: #2881cd;
$title-section-color: #f5f5f5;
$title-section-font: 18px;

/* ======navigation top===== */

$nav-text-color : #f7fcff;
$nav-text-hover-color: #ffd820;
$nav-bg-color: #2881cd;
$nav-bg-hover-color: #2881cd;
$nav-border: solid 1px #f4f4f4;
$nav-border-hover: solid 4px #ffd820;


$m-nav-text-color : #f0f0f0;
$m-nav-text-hover-color : #383e3e;
$m-nav-bg-color : #2f82c6;
$m-nav-bg-hover-color : #bde2ff;
$m-nav-border-color : #4c72a2;

$subnav-bgcolor: #ffc03a;
$subnav-color: #111727;
$subnav-color-hover: #c84701;
$subnav-color-off: #aa9939;
$subnav-nav-text-color : #111727;
$subnav-nav-bg-color : #ffc03a;

$m-subnav-bgcolor: #192548;
$m-subnav-nav-text-color : #c9def0;
$m-subnav-nav-text-hover-color : #f9c637;




/***home-first section*****/
$section1-height: 352px;
$m-section1-height: 330px;

$select-product-col-width: 268px;
$slide-tab-product-col-width: 1008px;
$slide-height: 330px;

$section-bg-color: #f0f0f0;
$section-space: 18px;


/***paging*****/
$paging-border-color: #323d59;
$paging-text-color: #333333;
$paging-bg-color: #fffbf6;
$paging-text-color-hover: #fffbf6;
$paging-bg-hover: #ff4700;

/* form elements */
$input-bg: #da740f;
$input-bg-disabled: #d1d1d1;
$input-color: #f1cd9f;
$input-border: #ccc;
$input-border-radius:  4px;
$input-border-focus: #ef9419;
$input-height-base: 34px;
$input-padding-vertical: 6px;
$input-padding-horizontal: 12px;

$button-bg: #fff;
$button-bg-hover: #e6e6e6;
$button-color: #000;
$button-color-hover: #fff;

$info-success: #3c763d ;
$info-warn: #f0ad4e;
$info-error: #a94442 ;
/* =========== */

/* css content */
$content-text-color: #333333;
$table-header-background-color: #ff7e00;
$table-header-text-color: #fff;
$table-even-row-background-color: #fff3e4;
$table-odd-row-background-color: #ffffff;
$table-border-color: #bfc5ce;
$h4-color: #ff4700;
$h5-color: #e17917;
/* =========== */

/*list post*/
$posts-tab-height: 48px;
$posts-bg: #f8f8f8;
$posts-tabs-bgcolor: #f8f8f8;
$posts-tabs-active-bgcolor: #f8f8f8;
$posts-tabs-font: normal 20px/20px $font-face;
$posts-tabs-color: #403e33;
$posts-tabs-active-color: #2881cd;
$posts-tabs-border-color: #e0e0e0;
$posts-tabs-border-active-color: #337ab7;
$m-posts-tabs-font: normal 16px/20px $font-face;


$posts-title-font: bold 16px/17px $font-face;
$posts-title-color: #665d29;
$posts-title-hover-color: #e7c81e;

$posts-price-font: bold 20px/17px $font-face;
$posts-price-color: $theme-color;


/*list post 2*/
$posts2-tabs-color: #665d29;
$posts2-tabs-active-color: #2881cd;


