@charset "UTF-8";

@import "variables";
@import "mixins";
@import "swiper";
@import "compass/reset";
@import "bourbon/bourbon";
//@import "debug";
$sprites-sprite-dimensions: true;
@import "neat/neat";
@import "_utilities";
@import "_gallery.scss";
// @import "font-awesome/font-awesome";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "../widgets/swiper/sass/idangerous.swiper";
@import "../widgets/photoswipe/sass/photoswipe";
@import "../widgets/photoswipe/sass/photoswipe-skin";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,vietnamese");
@import "sprites/*.png";
@include all-sprites-sprites(true);


body {

	font: 14px $font-face;
	-webkit-text-size-adjust: 100%; /* prevent safari in ios auto scale font-size */

	@include bp(widescreen) {
		background: $page-bg;
	}

}

a,
input {
	font-family: $font-face;
}

a,
a:active,
a:visited {
	text-decoration: none;
	color: $primary-text-color;
}

.wrapper {
	// @include outer-container();
	width: $desktop-content-width;
	height: 100%;
	position: relative;
	margin:0 auto;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	@include bp(hybrid) {
		width: 100%;
	}
}



.inactive {
	@include opacity(0.5);
}

.hidden {
	display: none !important;
}

.shown {
	display: block !important;
	width: $offset-canvas!important;
	height: 100%!important;//calc( 100% + 60px );
	opacity:1!important;
	// -webkit-transform:scale3d(1,1,1)!important;
}


#outer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ffffff;

	.function-bar {
		width: 100%;
		height: $function-bar-height;
		z-index: 9;
		@include bp(hybrid) {
			height: $m-function-bar-height;
			background: #3690de url(../images/head-mobile-repeat.jpg) left bottom repeat-x;
			position: fixed;
		}
		@include bp(smartphone) {
			height: $m-function-bar-height + $m-function-bar-height-extra;
			background: #3690de url(../images/head-mobile-repeat.jpg) left bottom repeat-x;
		}
		.logo {
			width: 154px;
			height: 74px;
			@extend %btn-style;
			background: url(../images/app-icon.png) left top no-repeat;
			left: 2px;
			top: 12px;
			@include bp(hybrid) {
				width: 116px;
				height: 46px;
				background: url(../images/app-icon-m.png) left top no-repeat;
				left: 70px;
			}
			@include bp(smartphone) {
				left: 50px;
				top: 18px;
				background-size: contain;
				width: 90px;
			}
		}

		.site-search {
			height: 49px;
			position: absolute;
			@include bp(widescreen) {
				width: 710px;
				left: 172px;
				top: 28px;
				overflow: hidden;
			}
			@include bp(hybrid) {
				width: 100%;
				top: $m-function-bar-height;
			}
			@include bp(smartphone) {
				width: 100%;
				top: $m-function-bar-height + $m-function-bar-height-extra;
			}
			
			> form {


				> fieldset {
					&.select {
						width: 142px;
						@include bp(hybrid) {
							display: none;
						}
					}

					&.search {
						width:518px;
						position: absolute;
						left: 142px;
						top: 0;
						border: solid 1px #858585;
						border-width: 1px 0;
						@include bp(hybrid) {
							left: 0px;
							width: 719px;
						}
						@include bp(smartphone) {
							width: 271px;
						}
						.site-search__field {
							width: 100%;
							height: $search-field-height;
							font-size: 16px;
							border: none;
							background: none;
							@include box-sizing(border-box);
							padding: 0 8px;

							@include bp(hybrid) {
								background: #ffffff;
								// color: #95a7be;
								&::-webkit-input-placeholder {
								   color: #a2b4c8;
								}

								&:-moz-placeholder { /* Firefox 18- */
								   color: #a2b4c8;  
								}

								&::-moz-placeholder {  /* Firefox 19+ */
								   color: #a2b4c8;  
								}

								&:-ms-input-placeholder {  
								   color: #a2b4c8;  
								}
							}
							&:focus {
								outline: none;
							}
						}

						.site-search__button {
							width: 49px;
							line-height: 49px;
							height: 49px;
							background: #3690de;
							border: none;
							position: absolute;
							top:-1px;
							right: -49px;
							padding: 0;
							z-index: 10;

							> .fa {
								font-size: 20px;
								color: $nav-text-color;
								height: 49px;
								width: 49px;
								line-height:49px;
							}
							&:hover {
								> .fa {
									color: $nav-text-hover-color;
								}
							}
						}
					}

					> legend {
						display: none;
					}
				}
			}

		}

		.app-function {
			position: absolute;
			right: 0;
			top: 28px;
			width: 400px;
			height: 49px;
			@include bp(hybrid) {
				top: 12px;
				right: 10px;
			}
			@include bp(smartphone) {
				top: 12px + $m-function-bar-height-extra;
				right: 10px;
				width: 166px;
			}
			ul {
				width: 100%;
				// height: 100%;
				padding-top: 3px;
				li {
					display: inline-block;
					margin-left: 8px;

					a {
						position: relative;
						display: block;
						border: solid 1px #337ab7;
						color: #337ab7;
						font-size: 15px;
						line-height: 15px;
						font-weight: bold;
						font-family: $font-face;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						-o-border-radius: 3px;
						border-radius: 3px;
						width: 122px;
						height: 41px;
						overflow: hidden;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						-o-box-sizing: border-box;
						box-sizing: border-box;
						padding: 4px 14px 5px 40px;
						&.app-function-tddh {
							background: url(../images/ico/theo-doi.png) 11px center no-repeat;
						}
						&.app-function-ddh {
							background: url(../images/ico/phe-duyet.png) 10px center no-repeat;
						}
						&.app-function-giohang {
							background: url(../images/ico/gio-hang.png) 5px center no-repeat;
							padding: 12px 14px 5px 40px;
						}

						&:hover:not(.off) {
							border-color: #3690de;
							color: #f4f9fd;
							&.app-function-tddh {
								background: #3690de url(../images/ico/theo-doi-hov.png) 11px center no-repeat;
							}
							&.app-function-ddh {
								background: #3690de url(../images/ico/phe-duyet-hov.png) 10px center no-repeat;
							}
							&.app-function-giohang {
								background: #3690de url(../images/ico/gio-hang-hov.png) 5px center no-repeat;
								padding: 12px 14px 5px 40px;
							}
						}
						&.off {
							@include opacity(0.3);
							cursor: not-allowed;
						}
						> span {
							&.item-number {
								width: 14px;
								height: 14px;
								background: #f5ca00;
								-webkit-border-radius: 7px;
								-moz-border-radius: 7px;
								-o-border-radius: 7px;
								border-radius: 7px;
								display: block;
								font-size: 11px;
								line-height: 11px;
								@include box-sizing(border-box);
								padding: 1px 0;
								text-align: center;
								position: absolute;
								top: 3px;
								left: 25px;
							}
						}

						@include bp(hybrid) {
							color: #f4f9fd;
							border-color: #f4f9fd;
							font-weight: normal;
							&.app-function-tddh {
								background: url(../images/ico/theo-doi-hov.png) 11px center no-repeat;
							}
							&.app-function-ddh {
								background: url(../images/ico/phe-duyet-hov.png) 10px center no-repeat;
							}
							&.app-function-giohang {
								background: url(../images/ico/gio-hang-hov.png) 5px center no-repeat;
								padding: 12px 14px 5px 40px;
							}
							&:hover:not(.off) {
								border-color: #337ab7;
								color: #337ab7;
								&.app-function-tddh {
									background: #3690de url(../images/ico/theo-doi.png) 11px center no-repeat;
								}
								&.app-function-ddh {
									background: #3690de url(../images/ico/phe-duyet.png) 10px center no-repeat;
								}
								&.app-function-giohang {
									background: #3690de url(../images/ico/gio-hang.png) 5px center no-repeat;
									padding: 12px 14px 5px 40px;
								}
							}
						}

						@include bp(smartphone) {
							border: none;
							text-indent: -9999px;
							width: 40px;
							padding: 0;
							> span {
								&.item-number {
									text-indent: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	/* main navigation */
	#main-nav {
		position: relative;
		top: 0;
		left: 0;
		background: $nav-bg-color;
		height: $menu-bar-height;
		width: 100%;

		// @include bp(widescreen) {
		// 	@include align-items(flex-start);
		// 	@include display(flex);
		// 	@include flex-direction(row-reverse);
		// 	@include justify-content(flex-start);
		// }
		@include bp(hybrid) {
			position: fixed;
			// display: none;
			z-index: 10;
			top: $m-function-bar-height;
			width: 0;
			height: 0;
			opacity:0;
			// width: 100%;
			// height: 100%;
			background: $m-nav-bg-color;
			
			// -webkit-box-shadow: inset -5px 0px 8px 0px rgba(50, 50, 50, 0.2);
			// -moz-box-shadow: inset -5px 0px 8px 0px rgba(50, 50, 50, 0.2);
			// box-shadow: inset -5px 0px 8px 0px rgba(50, 50, 50, 0.2);

			@include transition(all 0.25s ease-out);
		}
		@include bp(smartphone) {
			top: $m-function-bar-height + $m-function-bar-height-extra;
		}

		.main-nav--inner {
			position: relative;
			z-index: 99;
			width: $desktop-content-width;
			margin: 0 auto;
			height: inherit;		
			@include bp(hybrid) {
				width: 100%;
			}
		
			&::after {
				display: block;
				content: "";
				clear: both;
			}

			#main-nav__list {
				width: 80%;
				height: inherit;
				float: left;
				> li {
					>a {
						display: block;
						padding: 0 1.5em;
						font-weight: normal;
						text-decoration: none;
						-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
						font-size: 16px;

						> .fa {
							font-size: 12px;
							text-align: center;
							margin-top: -20px;
						}
						&.off {
							@include opacity (0.3);
							cursor: not-allowed;
							color: $disabled-color;
						}
					}
					
					&:first-child{
						>a{
							padding: 0  0.5em;
							>.fa-chevron-down {
								display: none;
							}
							>.fa-home {
								display: block;
							}
							&.off {
								@include opacity (0.3);
								cursor: not-allowed;
								color: $disabled-color;
							}
						}
					}
				}


				@include bp(hybrid) {
					width: 100%;
					height: calc(100% - #{$function-bar-height} - 4px);
					overflow: auto;
					> li {
						> a {
							color: $m-nav-text-color;
							padding: 20px 10px;
							border-bottom: 1px solid $m-nav-border-color;
							font-weight: bold;

							> .fa {
								margin: 4px 20px 0 0;
								float: right;
								color: $m-nav-text-color;
							}
							&:hover, &.active {
								color: $m-nav-text-hover-color;
								background: $m-nav-bg-hover-color;
								.fa {
									color: $m-nav-text-hover-color;
								}
							}

							&.active {
								~ div.select-product {
									display: block;
								}
							}
						}



						&:first-child {
							> a {
								padding:20px 10px;
								>.fa-home {
									display: none;
								}
								>.fa-chevron-down {
									display: block;
								}
							}
						}	

					}
				}

				@include bp(widescreen) {
					> li {
						// position: relative;
						float: left;

						> a {
							float: left;
							height: $menu-bar-height;
							line-height: $menu-bar-height;
							color: $nav-text-color;
							border: $nav-border;
							border-width: 0 1px 0 0;

							> .fa {
								display: none;
								// color: $nav-text-color;
							}
							&:hover:not(.off), &.active {
								border-bottom: $nav-border-hover;
								background: $nav-bg-hover-color;
								box-sizing: border-box;
								color: $nav-text-hover-color;
								// > .fa {
								// 	color: $nav-text-hover-color;
								// }
								~ div.select-product {
									display: block;
								}
							}
						}

						&:first-child {
							>a {
								i {									
									padding: 0px 10px;
									display: block;			
									font-size: 40px;
									margin-top: 12px;
								}
								
								span{
									display: none;	
								}
								&:hover:not(.off), &.active {
									border-bottom: none;
								}
							}
						}

					}
				}
			}
			
			.group-right {
				width: 20%;
				height: inherit;
				position: relative;
				right: 0;
				top: 0;
				float: right;
				@include bp(hybrid) {
					display: none;
				}
				
				.main-nav2 {
					float: left;
					width: 30px;
					height: inherit;
					a {
						&.btn-more-menu {
							@extend %btn-style;
							width: 30px;
							height: 44px;
							background: url(../images/ico/mor-menu.png) center top no-repeat;
							left: inherit;
							top: 22px;
							&:hover, &.active {
								background: url(../images/ico/mor-menu-hov.png) center top no-repeat;
							}
							&.focus {
								~ ul#main-nav2__list {
									display: block;
								}
							}
						}
					}

					#main-nav2__list {
						display: none;
						visibility: visible;
						min-width: 180px;
						background: #3690de;
						position: absolute;
						top: 70px;
						left: -15px;
						-webkit-box-shadow: 5px 2px 4px #dadada;
						-moz-box-shadow: 5px 2px 4px #dadada;
						-o-box-shadow: 5px 2px 4px #dadada;
						box-shadow: 5px 2px 4px #dadada;
						&.show-sub {
							display: block;
							width: 0;
							height: 0;
							visibility: hidden;
							.select-product {
								visibility: visible;
							}
						}
						
						&::before {
							width: 0px;
							height: 0px;
							content: "";
							display: block;
						    border-left: 14px solid transparent;
						    border-right: 14px solid transparent;
						    border-bottom: 14px solid #3690de;
							position: absolute;
							left: 15px;
							top: -14px;
						}
						> li {
							display: block;
							width: 100%;
							> a {
								display: block;
								padding: 0 1.5em;
								font-weight: normal;
								text-decoration: none;
								-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
								font-size: 16px;

								height: $menu-bar-height;
								line-height: $menu-bar-height;
								color: $nav-text-color;
								border: $nav-border;
								border-width: 0 0 1px 0;
								&:hover:not(.off), &.active {
									background: #bde1ff;
									color: #3690de;
									~ div.select-product {
										display: block;
									}
								}
								&.off {
									@include opacity (0.3);
									cursor: not-allowed;
								}

								> .fa {
									font-size: 12px;
									text-align: center;
									margin-top: -20px;
								}

							}
							.select-product {
								left: -1009px;
								top: 14px;
							}
						}
					}
				}


				.user-info {
					width: 180px;
					height: inherit;
					float: right;
					position: relative;
					@include bp(hybrid) {
						position: absolute;
						left: 0;
						top: 0;
					}
					a {
						&.user-icon {
							display: block;
							width: 44px;
							height: 44px;
							position: relative;
							float: left;
							left: 0;
							top: 10px;
							border-radius: 22px;
							overflow: hidden;
							&:hover, &.active {
								img {
									@include transform(scale(1.05));
								}
							}
							&.focus {
								~ ul.user-info__list {
									display: block;
								}
							}
						}
					}
					
					.user-info__list {
						display: none;
						min-width: 180px;
						background: #3690de;
						position: absolute;
						top: 70px;
						left: -6px;
						-webkit-box-shadow: 5px 2px 4px #dadada;
						-moz-box-shadow: 5px 2px 4px #dadada;
						-o-box-shadow: 5px 2px 4px #dadada;
						box-shadow: 5px 2px 4px #dadada;
						&::before {
							width: 0px;
							height: 0px;
							content: "";
							display: block;
						    border-left: 14px solid transparent;
						    border-right: 14px solid transparent;
						    border-bottom: 14px solid #3690de;
							position: absolute;
							left: 15px;
							top: -14px;
						}
						> li {
							display: block;
							width: 100%;
							a {
								display: block;
								padding: 0 1.5em;
								font-weight: normal;
								text-decoration: none;
								-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
								font-size: 16px;

								> .fa {
									font-size: 12px;
									text-align: center;
									margin-top: -20px;
								}
							}
						}


						@include bp(hybrid) {
							height: calc(100% - #{$function-bar-height} - 4px);
							overflow: auto;
							> li {
								> a {
									color: $m-nav-text-color;
									padding: 20px 0 20px 10px;
									border-bottom: 1px solid $m-nav-border-color;

									> .fa {
										margin: 4px 20px 0 0;
										float: right;
										color: $m-nav-text-color;
									}
									&:hover, &.active {
										color: $m-nav-text-hover-color;
										background: $m-nav-bg-hover-color;
										.fa {
											color: $m-nav-text-hover-color;
										}
									}

									&.active {
										~ ul {
											display: block;
										}
									}
								}



								> ul {
									background: $m-subnav-bgcolor;
									> li {
										> a {
											padding: 10px 0 10px 30px;
											color: $m-subnav-nav-text-color;
										}
									}
								}

								&:first-child {
									> a {
										padding:20px 0 20px 10px;
										>.fa {
											display: none;
										}
									}
								}	

							}
						}

						@include bp(widescreen) {
							> li {
								> a {
									height: $menu-bar-height;
									line-height: $menu-bar-height;
									color: $nav-text-color;
									border: $nav-border;
									border-width: 0 0 1px 0;
									&:hover:not(.off), &.active {
										background: #bde1ff;
										color: #3690de;
									}
									&.off {
										@include opacity (0.3);
										cursor: not-allowed;
									}
								}
							}
						}
					}

					.user-name {
						color: #f7fcff;
						font-weight: bold;
						float: left;
						padding: 24px 0 0 10px;
					}
				}
			}

			.select-product {
				display:none;
				width: $select-product-col-width;
				height: $section1-height + 48px;
				// float: left;
				background: $section-bg-color;
				position: absolute;
				left: 0;
				top: 84px;
				@include bp(hybrid) {
					width: 100%;
					height: auto;
					position: relative;
					left: 0;
					top: initial;
					background: #cae5fb;
					h2 {
						display: none;
					}
				}
				h2 {
					width: auto;
					text-transform: none;
					font-size: 20px;
					line-height: 47px;
					font-weight: bold;
					font-family: $font-face;
					color: $theme-color;
					border-bottom: solid 1px $primary-border-color;
					padding: 0 10px 0 38px;
					background: url(../images/ico/title-check.png) 10px center no-repeat;
				}
				.list-product {
					padding: 10px 0;
					li {
						display: block;
						clear: both;
						padding: 0 10px 0 20px;
						white-space: nowrap; 
					    overflow: hidden;
					    text-overflow: ellipsis;
					    width: 268px;
						color: #615d20;
						@include bp(hybrid) {
							width: 100%;
						}
						a {
							font-size: 16px;
							line-height: 30px;
							padding-left: 40px;
							color: #615d20;
							@include bp(hybrid) {
								color: #3690de;
								&:hover {
									color: #615d20;
								}
							}
							span {
								display: block;
								position: absolute;
								height: 20px;
								width: 30px;
								text-align: center;
								line-height: 30px;
								font-size: 22px;
								img {
									height: 20px;
									width: auto;
								}
							}
						}
						&:hover {
							color: #615d20;
							background: #9dd2fc;
						}
					}
				}
				.product-view-all {
					display:none;
					text-decoration: none;
					text-align: right;
					padding: 20px 20px 0 10px;
					font-weight: normal;
					color: #403e33;
					@include opacity(0.8);
					&:hover {
						text-decoration: underline;
					}
				}

			}
		}
	}
	/* end of main navigation */


		#drawer-toggle {
			display: none;
		}
	/* app drawer */
	@include bp(hybrid) {
		
		#drawer-toggle-label {
			cursor: pointer;
			position: fixed;
			top: 18px;
			@include bp(smartphone) {
				top: 18px + $m-function-bar-height-extra;
			}
			left: 10px;
			z-index: 20;
			width: $m-function-bar-height/2;
			height: $m-function-bar-height/2;
			background: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
			@include box-sizing(border-box);

			@include off-canvas-translate3d();
			@include off-canvas-sliding(0);

			> span,
			&:before,
			&:after {
				display: block;
				height: 3px;
				width: 24px;
				background: $m-nav-text-color;
				margin-left: 7px;
				@include transition(transform 0.25s ease-out);
				content: "";
			}
			&:before {
				margin-top: 9px;
			}
			> span,
			&:after {
				margin-top: 6px;
				text-indent: -9999px;
			}
		}
		#drawer-toggle-label:hover {
		}
		#drawer-toggle:checked ~ #drawer-toggle-label {
			&:before {
				@include transform( rotate(45deg) translate3d(6px, 8px, 0) );
			}
			> span {
				@include off-canvas-sliding(-$offset-canvas*2);
			}
			&:after {
				@include transform( rotate(-45deg) translate3d(5px, -7px, 0) );
			}
		}
		#drawer-toggle:checked ~ main {
			@include off-canvas-sliding($offset-canvas);
			overflow: hidden;
		}



		// FOR MINI SUBWEB
		#sub-drawer-toggle-label {
			cursor: pointer;
			position: absolute;
			right: 10px;
			top: 0px;
			left: auto;
			z-index: 7;
			width: 30px;
			height: $function-bar-height;
		    background-color: rgba(255,255, 255, 0.2);
			border-radius: 10px;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
			@include box-sizing(border-box);

			@include off-canvas-translate3d();
			@include off-canvas-sliding(0);

			> span {
				display: block;
			}

			> span,
			&:before,
			&:after {
				display: block;
				height: 3px;
				width: 3px;
				background: #fff;
				margin-left: 15px;
				@include transition(transform 0.25s ease-out);
			}
			&:before,
			&:after {
				content: "";
			}
			&:before {
				margin-top: 15px;
			}
			> span,
			&:after {
				margin-top: 4px;
			}
		}
		#sub-drawer-toggle-label:hover {
		}
		#sub-drawer-toggle:checked ~ .hotline{
			  	visibility:visible;
			  	opacity:1;
			  	transition-delay:0s;
				background: none;
				border-bottom: none;
		}
		#sub-drawer-toggle:checked ~ #sub-drawer-toggle-label {
			//@include transition(transform 0.25s ease-out);
			//@include off-canvas-sliding(90%);

			//width: 100% ;
			//height: 40px;

			&:before {
				@include transform( rotate(45deg) translate3d(5px, 5px, 0) );
			}
			> span {
				@include off-canvas-sliding(-$offset-canvas*2);
			}
			&:after {
				@include transform( rotate(-45deg) translate3d(5px, -5px, 0) );
			}
		}
		#sub-drawer-toggle:checked ~ main {
			//@include off-canvas-sliding($offset-canvas);
			overflow: hidden;
		}
	}

	@include bp(widescreen) {
		#drawer-toggle-label {
			display: none;
		}
		#sub-drawer-toggle-label {
			display: none;
		}
	}
	/* end of app drawer */


	/* main */
	main {
		position: relative;
		top: 0;
		left:0;
		padding-bottom: 50px;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		@include bp(hybrid) {
			@include off-canvas-translate3d();
			@include off-canvas-sliding(0);
			margin-top: $m-function-bar-height + $search-field-height + 2 + $section-space;
		}
		@include bp(smartphone) {
			margin-top: $m-function-bar-height + $m-function-bar-height-extra + $search-field-height + 2 + $section-space;
		}

		#main-content {
			width: $desktop-content-width;
			margin: 0 auto;
			@include bp(hybrid) {
				width: 100%;
				@include box-sizing(border-box);
			}
			
			h2 {
				height: $posts-tab-height!important;
				padding: 0 20px 0 38px;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 16px;
				font-family: $font-face;
				color: #f5f5f5;
				line-height: $posts-tab-height;
			}

			section {
				margin-top: $section-space;
				background: $section-bg-color;
				position: relative;
				-webkit-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px;
				-moz-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px;
				-o-box-shadow: rgba(0,0,0,0.2) 0px 5px 5px;
				box-shadow: rgba(0,0,0,0.2) 0px 5px 5px;
				&::after {
					content: "";
					display: block;
					clear: both;
				}
			}

			.first-section {
				background: none;
				.slide-tab-product {
					width: $slide-tab-product-col-width;
					min-height: inherit;
					float: right;
					background: $section-bg-color;
					@include bp(hybrid) {
						// margin-top: $section-space;
						width: 100%;
					}
					.posts {
						.posts__tabs {
							padding-left: 15%;
							@include bp(hybrid) {
								padding-left: 10px;
							}
						}
					}
				}
			}
			
			.suggest-product {
				h2 {
					position: absolute;
					left: 0;
					top: 0;
					@include sprites-sprite(bg-title1);
				}
				.slide-tab-product {
					padding-top:$posts-tab-height;
					@include bp(widescreen) {
						padding-top: 0;
						.posts {
							.posts__tabs {
								@include flex-direction(row-reverse);
							}
						}
					}
					@include bp(hybrid) {
						.posts {
							.posts__tabs {
								display: none;
							}
						}
					}
				}
			}


			.necessary-product {
				h2 {
					position: absolute;
					left: 0;
					top: 0;
					@include sprites-sprite(bg-title2);
				}
				.slide-tab-product {
					padding-top:$posts-tab-height;
					@include bp(widescreen) {
						padding-top: 0;
						.posts {
							.posts__tabs {
								@include flex-direction(row-reverse);
							}
						}
					}
					@include bp(hybrid) {
						.posts {
							.posts__tabs {
								display: none;
							}
						}
					}
				}
			}

			/* section .posts */
			.search,
			.posts {
				position: relative;
				width: 100%;

				> h2 {
					@include section-title();
					@include bp(smartphone) {
						display: none;
					}
				}

				.search__tabs,
				.posts__tabs {					
					@include  common-tab();
				}
				

				.tab-details {
					display: none;
				}
				.posts__contain {
					padding-top: 5px;
				}
				.search__list,
				.posts__list {
					clear: both;					
					position: relative;

					&.search__list--inactive,
					&.posts__list--inactive {
					}

					> li {
						padding: 10.5px 10px;
						border-bottom: 1px solid $posts-tabs-border-color;
						border-left: 3px solid transparent;
						border-top: none;
						background: none;
						p {
							@include post-cate();
						}

						a  {
							text-decoration: none;

							h3 {
								color: $posts-title-color;
								padding: 0;
								font-size: 16px !important;
								font-weight: normal !important;
							}

							&:hover {
								h3 {
									// color: $posts-title-hover-color;
									// text-decoration: underline;
								}
							}

							img {
								@include common-img();
								width: 100%;
								margin: 12px 0 8px;
							}
						}
						&:hover{
							cursor: pointer;
							a {
								h3 {

									color: $posts-title-hover-color;
								}
							}
						}
						&:last-child {
							border-bottom: none;
						}
					}
				}
				p.search__loading,
				p.posts__loading {
					width: 100%;
					height: 52px;
					padding: 0;
					margin: 0;
					border: none;
					overflow: hidden;
					@include transition(height 0.25s ease-out);

					&.search__loading--hidden,
					&.posts__loading--hidden {
						height: 0;
						@include transition-delay(0.25s);

						> span {
						   @include opacity(0);
						   @include transition-delay(0);
						}
					}

					> span {
						display: block;
						width: 50%;
						margin: 0 auto;
						text-align: center;
						border: 1px solid $posts-title-color;
						padding: 15px 0;
						color: $posts-title-color;
						@include border-radius(5px);
						@include opacity(1);
						@include transition(opacity 0.25s ease-out);
						@include transition-delay(0.25s);
					}
				}

				.search__view-all,
				.posts__view-all {
					display: none;
					padding: 14px 0 0;
					text-align: center;
					color: #403e33;
					text-decoration: none;
					font-weight: normal;
					position: absolute;
					right: 20px;
					top: 0;
					@include opacity(0.8);

					&:hover {
						color: #387db9;
					}
				}
			}



			.swiper-container {
				width: 100%;
				background: none;
				overflow: hidden;
				position: relative;

				// for first slide
				&.primary-banner{
					height: $section1-height;
					@include bp(hybrid) {
						height: $m-section1-height;
					}
					a {
						width: 336px;
						padding-top: 10px;
					}
					.swiper-slide {
						width: 336px;
						@include bp(hybrid) {
							width: 50%;
						}
						@include bp(smartphone) {
							width: 100%;
						}
					}
				}

				// for suggest slide
				&.suggess-banner{
					height: $slide-height;

					a {
						width: 320px;
					}		
				}


				// for necessary slide
				&.necessary-banner{
					height: $slide-height;
					a {
						width: 320px;
					}		
				}



				.swiper-wrapper {
					height: inherit;
				}
				// common
			    .swiper-slide {
			        text-align: center;
			        font-size: 18px;
			       
			         /* Center slide text vertically */
			        display: -webkit-box;
			        display: -ms-flexbox;
			        display: -webkit-flex;
			        display: flex;
			        -webkit-box-pack: center;
			        -ms-flex-pack: center;
			        -webkit-justify-content: center;
			        justify-content: center;
			        -webkit-box-align: center;
			        -ms-flex-align: center;
			        -webkit-align-items: center;
			        align-items: center;
			        height: inherit;
					width: 320px;
					@include bp(hybrid) {
						width: 50%;
					}
					@include bp(smartphone) {
						width: 100%;
					}
			    }

			    a {
					width: auto;
					height: 100%;
					overflow: hidden;
					text-align: center;
					span {
						display: block;
						width: 100%;
						&.imgstyle {
							width: inherit;
							height: 190px;
							display: table-cell;
							text-align: center;
							vertical-align: middle;
							img {
								width: auto;
								height: 150px;
								margin: 0 auto;
							}
						}
						&.info-text {
							color: #665d29;
							font-weight: bold;
							font-size: 16px;
							line-height: 26px;
							font-family: $font-face;
							height: 50px;
							padding: 0px 10px;
							margin-bottom: 10px;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						&.price {
							color: #337ab7;
							font-weight: bold;
							font-size: 26px;
							font-family: $font-face;
						}
						&.rating{
							text-indent: -9999px;
							margin: 0px auto;
							height: 28px;
							background: url(../images/ico/rating.png) left center repeat-x;
						}
					}
					&:hover, &.active {
						background: #e4e4e4;
					}

			    }

			    .swiper-button-next {
			    	cursor: pointer;
			    	width: 34px;
			    	height: 34px;
			    	right: 0px;
					background: url(../images/ico/next.png) left top no-repeat;
					&:hover:not(.off), &.active:not(.off) {
						background: url(../images/ico/next-hov.png) left top no-repeat;
					}
					&.swiper-button-disabled {
						display: none;
						opacity: 1;
						background: url(../images/ico/next-off.png) left top no-repeat;
					}
			    }
			    .swiper-button-prev {
			    	cursor: pointer;
			    	width: 34px;
			    	height: 34px;
			    	left: 0px;
					background: url(../images/ico/prev.png) left top no-repeat;
					&:hover:not(.off), &.active:not(.off) {
						background: url(../images/ico/prev-hov.png) left top no-repeat;
					}
					&.swiper-button-disabled {
						display: none;
						opacity: 1;
						background: url(../images/ico/prev-off.png) left top no-repeat;
					}
			    }

			    .swiper-pagination {

			    	@include bp(widescreen){
				    	width: 200px;
				    	left: 50%;
				    	margin-left: 150px;
				    }
				    	bottom: 10px;
			    	
			    	.swiper-pagination-bullet	{
			    		width: 20px;
			    		height: 20px;
			    		// border: 2px solid #ed4d4b;
			    		border-radius: 0;
			    		background: #703d07;
			    		border-radius: 50%;
			    		opacity: 1;
			    		&.swiper-pagination-bullet-active {
			    			// border: 2px solid #ffe6da;
			    			background: #f6c21f;
			    			// outline: 1px solid #ed4d4b;
			    			// width: 12px;
			    			// height: 12px;
						
							// &:before{
							// 	    border: 2px solid #ed4d4b;
							// 	    border-radius: 50%;
							// 	    content: " ";
							// 	    display: inline-block;
							// 	    margin: -3px -5px;
							// 	    padding: 9px;
							// 	    position: relative;
							// 	    text-align: center;
							// 	    top: -2px;
							// }
			    		}

			    	}
			    }

			}


			.pagination-container {
				margin-top: 25px;
				width: 100%;
				overflow: hidden; 
				text-align: center;

				> .pagination {

					display: inline-block;
					margin: 0 auto;
					> li {
						float: left;
						> a {
							display: block;
							color: $paging-text-color;
							background: $paging-bg-color;
							padding: 8px 0;
							min-width: 60px;
							border: 1px solid $paging-border-color;
							border-right: 0;
							@include bp(hybrid) {
								min-width: 35px;
							}
							text-align: center;

							&:hover, &.active {
								color: $paging-text-color-hover;
								background: $paging-bg-hover;
							}

						}
						
						&:last-child >a{
							border-right: 1px solid $paging-border-color;
							@include border-right-radius(5px);
						}

						&:first-child >a {
							@include border-left-radius(5px);
						}
						
						&.active,&.active:hover{
							a,a:hover {
								color: $paging-text-color-hover;
								background: $paging-bg-hover;
							}
						}
					}
				}

				&.pagination--bottom {
					padding-bottom: 75px;
				}
			}

		}

	}
	/* end of main */
	/* footer */
	footer {
		padding: 20px 0;
		background: #eeeeee;
		.wrapper {
			width: 90%;
			margin: 0 auto;
			p {
				height: 60px;
				line-height: 60px;
				padding-left: 50px;
				display: block;
				background: url(../images/ico/small-logo.png) top left no-repeat;
				font-size: 26px;
				font-family: $font-face;
				color: #4d545a;
				text-transform: uppercase;
				@include bp(hybrid) {
					width: 450px;
					margin: 0 auto;
				}
				@include bp(smartphone) {
					width: 100%;
					font-size: 16px;
				}
			}
			.span-column {
				margin-top: $section-space;
				display: inline-block;
				@include bp(widescreen) {
					@include span-columns(3);
				}
				@include bp(hybrid) {
					@include span-columns(5.8);
				}
				@include bp(smartphone) {
					@include span-columns(12);
				}
				>a {
					height: 54px;
					line-height: 26px;
					padding-left: 65px;
					display: block;
					&.mailto {
						background: url(../images/ico/email.png) left center no-repeat;
					}
					&.callto {
						background: url(../images/ico/call.png) left center no-repeat;
					}
					span {
						display: block;
						font-weight: bold;
						color: #4d545a;
						i {
							color: #337ab7;
							font-size: 18px;
						}
					}
				}		
				ul {
					list-style: disc;
					list-style-position: inside;
					width: 100%;
					li {
						color: #a2b9d3;
						a {
							line-height: 30px;
							color: #a2b9d3;
							text-decoration: underline;
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.copyright {
		text-align: center;
		color:#7c8185;
		font-size: 16px;
		line-height: 48px;
	}

	.flyout-content {

		.flyout-content__top-button {
			@include transition(bottom 0.25s ease-out);

			color: #000;
			position: fixed;
			z-index: 3;
			bottom: -44px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 60px;
			height: 44px;
			text-align: center;
			background: #fee77b;

			@include border-top-radius(3px);

			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);

			line-height: 10px;

			.fa {
				font-size: 26px;
				color: #000;
				margin-top: -1px;
			}
		}

		.flyout-content__top-button--shown {
			bottom: 0;
			@include opacity(1);
		}
	}

	.dndmom__photoswipe {
		position: relative;
	}
	.dndmom__photoswipe--loading:before {
		display: block;
		content: "đang tải hình lớn...";
		position: absolute;
		top: 50%;
		margin: -15px auto 0;
		left: 0;
		right: 0;
		z-index: 99;
		color: #fff;
		font-size: 18px;
		@include opacity(0.8);
		width: 80%;
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
		padding: 5px 0;
	}
	
}

