@import "screen";

article {
	font-size: 16px;
	line-height: 25px;
	@include bp(hybrid) {
		padding: 10px;
	}
	@import "base/base";
	pre {
		overflow: auto;
	}
	strong{
		font-weight: bold;
	}
	
	em{
		font-style: italic;
	}
 

	* {
		color: $content-text-color;
		font-family: $font-face;
	}
	h1.post__title {
		font: $posts-title-font;
		color: $posts-title-color;
		text-align: left;
		padding: 10px 0 10px 0;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: bold;

		p,time{
			font-size: 14px;
			color: #868686;
			font-weight:normal;
			margin: 0;
			padding:0;

		}
	}

	.FirstChar {
		padding: 4px 4px 0 0;
		line-height: 30px;
		font-size: 40px;
		float: left;
	}
	ul{

		margin: 0px 0px 10px 5px;

		>li {

			margin-bottom: 10px;			
			padding-left: 15px;
			list-style-type: none;
			text-align: justify;

			ul  {

				margin: 0 0 10px 20px;
			
				li {
					
					  margin-bottom: 10px;					  
					  padding-left: 15px;	
					  			
				}
			}


		}

		&.icon  li,&.Icon  li{
			background: url(../images/subpage/icon-2.png) 0 8px no-repeat;
		}	

		&.disc li,&.Disc li {
			background: url("../images/subpage/icon-3.png") 3px 9px no-repeat ;
		}

		&.dash li,&.Dash li {
			background: url("../images/subpage/icon-3b.png") 3px 9px no-repeat ;
		}

		&.decimal li,&.Decimal li {
			list-style-type: decimal;
			padding-left: 5px;
		}
		&.UpperAlpha li,&.upper-alpha li {
			list-style-type: upper-alpha;
		}
		&.lower-alpha li,&.LowerCase li {
			list-style-type: lower-alpha;
		}
	}
	// ul.posts__tab {
	// 	margin: 0 0 20px 5px;

	// 	li {
	// 		padding: 0;
	// 	}
	// }

	ul.anchor-link, ul.AnchorLink{
		display: block;
		width: 98%;
		clear: both;
		min-height: 50px;
		border: 1px solid #92641e;
		padding: 10px;
		margin: 10px 0;
		overflow: hidden;
		li {
			float: left;
			padding: 0 20px 0 10px;
			margin-bottom: 0px;
			background: url("../images/subpage/icon-anchorlink.jpg") no-repeat 0 14px;
			width: 260px;
			a {
				font-weight: bolder;
				color: #1e90f9;
				&:hover {
					text-decoration: underline;
					color: #1e90f9;
				}
				&.Active,
				&.Active:hover {
					text-decoration: underline;
					color: #ff6d6b;
				}
			}
		}
	}

	p {
		padding: 5px 0;
	}

	.center, .TextCenter {
		text-align: center;
	}	

	img {
		margin: 0 auto;
		display: inline-block;
		
		@include border-radius(5px);
		
		height: auto;
		@include bp(hybrid) {
			width: 90%;	
		}
		
	}

	img ~ br{
		height: 0px;
		display: none;
	}
	img ~ .center,img .TextCenter {
		padding-top: 0px;		
		margin-top: -5px;
		color: #424242;
		font-style: italic;		
	}


	a {
		color: #008efa;
		text-decoration: none;
		&:hover {
			color: #008efa;
			text-decoration: underline;
		}
	}

	strong,.strong {
		font-weight: bolder;
		color: #eb5300;
	}

	.strong01,.Strong01 {
		font-weight: bolder;
		color: #333333;
		font-size: 16px;
	}

	.strong02,.Strong02 {
		font-weight: bolder;
		color: #eb5300;
		font-size: 17px;
	}
	
	.notice-box, .NoticeBox {
		width: 90%;
		padding: 15px 10px 10px 10px;
		border: 1px solid #ffd3c6;
		background: #fff;
		margin-top: 25px;
		p.legend, .Legend {
			background: $table-header-background-color none repeat scroll 0 0;
		    // border: 1px solid #c7b6a5;
		    color: $table-header-text-color;
		    float: left;
		    font-size: 14px;
		    font-weight: bolder;
		    height: 25px;
		    margin: -30px 0 10px;
		    padding: 0 17px 0 16px;
		    position: absolute;
		}
	}	

	/* for table */
	table {
		margin: 10px auto;
		border-collapse: collapse;		

		tr:nth-child(odd) {
			background: #E3DAC7;
		}
		tr:nth-child(even) {
			background: #ECE6D8;
		}

		td,th {
			border: 1px solid #C3A783;
			padding: 3px 10px;		
		}

		th {
			color: #fff;
			font-weight: bolder;
			padding: 5px 10px;		
			background: #800000;
			text-align: center;			
		}
	}
	
	h2,h4 {
		font-size: 22px;
		line-height: 38px;
		font-weight: 700;
		padding-left: 33px;
		color: $h4-color;
		background: url("../images/subpage/icon-1.png") no-repeat 0 -1px;
		~ p,~ ul,~ table, ~ div {
			margin-left: 30px;
		}
		~ table {
			max-width: 590px;
		}
		@include bp(smartphone) {
			background: none;
			padding-left: 0px;
			~ p,~ ul,~ table, ~ div {
				margin-left: 12px;
			}
			~ table {
				max-width: 270px;
			}
		}


	}

	h3,h5 {
		font-size: 18px;
		line-height: 35px;
		font-weight: 700;
		padding-left: 18px;
		margin-left: 25px;
		color: $h5-color;
		background: url("../images/subpage/icon-5.png") no-repeat 0 4px;

		~ p,~ ul,~ table, ~ div{
			margin-left: 42px;
		}
		~ table {
			max-width: 510px;
		}

		@include bp(smartphone) {
			background: none;
			padding-left: 0px;
			margin-left: 12px;

			~ p,~ ul,~ table, ~ div {
				margin-left: 22px;
			}
			~ table {
				max-width: 221px;
			}
		}

	}



	
}

.post {

	.post__sharing {
		min-height: 40px;
		margin-top: 20px;
	}

	.post_tags {
		font-size: 12px;
		margin-bottom: 80px;

		@include bp(smartphone) {
			margin-bottom: 0;
		}

		a {
			margin: 0 5px;
			color: #1e8ff9;
		}
		a:hover {
			color: $hover-secondary-color;
		}
	}

	table {
		th {
			background-color: $table-header-background-color;
		}
		td {
			border: 1px solid $table-border-color;
			box-sizing: border-box;
			padding: 5px;
		}
		tr {
			&:nth-child(even) {
				background-color: $table-even-row-background-color;
			}
			&:nth-child(odd) {
				background-color: $table-odd-row-background-color;
			}
			a{
				color: #1e8ff9;


			}
		}
	}
}

.rte {
	* { font-family: $font-face; }
}

.subpage-details {
	@include span-columns(7.8);
	padding: 0 0 40px 10px;
	@include bp(smartphone) {
		width: 100%;
		padding: 0 15px 20px;
		@include box-sizing(border-box);
		@include shift(0);
	}
}

.character-details {	
	@include span-columns(12);


	@include bp(widescreen) {
		@include span-columns(9);
	}
	.character__back-link {
		display: block;
		width: calc( 100% - 20px );
		margin: 10px;
	  	color: #fff;
        background: url('../images/bg-xemthem.png') repeat;
        font-size:16px;
		line-height: 40px;
		text-align: center;
		@include bp(widescreen) {
			display: none;
		}
	}	
}
	
	
	
.character-related {
	@include span-columns(3);
	display: none;

	@include bp(widescreen) {
		display: block;
	}	
	margin-top: 10px;
	border: 1px solid #ffd3c6;	
	overflow: hidden;
	background-color: #fefdf7;

	h2{
		background: #f99a2a;
		line-height: 16px;
		font-weight: normal;
		text-align: center;
		color: #fff;
		font-size: 18px;
		padding:10px;

	}
	li {					
		width: 100%;
		float: left;
		border-top: 1px solid #ffd3c6;
		padding: 5px;
		a {
			color: #c45b5b;
			
			&:hover {
				color: #c45b5b;			
			}
			img {
				max-height: 50px;
				float: left;
			}
			h3{
				@include span-columns(2 of 3);
				line-height: 50px;
				font-size: 16px;
				font-weight: bold;
			}


		}
		&.new,&.new:hover {
			@include imgbg("../images/subpage/ico-news.png");
			background-position: right top;
		}

		&:hover,&.active,&.new:hover {
			background-color: #ffe6d8;
		}
	}
}

