[section="home"]>.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
body{
    background-color: #f3f3f3;
}
[section="notsupport"]{
    position: absolute;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 40px;
    text-align:center;
}
[section="notsupport"] p{
    font-size: 1.5em;
    color: #919191;
    top: 64.7480315%;
    display: block;
    text-align: center;
    width: 100%;
}
[section="notsupport"] .icon span{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: auto 70px;
    background-repeat: no-repeat;
    background-position: -70px;
}
[section="notsupport"] .icon span[disabled]{
    background-position: 0px;
}
[section="notsupport"] .icon .ie{
    background-image: url('/wp-content/themes/IT Portal/img/notsupport/ie.png');
}
[section="notsupport"] .icon .edge{
    background-image: url('/wp-content/themes/IT Portal/img/notsupport/edge.png');
}
[section="notsupport"] .icon .chrome{
    background-image: url('/wp-content/themes/IT Portal/img/notsupport/chrome.png');
}
[section="notsupport"] .icon .firefox{
    background-image: url('/wp-content/themes/IT Portal/img/notsupport/firefox.png');
}
[section="notsupport"] .icon .safari{
    background-image: url('/wp-content/themes/IT Portal/img/notsupport/safari.png');
}
[section="notsupport"] .icon .opera{
    background-image: url('/wp-content/themes/IT Portal/img/notsupport/opera.png');
}