<script type="text/javascript">
    POPUP = {
        title: CommonModelFunctions.getMessageSource('title_association_guide'),
        warnning: ko.observable(""),
        externalTask: CommonModelFunctions,
    };
</script>
<div class="alert alert-info">
    Sau khi upload file excel/csv, nội dung của file sẽ hiển thị bên trái,
    phần thao tác cập nhật trạng thái sẽ là phần bên phải
</div>
<h4>1. Mặc định</h4>
<p>
    Lấy sheet đầu tiên trong file excel để làm dữ liệu thao tác    
</p>

   Mặc định sẽ lấy 3 cột đầu tiên của file excel/csv và mapping tương ứng với <br>

<ul style="list-style: decimal">
    <li>Tên Tài sản</li>
    <li>Tài sản cha(association asset)</li>
    <li>Loại tài sản (của tài sản con)</li>
</ul>
<h4>2. Custom mapping</h4>
<p>
    Có thể mapping lại các cột tùy ý bằng các thao tác sau:
</p>
<ul style="list-style: decimal">
    <li>Click vào header của cột dữ liệu cần thay đổi (Bên phải)</li>
    <p class="asset_center_text">
        <img src="resources/images/guide/associations/selectColumn.png" alt="Chọn cột dữ liệu"/>
    <p class="asset_center_text">Chọn cột dữ liệu cần thay đổi</p>
    </p>
    <li>Click vào cột chứa dữ liệu (Bên trái). Lưu ý sẽ có 1 thông báo nhỏ di chuyển theo trỏ chuột cho ta biết cần chọn loại dữ liệu nào</li>
    <p class="asset_center_text">
        <img src="resources/images/guide/associations/selectData.png" alt=""/> 
    <p class="asset_center_text">Chọn cột chứa dữ liệu</p>

    </p>
    <li>Click chọn và kiểm tra lại dữ liệu thay đổi</li>
    <p class="asset_center_text">
        <img src="resources/images/guide/associations/changedData.png" alt="Dữ liệu thay đổi"/>
        <p class="asset_center_text">Dữ liệu sau khi mapping lại</p>
    </p>
    <li>Chọn các item cần thực hiện thao tác bằng cách click nút chọn hoặc chọn/bỏ chọn từng item</li>
    <p class="asset_center_text">
        <img src="resources/images/guide/associations/select.png" alt="Chọn/bỏ chọn các item cần thao tác"/>
        <p class="asset_center_text">Chọn dòng dữ liệu thao tác</p>
    </p>
    <li>Click nút start bên góc trên bên phải</li>
    <li>Xem lại kết quả</li>
    <p class="asset_center_text">
        <img src="resources/images/guide/associations/result.png" alt="Xem kết quả"/>
    </p>
    <li>Xem chi tiết kết quả thao tác</li>
    <p class="asset_center_text">
        <img src="resources/images/guide/associations/resultDetail.png" alt=""/>
    </p>
    <li>Có nhiều thông báo lỗi khác nhau khoi thực hiện thao tác này, cần kiểm tra lại các kết quả cần thao tác</li>
    <p>
        Có thể dùng chức năng "Xem nhật ký trạng thái / Xem trạng thái" của tài sản để chắc chắn thông tin đã được cập nhật trước khi thực
        các thao tác khác
    </p>
</ul>

