
<div class="asset-confirm-box alert alert-warning">
    <div id="confirmTitle" class="panel-heading" style="font-weight: bold;font-size: 16px; margin-bottom: 2px !important;"></div>
    
    <div>
        <div id="confirmContent" style="padding: 10px 15px;">                   
        </div>
        <div class="asset_center_text" style="margin-top: 16px;">
            <input type="button" value="Quay lại" id="confirm-reject" class="btn btn-success" onclick="PopupBusiness.closePopup();"/>
            <button id="confirm-ok" class="btn btn-default">Đồng ý</button>
        </div>
    </div>
</div>
