<script src="structures/model/popups/EmailGuide.js" type="text/javascript"></script>
<div style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8000001907349px; line-height: normal;">
    <b><font size="4">Các cú pháp hiện có</font></b>
</div>
<div>(Lưu ý, nếu không xác định [data index] thì giá trị là 0)</div>
<hr/> 
<div><p class="MsoNormal" style="margin: 15pt 0in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:13.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">Các cú pháp hiện có</span></b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 15pt 0in; line-height: 15pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 10.5pt; font-family: Helvetica, sans-serif;">(Lưu ý, nếu không xác định [data index] thì
giá trị là 0)<o:p></o:p></span></p>

<div class="MsoNormal" align="center" style="margin-top:15.0pt;margin-right:0in;
margin-bottom:15.0pt;margin-left:0in;text-align:center;line-height:normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
&quot;Times New Roman&quot;">

<hr size="0" width="100%" noshade="" align="center">

</span></div>

<p class="MsoNormal" style="margin-left: 47.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:9.5pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp; </span></span><!--[endif]--><b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">TEXT:</span></b><span style="font-size:9.5pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;Chèn dữ liệu với nội dung là chuỗi cơ bản<o:p></o:p></span></p> 

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:60.0pt;margin-bottom:.0001pt;line-height:12.75pt;background:#FAFAFA"><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">{</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;TEXT&nbsp;</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">&lt;</span><span style="font-size:12.0pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">data index</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;
background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">&gt;:&lt;</span><span style="font-size:12.0pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">property name</span><span style="font-size:
12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">&gt;}</span><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp;<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Trong đó:<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">TEXT: loại binding<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">data index: vị trí của
dữ liệu được định nghĩa trong danh sách dữ liệu đầu vào<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">property name: tên
thuộc tính chứa giá trị dữ liệu được lấy ra từ dữ liệu thứ "data
index"<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 47.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:9.5pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp; </span></span><!--[endif]--><b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">LINK:</span></b><span style="font-size:9.5pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;Chèn dữ liệu với nội dung là một đường dẫn đến một nội
dung khác<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:60.0pt;margin-bottom:.0001pt;line-height:12.75pt;background:#FAFAFA"><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">{</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">LINK&nbsp;</span><span style="font-size:12.0pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">&lt;</span><span style="font-size:12.0pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">data
index</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">&gt;:&lt;</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;
background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">link
property</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">&gt;,&lt;</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;
background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">link
name property</span><span style="font-size:12.0pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">&gt;}</span><span style="font-size:13.0pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp;<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Trong đó:<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">LINK: loại binding<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">data index: vị trí của
dữ liệu được định nghĩa trong danh sách dữ liệu đầu vào<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">link property: tên
thuôc tính chứa giá trị dự liệu là đường dẫn<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">link name property:
tên thuộc tính chứa giá trị dữ liệu là tên của đường dẫn<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 47.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:9.5pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp; </span></span><!--[endif]--><b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">FOR:</span></b><span style="font-size:9.5pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;Chèn dữ liệu với nội dung lập lại theo một template trong
một mãng dữ liệu<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:60.0pt;margin-bottom:.0001pt;line-height:12.75pt;background:#FAFAFA"><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">{</span><span style="font-size:12.0pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">FOR&nbsp;</span><span style="font-size:12.0pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">&lt;</span><span style="font-size:12.0pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">data
index</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&gt;:[</span><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">property name</span><span style="font-size:
12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">]}</span><span style="font-size:13.0pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp;<o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 24pt; text-indent: 0.5in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">{ $item property name$
}<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Trong đó:<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">FOR: loại binding<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">data index: vị trí của
dữ liệu được định nghĩa trong danh sách dữ liệu đầu vào<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">property name:
&nbsp;tên thuộc tính chứa giá trị dữ liệu được lấy ra từ dữ liệu thứ "data
index", nếu không có thì sẽ lấy giá trị của data thứ data index<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 107.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:13.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#222222">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]--><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">item property name:
tên thuộc tính chứa giá trị dữ liệu của thành phần con trong mãng.<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-left: 47.25pt; text-indent: -0.25in; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><!--[if !supportLists]--><span style="font-size:10.0pt;mso-bidi-font-size:9.5pt;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol;color:#222222;mso-bidi-font-weight:bold">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp; </span></span><!--[endif]--><b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">FOR LINK:&nbsp;Chèn dữ liệu với nội dung lập
lại theo một template trong một mãng dữ liệu và mỗi phần tử là 1 LINK<o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:60.0pt;margin-bottom:.0001pt;line-height:12.75pt;background:#FAFAFA"><span style="font-size:12.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">{FOR &lt;data index&gt;:[attribute]}{ $LINK
&lt;link attribute&gt; &lt;link alias&gt;$[separator]}<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp;</span><span style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp;</span><span style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Trong
đó:</span><span style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:96.0pt;margin-bottom:.0001pt;line-height:normal"><span style="font-size: 10pt; font-family: Symbol; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">·</span><span style="font-size: 7pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">FOR: loại binding</span><span style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:96.0pt;margin-bottom:.0001pt;line-height:normal"><span style="font-size: 10pt; font-family: Symbol; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">·</span><span style="font-size: 7pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">data index: vị trí của dữ
liệu được định nghĩa trong danh sách dữ liệu đầu vào</span><span style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(80, 0, 80); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 96pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Arial;color:#222222">·</span><span style="font-size:7.0pt;
font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">attribute: tên của thuộc tính chứa dữ liệu
mảng</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 96pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Arial;color:#222222">·</span><span style="font-size:7.0pt;
font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">$LINK: từ khóa</span><span style="font-size:
9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 96pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Arial;color:#222222">·</span><span style="font-size:7.0pt;
font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">link attribute: tên của thuộc tính con trong
mảng, chứa đường dẫn</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 96pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Arial;color:#222222">·</span><span style="font-size:7.0pt;
font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">link alias: tên của thuộc tính con trong mảng,
chứa chuỗi đại diện của đường dẫn</span><span style="font-size:9.5pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 96pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Arial;color:#222222">·</span><span style="font-size:7.0pt;
font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">separator: ký tự phân cách giữa các link, (nên
enter- xuống hàng trong lúc soạn template</span><span style="font-size:13.0pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:13.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Ví dụ cho chèn TEXT</span></b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Template</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp;<o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 4.8pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><i><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222">Dear {TEXT 0:Name}<br>
<br>
Biên bản số {TEXT 1:FormID} đang được {TEXT 2:Name} xử lý.</span></i><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Data<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">[</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;<br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Name</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"Tiền. Trần Minh (2)"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">Title</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"Software
Engineer"</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">Site</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"FV"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">},</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">FormID</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"TF000001"</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Type</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"Bàn Giao"</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Reason</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"Cấp mới"</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">},</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;
background:#F9F2F4">StepIndex</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#006666;background:#F9F2F4">2</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;
background:#F9F2F4">UserName</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#008800;background:#F9F2F4">"Khoa. Le Tuan"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">}</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">]</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Kết quả<o:p></o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 4.8pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><br>
<i>Dear&nbsp;<b>Tiền. Trần Minh (2)</b><br>
<br>
Biên bản số&nbsp;<b>TF000001</b>&nbsp;đang được<b>&nbsp;Khoa. Le Tuan</b>&nbsp;xử
lý.</i><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><br>
</span><b><span style="font-size:13.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Ví dụ cho chèn LINK</span></b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Template</span></b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 4.8pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><br>
<i>Dear {TEXT 0:Name}<br>
<br>
Biên bản số {TEXT 1:FormID} đang được {TEXT 2:Name} xử lý.</i>&nbsp;<br>
<br>
<i>Vui lòng vào {LINK 1:Link,LinkAlias} để xem chi tiết</i><br>
<!--[if !supportLineBreakNewLine]--><br>
<!--[endif]--><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Data<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">[</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;<br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Name</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"Tiền. Trần Minh (2)"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">Title</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"Software
Engineer"</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">Site</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"FV"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">},</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">FormID</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"TF000001"</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Type</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"Bàn Giao"</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Reason</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"Cấp mới"</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Link</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;
background:#F9F2F4">"<a href="http://abc.vng.com.vn/?x=X" target="_blank"><span style="color: rgb(17, 85, 204);">http://abc.vng.com.vn?x=X</span></a>"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">,</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:
#F9F2F4">Link</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#660066;background:#F9F2F4">Name</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#008800;background:#F9F2F4">"Biên bản này"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">},</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;
background:#F9F2F4">StepIndex</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#006666;background:#F9F2F4">2</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">,</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;
background:#F9F2F4">UserName</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#008800;background:#F9F2F4">"Khoa. Le Tuan"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">}</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">]</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Kết quả<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 4.8pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:13.0pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><br>
<i>Dear Tiền. Trần Minh (2)<br>
<br>
Biên bản số TF000001 đang được Khoa. Le Tuan xử lý.</i>&nbsp;<br>
<br>
<i>Vui lòng vào&nbsp;<u>Biên bản này</u>&nbsp;để xem chi tiết</i><br>
<!--[if !supportLineBreakNewLine]--><br>
<!--[endif]--><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:13.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Ví dụ cho chèn FOR</span></b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Template</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp; &nbsp;Mail
to:&nbsp;</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">{FOR 0}{ $UserName$; }</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Data<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">[</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">[</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;<br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#C7254E;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#660066;background:#F9F2F4">Role</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4">:</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#008800;background:#F9F2F4">"StoreKeeper"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">,</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">UserName</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"Khoa.
Le Tuan"</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">},</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size:8.5pt;font-family:
Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:
#F9F2F4">{</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">Role</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"StoreKeeper"</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">,</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#660066;background:#F9F2F4">UserName</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#666600;background:#F9F2F4">:</span><span style="font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;
background:#F9F2F4">&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#008800;background:#F9F2F4">"Anh.
Le Quang"</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">}</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
&nbsp; &nbsp;&nbsp;</span><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">]</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:black;background:#F9F2F4"><br>
</span><span style="font-size:8.5pt;font-family:Consolas;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">]</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><br>
Kết quả<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp; Mail to:&nbsp;<b>Khoa.
Le Tuan; Anh. Le Quang;<o:p></o:p></b></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p>&nbsp;</o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><b><span style="font-size:13.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Ví dụ cho chèn FOR
LINK</span></b><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp;Template</span><span style="font-size:9.5pt;
font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">&nbsp;</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 10.5pt; font-family: Helvetica, sans-serif;">{FOR 0:expired_forms}{
$LINK form_link form_link_alias$</span><span style="font-size:9.5pt;font-family:
&quot;Arial&quot;,sans-serif;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 15pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size: 10.5pt; font-family: Helvetica, sans-serif;">}</span><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Data<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">[<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp; {<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; expired_forms:[<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; form_link:
"http://localhost:8084/asset?view=transfer/transferForm&amp;formId=20186",<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; form_link_alias: TF0000020186<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; form_link:
"http://localhost:8084/asset?view=transfer/transferForm&amp;formId=20189",<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; form_link_alias: TF0000020189<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">&nbsp;&nbsp;&nbsp; }<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4">]<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222">Kết quả:<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;mso-bidi-font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4"><a href="http://localhost:8084/asset?view=transfer/transferForm&amp;formId=20186">TF0000020186</a><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-size:10.0pt;mso-bidi-font-size:8.5pt;
font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;
background:#F9F2F4"><a href="http://localhost:8084/asset?view=transfer/transferForm&amp;formId=20189">TF0000020189</a></span><span style="mso-bidi-font-size:9.5pt;font-family:&quot;Arial&quot;,sans-serif;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222"><o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:#FAFAFA"><span style="font-size:8.5pt;font-family:Consolas;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#666600;background:#F9F2F4"><o:p>&nbsp;</o:p></span></p></div>