<script src="resources/scripts/jquery.hotkeys.js" type="text/javascript"></script>
<link href="resources/css/htmlEditor.css" rel="stylesheet" type="text/css"/>
<script src="resources/scripts/bootstrap-wysiwyg.js" type="text/javascript"></script>
<div class="container">	
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6  dropdown-toggle" data-toggle="dropdown" title="Font">
                <span class="glyphicon asset_font_size_10  glyphicon-font" aria-hidden="true"></span><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6  dropdown-toggle" data-toggle="dropdown" title="Font Size">
                <span class="glyphicon asset_font_size_10  glyphicon-text-size" aria-hidden="true"></span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul> 
        </div>
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6 " data-edit="bold" title="Bold (Ctrl/Cmd+B)"><span class="glyphicon asset_font_size_10  glyphicon-bold" aria-hidden="true"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="italic" title="Italic (Ctrl/Cmd+I)"><span class="glyphicon asset_font_size_10  glyphicon-italic" aria-hidden="true"></span></i></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="strikethrough" title="Strikethrough" ><span class="glyphicon asset_font_size_10  glyphicon-font" aria-hidden="true" style="text-decoration: line-through;"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="underline" title="Underline (Ctrl/Cmd+U)"><span class="glyphicon asset_font_size_10  glyphicon-font" aria-hidden="true" style="text-decoration: underline;"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6 " data-edit="insertunorderedlist" title="Bullet list"><span class="glyphicon asset_font_size_10  glyphicon glyphicon-list" aria-hidden="true"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="insertorderedlist" title="Number list">1<span class="glyphicon asset_font_size_10  glyphicon-align-justify" aria-hidden="true"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="outdent" title="Reduce indent (Shift+Tab)"><span class="glyphicon asset_font_size_10  glyphicon-step-backward" aria-hidden="true"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="indent" title="Indent (Tab)"><span class="glyphicon asset_font_size_10  glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6 " data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><span class="glyphicon asset_font_size_10  glyphicon-align-left" aria-hidden="true"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><span class="glyphicon asset_font_size_10  glyphicon-align-center" aria-hidden="true"></span></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><span class="glyphicon asset_font_size_10  glyphicon-align-right" aria-hidden="true"></span></i></a>
            <a class="btn btn-mini asset_padding_6 " data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><span class="glyphicon asset_font_size_10  glyphicon-align-justify" aria-hidden="true"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6  dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><span class="glyphicon asset_font_size_10  glyphicon-globe" aria-hidden="true"></span></a>
            <div class="dropdown-menu input-append">
                <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                <button class="btn btn-mini asset_padding_6 " type="button">Add</button>
            </div>
            <a class="btn btn-mini asset_padding_6 " data-edit="unlink" title="Remove Hyperlink"><span class="glyphicon asset_font_size_10  glyphicon-scissors" aria-hidden="true"></span></a>

        </div>

        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6 " title="Insert picture (or just drag & drop)" id="pictureBtn"><span class="glyphicon asset_font_size_10  glyphicon-picture" aria-hidden="true"></span></a>
            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
        </div>
        <div class="btn-group">
            <a class="btn btn-mini asset_padding_6 " title="View Html Code">
                <span viewMode="nonHtml" onClick="toogleHtmlCode(this);" class="glyphicon asset_font_size_10  glyphicon glyphicon-console" aria-hidden="true"></span>
            </a>            
        </div>

    </div>
    <div id="editor">           
    </div>


</div>
<script>
    function toogleHtmlCode(el) {
        if ($(el).attr('viewMode') === "nonHtml") {
            $(el).attr('viewMode', "html");
            $('#editor').text($('#editor').cleanHtml());
            $(el).css('background-color','#0f0f0f');
        } else {
            $(el).attr('viewMode', "nonHtml");
            $('#editor').html($('#editor').text());
             $(el).css('background-color','');
        }
    }
    $(function () {
        function initToolbarBootstrapBindings() {
            var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                'Times New Roman', 'Verdana'],
                    fontTarget = $('[title=Font]').siblings('.dropdown-menu');
            $.each(fonts, function (idx, fontName) {
                fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
            });
            $('a[title]').tooltip({container: 'body'});
            $('.dropdown-menu input').click(function () {
                return false;
            })
                    .change(function () {
                        $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                    })
                    .keydown('esc', function () {
                        this.value = '';
                        $(this).change();
                    });

            $('[data-role=magic-overlay]').each(function () {
                var overlay = $(this), target = $(overlay.data('target'));
                overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
            });
            if ("onwebkitspeechchange"  in document.createElement("input")) {
                var editorOffset = $('#editor').offset();
                $('#voiceBtn').css('position', 'absolute').offset({top: editorOffset.top, left: editorOffset.left + $('#editor').innerWidth() - 35});
            } else {
                $('#voiceBtn').hide();
            }
        }
        ;

        initToolbarBootstrapBindings();
        $('#editor').wysiwyg();
        //$('.btn-toolbar')[0].remove();
    });
</script>

