<div>     
    <div id="id-asset-image-review-info-panel"></div>
    <div class="asset-center_screen fade in" id="asset-image-review-id">
        <img id="asset-image-review-panel"/>
    </div>

</div>