<div class="popup-wrap popup-base">
    <div class="popup-box popup-box-sl">
        <div class="panel-heading popup-base-title"></div>
        <div class="panel-body popup-base-content"></div>
        <div class="panel-heading popup-base-bottom">
            <button class="btn btn-default popup-base-button" style="display: none;"></button>
            <button class="btn btn-default popup-base-button" style="display: none;"></button>
            <button class="btn btn-default popup-base-button" style="display: none;"></button>
        </div>
    </div>
</div>