
<div class="asset-confirm-box alert alert-info">
    <div id="confirmTitle" class="panel-heading" style="font-weight: bold;font-size: 16px; margin-bottom: 2px !important;"></div>

    <div >
        <div id="confirmContent" style="padding: 10px 15px;">                   
        </div>
        <div style="margin-top: 5px; padding: 10px 15px;">   
            <a id="asset-prevented-sign-out" href="" onclick="Common.signout()"></a>               
        </div>
        <div class="asset_center_text" style="margin-top: 16px;">
            <input value="Quay lại" id="confirm-reject" class="btn btn-success" onclick="CommonModelFunctions.closeConfirm();"/>
            <input data-bind="attr:{'value': CommonModelFunctions.getMessageSource('button_accept')}" id="confirm-ok" class="btn btn-default"/>
        </div>
    </div>
</div>

CommonModelFunctions.

