table.datatable td.tasks > button {
    width: 101px;
    font-size: smaller;
}

.tasks > button[disabled] {
    background-color: silver;
    cursor: not-allowed;
}

[name="qrCodePaging"] {
    position: relative;
    right: 25px;
    top: 415px;
}

table.datatable.no-control tbody tr td.tasks {
    width: 23%;
    text-align: right;
    padding-right: 1%;
}

table.datatable.no-control thead tr th.tasks {
    text-align: center;
    padding-left: 6%;
}

.datatable > thead > tr > th.check {
    width: 30px;
}

.qr-alert {
    max-width: 90%;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
}

.qr-alert > .alert-content {
    min-height: 425px;
    width: 100%;
}

.sys-alert-qr-alert {
    position: absolute;
    top: 45px;
    object-fit: contain;
}

.sys-alert .alert-control {
    text-align: center;
    list-style-type: none;
}

.ticket-container {
    width: 100%;
    overflow-y: auto;
    text-align: center;
}

.tickets {
    margin-bottom: 0;
}

.tickets > .swiper-slide {
    list-style: none;
    max-width: 350px;
}

#qr_group {
    display: table-cell !important;
}

.ticket {
    padding-top: 25px;
    display: inline !important;
}

.ticket:after {
    float: none;
    content: "";
    clear: both;
    width: 100%;
    display: inline;
}

.ticket .qr {
    float: left;
    padding-right: 50px;
    width: 320px;
}

.ticket .info {
    display: block;
    width: 50%;
    float: left;
    padding-top: 23px;
    min-width: 270px;
}

.ticket .info > div {
    padding-bottom: 20px
}

.ticket .info > div > div {
    padding-bottom: 5px
}

.ticket .info > div > div > .name {
    font-weight: bolder;
}

.ticket .info > div > div > .value {
    float: right;
}

.qr > .swiper-wrapper > .swiper-slide {
    width: 33.33%;
}

.swiper-pagination {
    width: 100%;
    margin-top: -28px;
    padding-bottom: 31px;
}

#listWorkFlow_cb {
    position: relative;
    top: -7px;
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    padding-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background: #2881cd;
    color: aqua;
    font-size: smaller;
}
.header-control .addon-control{
    border-width: 0 0 1px 0;
    border-radius: 0;
    margin-right: 10px;
}
.header-control .addon-control *{
    background-color: transparent;
}
.header-control .addon-control button{
    color: #7a7a7a;
    padding: 5px 7px;
}
.header-section .main-title{
    margin: 0px;
}
.request-list{
    margin-top: 0px;
}
[page="user"] .right-panel{
    padding: 0px !important;
    background-color: transparent !important;
    border: 0px !important;
    padding-right: 10px !important;
}
[page="user"] .header-section{
    background-color: #fff;
    padding: 20px;
}