.group-name{
    font-size: larger;
    width: 100%;
    border: none;
    text-align: center;
    margin-bottom: 20px;
}

.filter{
    float: right;
    margin-bottom: 5px;
}

.datatable input.selected{
    width: 15px;
    height: 15px;
}

.save{
    position: fixed;
    bottom: 10px;
    right: 37px;
}