.addon-control{
    display: inline-block;
    border: 1px solid #5c9cd8;
    border-radius: 3px;
}
.addon-control:after{
    content: "";
    display: block;
    clear: both;
}
.addon-control button{
    background-color: #5c9cd8;
}
.addon-control>*{
    height: 100% !important;
    border: 0 !important;
    margin: 0;
    display: table-cell;
}
.addon-control>*:first-child{
    border-radius: 3px 0 0 3px;
}
.addon-control>*:last-child{
    border-radius: 0;
}
