[component="autocomplete"] {
    /*the container must be positioned relative:*/
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 10000;
    margin-top: 7px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    border: 1px solid #c8c8c8;
}
[component="autocomplete"] .autocomplete-item {
    display: block;
    cursor: default;
    padding: 5px 7px;
}
[component="autocomplete"] .autocomplete-item:hover{
    background-color: #eaeaea;
}
