button{
    padding: 10px 20px;
    color: #fff;
    background-color: #f2884b;
    border: 0px solid;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    font-weight: bold;
}
button:active{
    -webkit-box-shadow:inset 0 0 0px 200px rgba(255,255,255,.5),inset 0 0 0px 1px rgba(0,0,0,.7);
    box-shadow:inset 0px 0px 0px 200px rgba(255,255,255,.5),inset 0 0 0px 1px rgba(0,0,0,.7);
}
button.red{
    background-color: #d87272;
}
button.green{
    background-color: #78bc84;
}
button.gray{
    background-color: #ddd;
    color: #000;
}
button.blue{
    background-color: #3790de;
}
button.full{
    width: 100%;
}
div.option,
button.option{
    position: relative;
    display: inline-block;
}
div.option:before,
button.option:before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    position: absolute;
    right: 10px;
}
div.option options,
button.option options{
    color: #000;
    position: absolute;
    top: 100%;
    background-color: #f8f8f8 !important;
    border: 1px solid #c8c8c8;
    width: max-content;
    right: 0;
    z-index:1;
}
div.option options>div,
button.option options option{
    padding:  7px 15px;
}
div.option options option:hover,
button.option options option:hover{
    background-color: #c8c8c8;
}
div.option:hover options,
button.option:hover options{
    display: block;
}
div.option options,
button.option options{
    display: none;
}