label.checkbox-label{
    cursor: pointer;
    user-select: none;
}
[component="checkbox"],
label.label-checkbox{
    -webkit-appearance: none;
    content: ' ';
    padding: 3px 10px;
    border: 1px solid rgba(0,0,0,.4);
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    margin: 0;
    cursor: pointer;
    text-indent: 0px;
    display: inline-block;
}
[component="checkbox"]:checked,
label.label-checkbox[checked]{
    color: #66a864;
    border-color: #66a864;
}
[component="checkbox"]:not(:checked),
label.label-checkbox:not([checked]){
    color: #c45050;
    border-color: #c45050;
}
[component="checkbox"]:checked:after {
    content: '✔ True';
}
[component="checkbox"]:not(:checked):after {
    content: '✘ False';
}
[component="checkbox"].nolabel{
    padding: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
[component="checkbox"].onlychecked:checked:after{

}
[component="checkbox"].onlychecked:not(:checked):after{
    content: '✘' !important;
    color: #fff !important;
}
[component="checkbox"].onlychecked:not(:checked){
    border: 1px solid #c1c1c1;
}
[component="checkbox"].cb-cus-supply:checked:after {
    color: #66a864;
    content: '✔ Còn cung cấp';
}
[component="checkbox"].cb-cus-supply:not(:checked):after {
    color: #c65757;
    content: '✘ Ngừng cung cấp';
}
[component="checkbox"].cb-cus-standard:checked:after {
     color: #66a864;
     content: '✔ Chuẩn IT';
 }
[component="checkbox"].cb-cus-standard:not(:checked):after {
    color: #c65757;
    content: '✘ Không chuẩn IT';
}
[component="checkbox"].nolabel:checked:after {
    color: #66a864;
    content: '✔';
}
[component="checkbox"].cb-cus-standard1,
[component="checkbox"].cb-cus-standard2,
[component="checkbox"].cb-cus-standard3,
label.label-checkbox,
[component="checkbox"].cb-cus-2day,
[component="checkbox"].cb-cus-46week,
[component="checkbox"].stock,
[component="checkbox"].cb-cus-approval{
    border-radius: 3px;
    padding: 0;
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 6px;
}

[component="checkbox"].nolabel:not(:checked):after {
    color: #c65757;
    content: '✘';
}
[component="checkbox"][lang="vn"]:checked:after,
[component="checkbox"].cb-cus-vn:checked:after{
    color: #66a864;
    content: '✔ Có';
}
[component="checkbox"][lang="vn"]:not(:checked):after,
[component="checkbox"].cb-cus-vn:not(:checked):after{
    color: #c65757;
    content: '✘ Không';
}
label[comfor="checkbox"] [component="checkbox"]{
    margin-left: 7px;
}
[component="checkbox"].onlycheck:not(:checked){
    border-color: #ddd !important;
}
[component="checkbox"].onlycheck:not(:checked):after{
    color: #fff;
}
[component="checkbox"].stock:checked:after {
    content: 'Còn hàng';
}
[component="checkbox"].stock:not(:checked):after {
    content: 'Không có sẵn';
}
[component="checkbox"].cb-cus-2day:checked:after {
     content: 'Giao trong 2 ngày';
 }
[component="checkbox"].cb-cus-46week:checked:after {
    content: 'Giao trong 4-6 tuần';
}
[component="checkbox"].cb-cus-approval:checked:after {
    content: 'Không cần phê duyệt';
}
[component="checkbox"].cb-cus-approval:not(:checked):after {
    content: 'Cần phê duyệt';
}
[component="checkbox"].cb-cus-standard1:checked:after {
    content: 'Giao trong 2 ngày';
}
[component="checkbox"].cb-cus-standard2:checked:after {
    content: 'Giao trong 8 ngày';
}
[component="checkbox"].cb-cus-standard3:checked:after {
    content: 'Giao trong 30 ngày';
}