.component-combobox{
     display: inline-flex;
     position: relative;
     /* width: 200px; */
     user-select: none;
     background: #5c9cd8;
     border-radius: 4px;
     cursor: pointer;
     height: 30px;
 }
.component-combobox .wrapper{
    display: inline-block;
    width: auto;
    position: relative;
    width: 100%;
    height: 100%;
}
.component-combobox .wrapper .trigger{
    padding: 0px 40px 0px 8px;
    display: block;
    color: #fff;
    width: 100%;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}
.component-combobox .wrapper .trigger:after{
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}
.component-combobox.opened .wrapper .trigger:after{
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.component-combobox.opened .wrapper .options{
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: 7px;
}
.component-combobox.opened .wrapper .options .sub{
    padding-left: 40px;
}
ul.search-component,
.component-combobox .wrapper .options{
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #c8c8c8 !important;
    border-radius: 4px;
    min-width: 100%;
    z-index: 999999999;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    max-height: 231px;
    overflow: hidden;
    overflow-y: auto;
}
ul.search-component{
    margin:0;
    padding: 0;
    visibility: visible !important;
    display: none;
    opacity: 1;
}
.component-combobox .wrapper .options:before{
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; left: 10px;
    width: 8px; height: 8px;
    margin-bottom: -4px;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}
ul.search-component li,
.component-combobox .wrapper .options span{
    display: block;
    padding:7px 10px;
    border-bottom: 1px solid #c8c8c8;
    color: #727272;
    white-space: nowrap;
}
ul.search-component li:last-child,
.component-combobox .wrapper .options span:last-child{
    border-bottom: 0;
}
ul.search-component li.search-item-selected,
.component-combobox .wrapper .options span:hover{
    font-weight: bold;
    background-color: #e2e2e2;
    text-shadow: 0 -1px 0 #fff;
}
ul.search-component li:first-child:hover::before,
.component-combobox .wrapper .options span:first-child:hover::before{
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; left: 10px;
    width: 8px; height: 8px;
    margin-bottom: -4px;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    background: #e2e2e2;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}