
.input-cam{
    width: 100%;
}
.input-cam>.live-stream{
    left: 20px;
    top: 20px;
    position: absolute;
    bottom: 20px;
    right: 220px;
    overflow: hidden;
}
.input-cam>.live-stream>video{
    width: 100%;
}
.input-cam>.foot>.ctrls{
    position: absolute;
    height: 100%;
    padding-top: 9px;
}

.input-cam>.foot>.cam-ctrls{
    left: 0;
    right: 200px;
    text-align: center;
}

.input-cam>.foot>.popup-ctrls{
    right: 0;
    width: 200px;
    padding-left: 10px;
    text-align: center;
}

.input-cam>.foot>.ctrls > *{
    border-radius:50%;
    border: 5px #ffffffb0 solid;
    padding: 5px;
    background: #e4e2e2;
    color: #4b4b4b;
    margin-left: 10px;
}

.input-cam>.foot>.ctrls > .fa-times{
    width: 51px;
    text-align: center;
}

.input-cam>.foot>.ctrls > *:hover{
    color: #373737;
    cursor: pointer;
}

.input-cam>.foot>.ctrls > *:active{
    transform: scale(.9);
}

.input-cam>.right>.cam-previews{
    height: 100%;
    overflow-y: auto;
}

.input-cam>.right>.cam-previews>img{
    width: 100%;
    padding: 3px;
}

.input-cam>.right{
    position: absolute;
    right: 20px;
    width: 200px;
    top:20px;
    bottom: 20px;

}