[component="form"] {}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[component="form"][align="float"]>.form-content .form-line {
    float: left;
    display: inline-block;

}

[component="form"][align="float"]>.form-content .form-line>span {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

[component="form"][align="float"]>.form-content .form-line>span.field-label[require]:after {
    content: '*';
    color: red;
}

[component="form"][align="float"]>.form-content .form-line>*:not([component="checkbox"]):not([component="imagepicker"]):last-child {
    display: block;
    width: 100%;
}

[component="form"][align="float"]>.form-content:after {
    content: ' ';
    display: block;
    float: none;
    clear: both;
}

[component="form"]>.form-content .form-line {
    display: flex;
    align-items: center;
}

[component="form"]>.form-content .left-side,
[component="form"]>.form-content .right-side {
    display: inline-block;
    padding: 0 2%;
}

[component="form"]>.form-content .left-side .form-line,
[component="form"]>.form-content .right-side .form-line {
    padding: 0;
}

[component="form"]>.form-content .left-side {
    float: left;
}

[component="form"]>.form-content .right-side {
    float: right;
}

[component="form"]>.form-content .form-line.hidden {
    display: none;
}

[component="form"]>.form-content .form-line>span {
    width: 30%;
}

[component="form"]>.form-content .form-line>*:not([component="checkbox"]):not([component="imagepicker"]):last-child {
    width: 69%;
}

[component="form"]>.form-control-panel {
    margin-top: 20px;
    text-align: right;
}

[component="form"]>.form-control-panel button {
    margin-left: 10px;
}

[component="form"]>.form-content .form-line .invalid {
    border-color: #ff8173;
    animation-name: invalid;
    animation-duration: 2s;
}

@keyframes invalid {
    0% {
        border-color: #ff8173;
    }

    20% {
        border-color: #ddd;
    }

    40% {
        border-color: #ff8173;
    }

    60% {
        border-color: #ddd;
    }

    80% {
        border-color: #ff8173;
    }

    100% {
        border-color: #ddd;
    }
}