.group-label{
    border: 1px solid #c8c8c8;
    position: relative;
    display: block;
    border-radius: 5px;
    margin: 20px 0;
}
.group-label h3{
    position: absolute;
    top: -10px;
    font-size: 16px;
    left: 7px;
    background-color: #fff;
    margin: 0;
}
