input,
input[type="text"] {
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 35px;
    outline: none;
    text-indent: 10px;

}
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
    @media {
        input,
        input[type="text"] {
            -webkit-appearance: none;
        }
    }
}

input:not(:disabled):hover,
input[type="text"]:not(:disabled):hover,
input:not(:disabled):focus,
input[type="text"]:not(:disabled):focus {
    border: 1px solid #5c9cd8;
}
input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input:disabled {
    cursor: not-allowed;
}

input[type="search"] {
    margin: 7px 0;
}

td input {
    width: 100%;
    height: 35px;
}

.imagepreview img {
    background-color: #e5e5e5;
    padding: 7px;
    border: 1px solid #b2b2b2;
    width: 150px;
    margin-right: 7px;
    height: 150px;
}

label[type="input-file"] {
    display: inline-block;
    min-height: 30px;
    border-radius: 4px;
    border: 1px solid #5c9cd8;
    background-color: #fff;
    position: relative;
    width: 100%;
}

label[type="input-file"] > span {
    color: gray;
    font-size: 14px;
    display: block;
    line-height: 30px;
    margin-left: 10px;
    white-space: nowrap;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

label[type="input-file"]:active:after {
    -webkit-box-shadow: inset 0 0 0px 0px rgba(0, 0, 0, .5);
    box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, .5);
    line-height: 32px;
}

label[type="input-file"]:after {
    content: '\f093';
    border-radius: 0 4px 4px 0;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: #5c9cd8;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

label[type="input-file"] input[type="file"] {
    display: none;
}