.ricklabel {
    user-select: none;
    padding: 3px 10px;
    border: 1px solid rgba(0,0,0,.4);
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    margin: 0;
    text-indent: 0px;
    display: inline-block;
    border-color: #66a864;
    color: #66a864;
    border-radius: 3px;
    padding: 0;
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
    margin-bottom: 6px;
}