[component="local-paging"]{
  margin: 7px 5px;
  text-align: right;
}
[component="local-paging"]:after{
  clear: both;
  float:none;
  content: "";
  display: block;
}
[component="local-paging"] span.next,
[component="local-paging"] span.previous{
  border: 1px solid #c1c1c1;
  background-color: #fff;
  font-size: 16px;
  line-height: 25px;
}
[component="local-paging"] span.previous{
  text-indent: 0px;
}
[component="local-paging"] span.next{
  text-indent: 2px;
}
[component="local-paging"] span{
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
[component="local-paging"] span:hover{
  background-color: rgba(24, 158, 255,.5);
  color: #fff;
}
[component="local-paging"] span.active{
  background-color: #189eff;
  color: #fff;
}