.main-title {
    font-size: 20px;
    background-color: #3790de;
    display: inline-block;
    position: relative;
    padding: 8px 90px 8px 30px;

    color: #fff;
    line-height: 21px;
    /* overflow: hidden; */
    z-index: 1;
    -webkit-box-shadow: 20px 0px 0 0 #bbd6ee, 40px 0px 0 0 #e2f1ff;
    box-shadow: 20px 0px 0 0 #bbd6ee, 40px 0px 0 0 #e2f1ff;
    margin: 10px 0;
    /* margin-bottom: 20px; */
    border-radius: 5px 0 0 0;
}

.main-title.full {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.main-title.full:before {
    display: none;
}

.main-title:before {
    display: block;
    content: "";
    height: 25px;
    width: 25px;
    position: absolute;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #3790de;
    right: -13px;
    top: 5px;
    -webkit-box-shadow: 14px -14px 0 0 #bbd6ee, 28px -28px 0 0 #e2f1ff;
    box-shadow: 14px -14px 0 0 #bbd6ee, 28px -28px 0 0 #e2f1ff;
}