select[multiple]{
    padding: 10px;
    overflow: auto;
}
select[multiple] optgroup{
    padding-left: 10px;
}
select[multiple] optgroup:after{
    content: "";
    display: block;
    clear: both;
}

select[multiple] option{
    font-size: 16px;
    padding: 3px 0px 3px 7px;
    width: 30%;
    float: left;
    margin: 4px;
}
select[multiple] optgroup option{
    padding: 3px 7px 3px 7px;
    width: unset;
}
select[multiple]:focus option:checked{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a7a7a+0,7a7a7a+100 */
    background: #7a7a7a; /* Old browsers */
    background: -moz-linear-gradient(top, #7a7a7a 0%, #7a7a7a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7a7a7a 0%,#7a7a7a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7a7a7a 0%,#7a7a7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#7a7a7a',GradientType=0 ); /* IE6-9 */
}
select[multiple] option:checked:before{
    content: '✔ ';
    dislay: inline-block;
    color: #66a864;
}
select[multiple] option:not(:checked):before{
    content: '✘ ';
    dislay: inline-block;
    color: #c65757;
}