.com-wapper-number{
    height: 35px;
    width: 150px;
    position: relative;
    display: inline-block;
}
.com-wapper-number [component="number"]{
    outline: none;
    border: 0px;
    text-align: center;
    font-size: 18px;
    height: 100%;
    width: 60%;
    position: relative;
    left: 20%;
    margin: 0;
}
.com-wapper-number .up,
.com-wapper-number .down{
    display: inline-block;
    height:35px;
    width: 20%;
    position: absolute;
    line-height: 35px;
    top: 0;
    color: #fff;
    text-align: center;
    cursor: pointer;

}
.com-wapper-number .up{
    border-radius: 0 3px 3px 0;
    right: 0;
    /* background-color: #4e964f; */
    background-color: #ccc;
}
.com-wapper-number .down{
    border-radius: 3px 0 0 3px;
    left: 0;
    /* background-color: #bc544b; */
    background-color: #ccc;
}
.com-wapper-number .up i,
.com-wapper-number .down i {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.com-wapper-number .up:hover i,
.com-wapper-number .down:hover i{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.com-wapper-number .up:active i,
.com-wapper-number .down:active i{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[component="number"]::-webkit-inner-spin-button,
[component="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    opacity: 0;
    margin: 0;
}
