[component="paging"]{
    margin: 7px 5px;
    text-align: right;
}
[component="paging"]:after{
    clear: both;
    float:none;
    content: "";
    display: block;
}
[component="paging"] span.next,
[component="paging"] span.previous{
    border: 1px solid #c1c1c1;
    background-color: #fff;
    font-size: 16px;
    line-height: 25px;
}
[component="paging"] span.previous{
    text-indent: 0px;
}
[component="paging"] span.next{
    text-indent: 2px;
}
[component="paging"] span{
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
[component="paging"] span:hover{
    background-color: rgba(24, 158, 255,.5);
    color: #fff;
}
[component="paging"] span.active{
    background-color: #189eff;
    color: #fff;
}