[component="imagepicker"]{
    display: block;
}
[component="pickerpopup"]{
    padding: 20px;
    z-index: 999999999;
    position: absolute;
    width: 500px;
    height: 400px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -200px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
    box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
}
[component="pickerpopup"]>span{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: #d87272;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
[component="pickerpopup"]>span:hover{
    background-color: #d87272;
    color: #fff;
}
[component="pickerpopup"] img{
    width: 120px;
    padding: 7px;
    background-color: #d8d8d8;
    border: 1px solid #c1c1c1;
    margin-right: 7px;
}
[component="pickerpopup"] .img-list{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: hidden;
    overflow-y: auto;
}