[component="popup"]{
    position: fixed;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 2001;
    width: 50%;
    left: 25%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    border-radius: 4px;
    top: 16%;
    bottom: 10%;
    overflow: hidden;
}
[component="popup"].show{
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
[component="popup"] h2{
    margin: 0;
    padding: 8px 20px;
    background-color: #2c76b7;
    color: #fff;
    position: relative;
    font-size: 22px;
    border-radius: 4px 4px 0 0;
}
[component="popup"] h2 .close{
    position: absolute;
    right: 0;
    height: 100%;
    display: block;
    width: 40px;
    top: 0;
    text-align: center;
    font-size: 20px;
    padding: 0;
    border-radius: 0 4px 0 0;
}
[component="popup"]>.popup-content{
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    position: relative;
}
[component="popup"]>.popup-bottom {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
[component="popup"]>.popup-bottom button{
    width: 100px;
    border-radius: 3px;
    margin-right: 15px;
}