.pre-load-panel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999999;
    opacity: 1;
    background-color: #ccc;

}
.pre-load-panel .process{
    width: 80%;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #f8f8f8;
    animation-name: waiting;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to bottom, #5893f4, #3875d8);
    position: absolute;
    overflow: hidden;
    left: 10%;
    top: 50%;
    margin-top: -30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
}
.pre-load-panel .process:after{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
@keyframes waiting {
    0% {background-color: #fff;}
    25% {background-color: #ccc;}
    50% {background-color: #fff;}
    75% {background-color: #ccc;}
    100% {background-color: #fff;}
}