.loading{
    position: fixed;
    z-index: 99999999;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.loading>div{
    height: 60px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: -30px;
}
.product-loading{
    padding: 0 20px;
    text-align: left;
    line-height: 60px;
    color: #adadad;
    font-size: 30px;
    height: 62px;
    text-align: center;
}
.loading i,
.product-loading i{
    animation-name: productLoadingAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-right: 5px;
    text-align: center;
}
.loading i{
    font-size: 50px;
    color: #fff;
}
.loading i:nth-child(1),
.product-loading i:nth-child(1){
    -webkit-animation-delay: -2.5s;
    animation-delay: -2.5s;
}
.loading i:nth-child(2),
.product-loading i:nth-child(2){
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
}
.loading i:nth-child(3),
.product-loading i:nth-child(3){
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}
.loading i:nth-child(4),
.product-loading i:nth-child(4){
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}

@-webkit-keyframes productLoadingAni {
    0%, 40%, 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        color: #707070;
    }
}

@keyframes productLoadingAni {
    0%, 40%, 100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }  20% {
       -moz-transform: scale(1.5);
       -webkit-transform: scale(1.5);
       -o-transform: scale(1.5);
       -ms-transform: scale(1.5);
       transform: scale(1.5);
       color: #707070;
    }
}