.product-container{
    margin: 0;
    padding: 0;
    list-style: none inside none;
    display: block;
}
.product-container:after{
    display: block;
    content: "";
    clear: both;
}
.product-container li {
    width: 30%;
    padding: 30px 1.6666665%;
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    padding-bottom: 36px;
}
.product-container li,
.product-container li a{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.product-container li button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    border-radius: 0;
}
.product-container li a{
    display: block;
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
}
.product-container li a span{
    display: block;
    width: 100%;
    text-align: center;
}
.product-container li a span.imgstyle{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 90%;
    min-height: 180px;
}
.product-container li a span.imgstyle img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.product-container li a span.info-text{
    color: #727272;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    height: 70px;
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-container li a span.info-text .short-description{
    font-weight: normal;
}
.product-container li a span.price{
    color: #d65c5c;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
}
.product-container li a span.rating{
    text-indent: -9999px;
    margin: 0px auto;
    height: 28px;
    background: url(../../themes/dndTheme/images/ico/rating.png) left center repeat-x;
}
.product-container li:hover{
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
}
.product-container li:hover a{
    /*-moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);*/
}
.product-container li:hover button{
    display: block;
}
span.inStock,
span.outStock{
    display: block;
    position: absolute;
    z-index: 10;
    color: #676767;
    font-size: 20px;
    right: 20px;
    left: 20px;
    top: 36%;
    margin-top: -22.5px;
    height: 45px;
    text-align:center;
    line-height: 45px;
    opacity: 1;
}
span.transferDays span{
    position: relative;
    z-index: 99;
}
span.transferDays{
    display: block;
    position: absolute;
    background: #e57870;
    color: #fff;
    text-align: center;
    width: 35px;
    right: 30px;
    top: -3px;
    z-index: 10;
    height:38px;
    line-height:35px;
    font-weight: bold;
    border-radius: 3px 0 0 0;
    -webkit-box-shadow: 1.5px 0 0.5px 0 rgba(0,0,0,0.7);
    box-shadow: 1.5px 0 0.5px 0 rgba(0,0,0,0.7);

}
span.transferDays::after{
    display:block;
    content: " ";
    position: absolute;
    top:0;
    right:-3px;
    z-index:0;
    width:3px;
    height:3px;
    background-color:#713e3b;
    border-radius: 0 10px 0 0;
}

span.transferDays::before{
    display:block;
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 7px 17.5px;
    border-color: #e57870  #e57870 transparent #e57870;
    bottom:-1px;
    background-color: #fff;
}
[section="detail"] span.transferDays{
    width: 50px;
    height: 70px;
    line-height:65px;
    font-size: 20px
}
[section="detail"] span.transferDays::before{
    border-width: 20px 25px;
    bottom: -1px;
}
span.isStandard,
span.needApproval{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    background-size: 100%;
    z-index: 99;
    background-repeat: no-repeat;
    background-position: center center;
}
span.isStandard{
    top: 10px;
    right: 10px;
}
span.needApproval{
    top: 15px;
    left: 30px;
    background-size: 80%;
    width: auto;
    background-color: #2881cd;
    height: auto;
    padding: 3px 11px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px 30px 2px 30px;
}
span.needApproval b{
    color: #f7ee51;
}
span.isStandard[standard="1"]{
    background-image: url("../../img/icon/2hDelivery.png");
}
span.isStandard[standard="0"]{
    background-image: url("../../img/icon/4-6Delivery.png");
}
span.isStandard[standard="2"]{
    background-image: url("../../img/icon/8D.png");
}
span.isStandard[standard="3"]{
    background-image: url("../../img/icon/30D.png");
}
span.needApproval[needapproval="1"]{
}
span.needApproval[needapproval="0"]{
    display: none;
}
span.outStock{
    color: #5a5a5a;
    background-color: #cccccc;
    width: unset !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,b7b7b7+50,000000+100&0+0,1+50,0+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(183,183,183,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgb(214, 214, 214) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgb(214, 214, 214) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}