[component="rate"] {
    display: block;
    min-height: 35px;
    position: relative;
    width: fit-content !important;
    margin-top: 7px;
}
[component="rate"].small{
    min-height: 15px;
    line-height: 15px;
}
[component="rate"].small .display{
    font-size: 20px;
}

[component="rate"].small .rate-item{
    font-size: 25px;
}
[component="rate"].small{
    min-height: 10px;
    line-height: 10px;
}
[component="rate"].tiny .display{
    font-size: 15px;
}
[component="rate"].tiny .rate-item{
    font-size: 15px;
}
[component="rate"].tiny{
    display: inline-block;
    min-height: 10px;
    line-height: 10px;
}
[component="rate"] .display{
    display: inline-block;
    font-size: 2em;
    position: absolute;
    left: 100%;
    margin-left: 10px;
    width: 250px;
    text-align: left;
}
[component="rate"] .rate-item{
    font-family: FontAwesome;
    display: inline-block;
    font-size: 2em;
    float: right;
    color: #ddd;
    cursor: pointer;
}

[component="rate"] .rate-item:before{
    content: "\f005";
}

[component="rate"] .rate-item:nth-child(2n):before{
    content: "\f089";
    position: absolute;
}
[component="rate"] .rate-item.checked,
[component="rate"] .rate-item.checked ~ .rate-item,
[component="rate"]:not(.disable) .rate-item:not(.checked):hover,
[component="rate"]:not(.disable) .rate-item:not(.checked):hover ~ .rate-item{
    color: #FFD700;
}
[component="rate"]:not(.disable) .rate-item:hover + .rate-item.checked,
[component="rate"]:not(.disable) .rate-item.checked ~ .rate-item:hover{
    color: #FFED85;
}