[component="readmore-panel"]{
    overflow: hidden;
    position: relative;
}
[component="readmore-panel"]:hover .btn-read-more.active{
    opacity: 0.7;
}
[component="readmore-panel"] .btn-read-more.active{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    opacity: 0;
    text-align: center;
    border: 1px solid #ddd;
    background-color:  #f8f8f8;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
[component="readmore-panel"] .btn-read-more.off{
    display: none;
}