.request-list{
    list-style: none inside none;
    padding: 0;
    margin: 0;
}
.request-list>li{
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 15px;
}
.request-list>li .request-info{
    border-bottom: 1px solid #d8d8d8;
    padding: 10px;
    position: relative;
    display: block;
}
.request-list>li .request-info .order-created{
    display: block;
    font-size: 13px;
    color: #777777;
    padding: 3px 0;
}
.request-list>li .request-info .order-number{
    display:block;
    color: #000;
    font-weight: 600;
    padding: 3px 0;
}
.request-list>li .request-info .status{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12.5px;
    color: #616161;
}
.request-list>li .request-info .status span.pendingAt[status="done"]{
    background-color: #ade6cd;
}
.request-list>li .request-info .status span.pendingAt[status="cancel"]{
    background-color: #f3cdc2;
}
.request-list>li .request-info .status span.pendingAt{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    user-select: none;
    background-color: #ece4ad;
    display: inline-block;
}
.request-list>li .request-info .status span.stepName{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    user-select: none;
    background-color: #dedede;
    display: inline-block;
}
.request-list>li .request-info .status span.pendingTime{
    font-size: 11px;
    padding-right: 10px;
    padding-top:  3px;
    float: right;
}
.request-list>li .request-info .status[status="done"]{
    background-color: #c1c1c1;
    color: #616161;
}
.request-list>li .request-item .item{
    padding: 10px 20px;
}
.request-list>li .request-item .item>span{
    display: inline-block;
    vertical-align: top;
}
.request-list>li .request-item .item .asset-type{
    width: 280px;
}
.request-list>li .request-item .item .asset-model{
    width: 280px;
}
.request-list>li .request-item .item .asset-name{
    width: 130px;
}
.request-list>li .more-item{
    display: block;
    text-align: left;
    line-height: 25px;
    user-select: none;
    padding-left: 20px;
}
.header-control{
    position: relative;
    min-height: 35px;
}
.head-filter {
    margin-top: 10px;
    padding: 0 10px;
    display: inline-block;
}
.head-filter a{
    display: inline-block;
    padding: 7px 15px;
    border-bottom: 4px solid transparent;
}
.head-filter a.active{
    font-weight: bold;
    border-bottom-color: #f2884b;
}
.result-total{
    font-size:  11pt;
    color: #777777;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.result-total>span{
    display: inline-block;
    vertical-align: bottom;
}
.request-list>li.row:after{
    content: "";
    display: table;
    clear: both;
}
.request-list>li.row .column{
    display: table-cell;
}
.request-list>li.row .selectControl{
    padding: 20px 10px;
    vertical-align: top;
}
.request-list>li.row .left{
    width: 100%;
}
.request-list>li.row .right{
    padding: 0px 10px;
    vertical-align: middle;
}
.count-label {
    font-size: 10px;
    background-color: #cecece;
    padding: 2px 4px;
    border-radius: 10px;
    color: #808080;
    position: relative;
    top:-5px;
}
.btn-request-filter{
    position: relative;
    border: 1px solid transparent !important;
    padding-right: 18px !important;
}
button.btn-request-filter.option options option{
    text-align: left;
}
button.btn-request-filter.option:before{
    margin-top: 5px;
}
.btn-request-filter:hover{
    border-color: #ccc !important;
}