.select-product {
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.1);
    overflow: hidden;
}
.select-product h2 {
    width: auto;
    text-transform: none;
    font-size: 17px;
    line-height: 47px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #2881cd;
    border-bottom: solid 1px #e0e0e0;
    padding: 0 10px 0 15px;
    /*background: url(../../themes/dndTheme/images/ico/title-check.png) 10px center no-repeat;*/
    margin: 0;
}
.select-product ul {
    margin: 0;
    padding: 10px 0;
    list-style: none inside none;
    max-height: 452px;
    overflow: hidden;
    overflow-y: auto;
}
.select-product ul li {
    display: block;
    clear: both;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    width: 100%;
    color: #d8d8d8;
}
.select-product ul li a {
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
    color: #727272;
    text-decoration: none;
    width: 100%;
    display: block;
}
.select-product ul li.active,
.select-product ul li:hover{
    background-color: #f2884b;
    color: #fff;
}
.select-product ul li.active a,
.select-product ul li:hover a{
    color: #fff;
}
.select-product ul li a span img{
    position: relative;
    top: 2px;
    left: -5px;
}