.sys-alert {
    width: 40%;
    height: fit-content;
    max-height: 90%;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    left: 30%;
    background-color: #fff;
    z-index: 3000;
    display: block;
    visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.sys-alert.show{
    visibility: visible;
    opacity: 1;
    top: 50px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    z-index: 99999999;
}
.sys-alert .alert-content{
    padding: 20px;
}
.sys-alert .alert-control{
    padding: 7px;
    background-color: #d8d8d8;
    border-top: 1px solid #c8c8c8;
    text-align: right;
}
.sys-alert .alert-control button{
    margin-right: 10px;
}