.sys-blank{
    z-index: 2000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.sys-loading{

}
.admin-control{
    position: fixed;
    bottom: 20px;
    right: 100px;
    opacity: .7;
    padding: 10px 20px;
    background-color: #858585;
    border-radius: 3px;
    z-index: 999;
}
.admin-control:hover{
    opacity: 1;
}
.admin-control a{
    cursor: pointer;
}
