[component="tab"] {

}
[component="tab"]>ul{
    position: relative;
    top: 1px;
    margin: 0;
    padding: 0;
}
[component="tab"]>ul>li{
    display: inline-block;
    margin-right: 5px;
    background-color: #ddd;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    color: #989898;
    user-select: none;
    cursor: pointer;
}
[component="tab"]>ul>li:first-child{
    margin-left: 10px;
}
[component="tab"]>ul>li.active{
    background-color: #fff;
    border-bottom-color: #fff;
    color: #000;
}
[component="tab"] div.tabContent{
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px 20px;
    border-radius: 3px;
}
[component="tab"] div.tabContent.active{
    display: block;

}