table.datatable {
    border-collapse: collapse;
    width: 100%;
}
table.datatable thead tr th{
    text-align: left;
}
table.datatable.no-control thead tr th,
table.datatable thead tr th:not(:last-child) {
    padding: 6px;
    font-weight: bold;
    border-bottom: 1px solid #d8d8d8;
}

table.datatable tbody tr td{
    position: relative;
    padding: 10px 6px;
}
table.datatable tbody tr:hover{
    background-color: rgba(245, 245, 245, 0.5);
}
table.datatable tbody tr td:last-child{
    width: 60px;
}
table.datatable.no-control tbody tr td:last-child{
    width: auto;
}
table.datatable tbody tr td input.disabled {
    border: 0;
    color: #c1c1c1;
}
table.datatable tbody tr td:last-child a i{
    display: block;
    width: 100%;
    height: 100%;
}
table.datatable tbody tr td:last-child a{
    width: 45%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
table.datatable tbody tr td:last-child a:not(.disabled):hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

}
table.datatable tbody tr td:last-child a i.fa-pencil{
    color: #edc43d;
}
table.datatable tbody tr td:last-child a i.fa-check{
    color: #659655;
}
table.datatable tbody tr td:last-child a i.fa-trash{
    color: #d16b47;
}
table.datatable tbody tr td:last-child a i.fa-ban{
    color: #d16b47;
}
table.datatable tbody tr td:last-child a.disabled i{
    color: #ddd;
    cursor: not-allowed;
}
table.datatable tfoot tr td{
    height: 30px;
}
table.datatable tfoot tr td input{
    width: 100%;
    height: 100%;
    outline: none;
}
table.datatable td:last-child,
table.datatable th:last-child{
    padding: 0;
}
table.datatable td:last-child button,
table.datatable th:last-child button{
    border: 0;
    width: 100%;
    height: 100%;
    padding:0;
    font-size: 18px;
    line-height: 32px;
}
/*
table.datatable tfoot tr td{
    padding-top: 20px !important;
    text-align: right;
}
table.datatable tfoot tr td span
{
    display: inline-block;
    min-width: 30px;
    width: fit-content;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 7px;
    border: 1px solid #d8d8d8;
    color: #939393;
    cursor: pointer;
}
table.datatable tfoot tr td span:last-child,
table.datatable tfoot tr td span:first-child{
    background-color: #c1c1c1;
}
table.datatable tfoot tr td span:last-child:after{
    content: " >";
}
table.datatable tfoot tr td span:first-child:before{
    content: "< ";
}

table.datatable tfoot tr td span.active{
    background-color: #2c76b7;
    color: #fff;
}
*/