.VNGSearchPopup {
    position: absolute;
    background-color: #fff;
    border: 1px solid #c8c8c8 !important;
    border-radius: 4px;
    z-index: 999999999;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    max-height: 231px;
    overflow: hidden;
    overflow-y: auto;
    list-style: none inside none;
    padding: 0;
    margin: 0;
}
.VNGSearchPopup:before{
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; left: 10px;
    width: 8px; height: 8px;
    margin-bottom: -4px;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
    display: none;
}
.VNGSearchPopup li{
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}
.VNGSearchPopup li:hover{
    font-weight: bold;
    background-color: #e2e2e2;
    text-shadow: 0 -1px 0 #fff;
}