.datatable thead tr:first-child th {
    text-align: left;
}

.datatable thead tr:not(:first-child) th:last-child,
.datatable tbody tr td:last-child {
    display: none;
    width: 0px;
}

#listWorkFlow_cb {
    position: relative;
    top: -7px;
    font-weight: bold;
}

.helpdesk-control {
    margin-bottom: 10px;
}

.helpdesk-control .addon-control {
    display: block;
    width: 100%;
    text-align: right;
}

.helpdesk-control .addon-control input {
    width: 92%;
}

[page="user"] .right-panel {
    padding: 0px !important;
    background-color: transparent !important;
    border: 0px !important;
    padding-right: 10px !important;
}

[section="list-order"] .header-section {
    background-color: #fff;
    padding: 20px;
}

.request-list {
    margin-top: 0px;
}

.header-control .addon-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    margin: 5px 15px 0px 15px;
    width: 320px;
}

.header-control .addon-control > * {
    background-color: transparent;
}

.header-control .addon-control button {
    color: #7a7a7a;
    padding: 5px 7px;
    float: right;
}

.header-control .addon-control input {
    padding-top: 7px;
    width: 90%;
}

.header-control button {
    border: 1px solid #d1d1d1;
    display: inline-block;
    color: #777777;
    padding: 5px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f8f8f8;
    cursor: pointer;
    user-select: none;
}

.header-control button:hover {
    background-color: #e9e9e9;
}

.header-section .main-title {
    margin: 0px;
}

.head-filter label {
    padding: 0px 5px;
}

.result-total {
    top: 0px;
}

.hidden {
    display: none !important;
}

.result-text {
    float: right;
    padding-top: 15px;
    color: #777777;
}

[name="popupFilter"] .popup-bottom {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
[name="popupFilter-body"] .component-combobox {
    width: auto;
    margin: 0px 20px 20px 20px;
    display: block;
}
[name="dateFilter"] {
    margin: 20px;
}
[name="labelFilter"] {
    margin: 20px 20px 0px 20px;
}

[name="dateFilter"]{
    text-align: justify;
}
[name="dateFilter"]:after{
    content: "";
    width: 100%;
    display: inline-block;
}
[name="dateFilter"] label, input{
    display: inline-block;
}