@font-face {
font-family: 'Glyphicons Halflings';
src: url('http://portal.itdev.vng.com.vn/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.eot');
src: url('http://portal.itdev.vng.com.vn/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://portal.itdev.vng.com.vn/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://portal.itdev.vng.com.vn/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://portal.itdev.vng.com.vn/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'), url('http://portal.itdev.vng.com.vn/wp-content/themes/IT%20Portal/fonts/glyphicons-halflings-regular.woff2') format('woff2');
