.header {
    position: relative;
    height: 70px;
    background-color: #4b6293;
}

.header > span.logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
}

.header > .search-header-block {
    position: absolute;
    top: 0;
    left: 150px;
    right: 200px;
    bottom: 0;
}
.header > .search-header-block > .search-block{
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    text-align: left;
}
.header > .search-header-block > .search-block > input[type="text"] {
    border: 0 solid #2d3d60;
    border-radius: 3px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.header > .search-header-block > .search-block > span.glyphicon.glyphicon-search {
    position: absolute;
    right: 0;
    width: 40px;
    top: 0;
    bottom: 0;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    color: #bcbcbc;
    cursor: pointer;
}
.header > .user-info-block {
    position: absolute;
    right: 0;
    width: 200px;
    bottom: 0;
    top: 0;
}
.header > .search-header-block > .menu-btn{
    position: absolute;
    left: 10%;
    top: 27%;
    font-size: 23px;
    color: #fff;
}
.header > .search-header-block > .menu-btn > span:nth-of-type(2){
    font-size: 20px;
}