input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
select {
    border-radius: 4px;
    border: 1px solid #5c9cd8;
    height: 25px;
    outline: none;
    text-indent: 10px;
}

.group-label {
    padding: 15px 30px;
}

.con {
    padding: 10px 30px;
    display: inline-block;
}


.sys-alert.show{
    min-width: 1000px;
}
.sys-alert.show>.alert-content{

    overflow: scroll;
    max-height: 600px;
    min-width: 1000px;
}
