table.datatable td.tasks > button{
    width: 101px;
    font-size: smaller;
}

.tasks > button[disabled]{
    background-color: silver;
    cursor: not-allowed;
}

table.datatable.no-control tbody tr td.tasks{
    width: 23%;
    text-align: right;
    padding-right: 1%;
}

table.datatable.no-control thead tr th.tasks{
    text-align: center;
    padding-left: 6%;
}

.datatable > thead > tr > th.check{
    width: 30px;
}

.qr-alert{
    max-width: 90%;
    width: unset;
    left: 50%;
    transform: translateX(-50%);
}

.qr-alert > .alert-content{
    min-height: 425px;
    width: 100%;
}


.ticket-container{
    width: 100%;
    overflow-y: auto;
    text-align: center;
}

.tickets{
    margin-bottom: 0;
}

.tickets > .swiper-slide{
    list-style: none;
    max-width: 350px;
}

.ticket{
    padding-top: 25px;
}

.ticket:after{
    float: none;
    content: "";
    clear: both;
    width: 100%;
    display: block;
}


table .wf-name, table .order-check{
    cursor: pointer;
}

.ticket .qr{
    float: left;
    padding-right: 50px;
    width: 90%;
}
.ticket .info{
    display: block;
    float: left;
    padding-top: 23px;
    min-width: 272px;
}

.ticket .info>div{
    padding-bottom: 20px;
}

.ticket .info>div>div{
    padding-bottom: 5px;
}

.ticket .info>div>div> .name{font-weight: bolder;}
.ticket .info>div>div> .value{float: right;}

.qr> .swiper-wrapper> .swiper-slide{
    width: 33.33%;
}

.swiper-container{
    width: 100%;
    height: 100%;
    padding-top: 28% !important;
}

.swiper-pagination{
    width:100%;
    padding-bottom: 31px;
}


.swiper-pagination>.swiper-pagination-bullet{
    width: 18px;
    height: 18px;
    padding-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background: #2881cd;
    color: aqua;
    font-size: smaller;
}