.workflows {
    margin-top: 20px;
    width: 100%
}

.workflows>tbody>tr>td{
    padding:5px;
}
.workflows>tbody>tr>td:hover{
    background-color: #f0f4f0;
}


.search-box input{
    width: 100%;
    height: 35px;
}

.history-option > a{
    font-size: smaller;
    color: #365899;
    padding-right: 6px;
    margin-bottom: 5px;
}

.history-option > a:hover{
    text-decoration:underline;
}
.history-option.show>a{
    float: right;
}
.history-option.show:after{
    float:none;
    content: "";
    clear:both;
    width: 100%;
    display: block;
}

.history-option.hide>a{
    width: unset !important;
}

.history-option.hide>a:hover{
    transform: none !important;
}

.process{
    /*height: 0;*/
    transition: .3s;
    /*overflow: hidden;*/
    /*padding: 0px 20px;*/
}

.process.show{
    height: unset;
    overflow: unset;
}

.btn-approves > button{
    min-width: 85px;
}
.btn-approves > .approve {
    background: #73ce88;
}
.btn-approves > .none-approve {
    background: silver;
}
.btn-approves > .cancel-request {
    float: left;
}
.btn-approves:after{
    float:none;
    content: "";
    clear:both;
    width: 100%;
    display: block;
}
.workflow:after{
    float:none;
    content: "";
    clear:both;
    width: 100%;
    display: block;
}

.history>strong{
    font-size: larger;
    font-weight: bolder;
}

.mention[placeholder]:empty:before {
    content: attr(placeholder);
    float: left;
    margin-left: 2px;
    padding-top: 2px;
    color: gray;
}

.comment{
    position: relative;
    margin-top: 10px;
    padding: 0 20px;
}

.comment > .comment-input{
    position: relative;
    margin-top: 10px;
    border: 1px solid #c8c8c8;
    padding: 10px 75px 10px 10px;
    border-bottom: none;
    border-radius: 100px;
}

.comment > input{
    width: 100%;
    padding-right: 80px;
    font-size: unset;
}


.comment-controls{
    position: absolute;
    right: 10px;
    top:0;
    bottom:0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 11px;
}

.comment-controls > .control{
    font-size: larger;
    color: rgb(89, 89, 89);
    cursor: pointer;
    padding-right: 13px;
}
.comment-controls > .control:hover{
    font-weight: bolder;
}

button {
    padding: 10px 8px;
}

#task-gui > .comment-input{
    border-radius: 4px;
    border: 1px solid #5c9cd8;
    height: 25px;
    min-height: 100px;
    padding: 5px;
}
.mention[placeholder]:empty:before {
    font-size: smaller;
}


.popup-base-type-info > .popup-approve {
    background-color: #337ab7 !important;
}

.popup-approve > .panel-body > textarea::-webkit-input-placeholder {
    font-size: larger;
}
.wftable td{
    padding: 0 !important;
}

.process-status-name{
    color: white;
    background: #3790de;
    border-radius: 3px;
    padding: 2px 9px;
}

.btn-create-request{
    padding-left: 30px;
    padding-right: 30px;
}

.field-item> .search-box > ul > li{
    font-size: 13px;
}

.attachments{
    padding-top: 4px;
    padding-left: 5px;
}

.attachments>.attackment{
    width: 100%;
    margin-bottom: 5px;
}

.attachments>.attackment>.name{
    width: 50%;
    min-width: 230px;
    padding-right:25px;
}

@keyframes proocess-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.attachments>.attackment>.status.wating{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: proocess-spin 2s linear infinite;
    vertical-align: middle;
}

.attachments>.attackment>.status.error{
    color: #d54e00;
    font-size: smaller;
    padding-left: 10px;
}

.attachments>.attackment>.control{
    margin-left: -25px;
    cursor: pointer;
}
.attachment-controls{
    padding: 10px;
    margin-bottom: -20px;
}

.attachment-controls > .control{
    font-size: larger;
    padding-right: 12px;
    cursor: pointer;
}
.attachment-controls > .control:hover{
    transform: scale(1.2);
    transition: .2s;
}
.attackments>.attackment> .control:hover{
    transform: scale(1.2);
    transition: .2s;
}

table.history .attachments:last-child{
    padding-right: 10%;
    text-align: right;
}

.history .attachments>.item{
    background: #f8f8f8;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    border-radius: 3px;
}
.history .attachments>.item:hover{
    background: #efefef;
}

.history .attachments>.item>.name{
    padding-left: 5px;
    display: inline-block;
    font-size: smaller;
}
.history .attachments>.item>.download{
    color: #545454;
    font-size: larger;
    padding: 2px 4px 5px 2px;
    margin-left: -3px;
}
.history .attachments>.item>.download:hover{
    color: #1e1e1e;
    background: #dadada;
}
















